<span id="<%= table_type %>_carrier_count" class="pull-right" style="margin-top: -24px; <%= "display: none;" unless show %>">
  <b>Reefers:</b>&nbsp;<u id="<%= table_type %>_reefer_count"></u>&nbsp;&nbsp;
  <b>Teams:</b>&nbsp;<u id="<%= table_type %>_team_count"></u>&nbsp;&nbsp;
  <b>1M:</b>&nbsp;<u id="<%= table_type %>_1m_count"></u>&nbsp;&nbsp;
  <b>6M:</b>&nbsp;<u id="<%= table_type %>_6m_count"></u>&nbsp;&nbsp;
</span>
