<!-- begin page-header -->
<div class="header-scout">
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Carrier' : "Edit Carrier - #{carrier.company_name}" %>

    <i class="fas fa-spinner fa-pulse"></i>
  </h1>
</div>
<!-- end page-header -->
<!-- begin panel -->
<%= form_with(model: carrier, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <div class="panel-heading-btn"></div>
          <h4 class="panel-title">Information</h4>
        </div>
        <div class="panel-body">
          <% if carrier.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(carrier.errors.count, "error") %>
                prohibited this carrier from being saved:</h2>
              <ul>
                <% carrier.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group row m-b-15">
            <%= form.label :category, 'Category:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.select :category, options_for_select(['P', 'S', 'O', 'D'], carrier.category), {:include_blank => true}, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="text-right m-position-left col-md-2 col-6 col-form-label" style="font-size: 16px;">Approved to do business?</label>
            <div class="col-md-9 col-6">
                <%= form.check_box :approved, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: carrier.approved %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="text-right m-position-left col-md-2 col-6 col-form-label" style="font-size: 16px;">Complete Record *:</label>
            <div class="col-md-9 col-6">
                <%= form.check_box :complete_record, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: carrier.complete_record %>

            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :sales_priority, 'Carrier Class:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.select :sales_priority, options_for_select(['New', 'A', 'B', 'C', 'D', 'U'], carrier.sales_priority),{:include_blank => true}, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :company_name, 'Company Name *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.text_field :company_name, class: 'form-control', 'data-parsley-required' => true %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :mc_number, 'MC Number *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.text_field :mc_number, class: 'form-control', 'data-parsley-required' => true %>
              <i id="mc_loader" class="fas fa-spinner fa-pulse loader" style="display: none;"></i>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :relationship_owner, 'Relationship Owner:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.select :relationship_owner, User.where(:ro => true).collect {|r| [ "#{r.first_name} #{r.last_name}", r.id ] },{:include_blank => true, :selected => carrier.relationship_owner}, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :carrier_setup, 'Carrier Setup *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.select :carrier_setup, User.where(:cs => true).collect {|r| [ "#{r.first_name} #{r.last_name}", r.id ] },{:include_blank => true, :selected => carrier.carrier_setup}, class: 'form-control', 'data-parsley-required' => true %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :score_card, 'Score Card:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.number_field :score_card, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :freight_guard, 'Freight Guard:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.number_field :freight_guard, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :years_established, 'Year Established *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.select :years_established, (Time.zone.now.year - 80)..(Time.zone.now.year),{:include_blank => true, :selected => (carrier.years_established.blank? ? '' : carrier.years_established)}, class: 'form-control', id: 'years_established', 'data-parsley-required' => true %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :years_in_business, 'Years in Business:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.number_field :years_in_business, class: 'form-control', id: 'years_in_business', disabled: true %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :power_units, 'Power Units *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.number_field :power_units, class: 'form-control', 'data-parsley-required' => true, 'data-parsley-min' => '0' 	 %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :company_drivers, 'Company Drivers *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.number_field :company_drivers, class: 'form-control', 'data-parsley-required' => true, 'data-parsley-min' => '0' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :owner_operators, 'Owner Operators *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.number_field :owner_operators, class: 'form-control', 'data-parsley-required' => true, 'data-parsley-min' => '0' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :reefers, 'Reefers *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.number_field :reefers, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :dry_vans, 'Dry Vans *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.number_field :dry_vans, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :flat_beds, 'Flat Beds *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.number_field :flat_beds, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :teams, 'Teams:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.number_field :teams, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :contract_rates, 'Contract Rates:', class: 'text-right m-position-left col-md-2 col-4 col-form-label' %>
            <div class="col-md-9 col-8">
                <%= form.check_box :contract_rates, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: carrier.contract_rates %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :total_fleet_size, 'Total Fleet Size:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.select :total_fleet_size, options_for_select(['1', '2-5', '6-25', '26-50', '51-100', '101-250', '> 250'], carrier.total_fleet_size),{:include_blank => true}, class: 'form-control', 'data-parsley-required' => true %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :find_loads, 'How do they find loads?:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.text_area(:find_loads, cols: 20, rows: 10, class: 'tinymce') %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :notes, 'Notes:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.text_area(:notes, cols: 20, rows: 5, class: 'tinymce') %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :attachment_file, 'Attachements:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.file_field :attachment_file, multiple: true %>
            </div>
          </div>
          <hr>
          <h4 class="text-inverse">Address</h4>
          <%= render 'carrier_locations/fields', carrier_location: (carrier.location.nil? ? CarrierLocation.new : carrier.location), form: form %>
          <div class="form-group row m-b-15">
            <div class="col-md-2"></div>
            <div class="col-md-9 col-sm-12 d-flex justify-content-end">
              <%= form.submit 'Submit', :class => 'btn btn-primary' %>
              <% if params[:action] == 'edit' %>
                &nbsp;&nbsp;<%= link_to 'Show', carrier, :class => 'btn btn-info' %>
              <% end %>
              <% if params[:action] == 'new' %>
                &nbsp;&nbsp;<%= link_to 'Back', carriers_path, :class => 'btn btn-default' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- end panel -->
<%= tinymce %>
<!-- end panel -->
<script type="text/javascript">
  var current_mc_number = '<%= carrier.mc_number %>';

  function checkMCNumber(mc_number) {
    $.ajax({
      method: 'get',
      url: '/api/carriers/check_mc_number',
      data: {mc_number: mc_number}
    }).done(function(data) {
      if (data.available){
        $('#carrier_mc_number').removeClass('parsley-error');
        $("#mc_number_msg").remove();
        $('#carrier_mc_number').addClass('parsley-success');
        $('#carrier_mc_number').after(function() {
          return "<ul class='parsley-success-list filled' id='mc_number_msg'><li class='parsley-required'><b>MC Number is Available.</b></li></ul>";
        });
        $(':input[type="submit"]').prop('disabled', false);
      }else{
        $('#carrier_mc_number').removeClass('parsley-success');
        $("#mc_number_msg").remove();
        $('#carrier_mc_number').addClass('parsley-error');
        $('#carrier_mc_number').after(function() {
          return "<ul class='parsley-errors-list filled' id='mc_number_msg'><li class='parsley-required'>" + data.error +"</li></ul>";
        });
      }
    });
  }
  $(document).ready(function() {

    $('#carrier_mc_number').on('change keyup', function() {
      var mc_number = $(this).val();
      $('#mc_loader').show();
      $(':input[type="submit"]').prop('disabled', true);
      if (mc_number) {
        if (current_mc_number != ''){
          if (mc_number != current_mc_number) {
            checkMCNumber(mc_number);
          }else{
            $('#carrier_mc_number').removeClass('parsley-error');
            $("#mc_number_msg").remove();
            $('#carrier_mc_number').addClass('parsley-success');
            $('#carrier_mc_number').after(function() {
              return "<ul class='parsley-success-list filled' id='mc_number_msg'><li class='parsley-required'><b>This is Carrier's current MC Number.</b></li></ul>";
            });
            $(':input[type="submit"]').prop('disabled', false);
          }
        }else{
          checkMCNumber(mc_number);
        }
      }else{
        $('#carrier_mc_number').addClass('parsley-error');
        $("#mc_number_msg").remove();
        $('#carrier_mc_number').after(function() {
          return "<ul class='parsley-errors-list filled' id='mc_number_msg'><li class='parsley-required'>This value is required.</li></ul>";
        });
      }
      $('#mc_loader').hide();
    });

    $('#carrier_reefers').on('change keyup', function(){
      if ($('#carrier_reefers').val() > 0) {
        $("#carrier_dry_vans").attr({ "min" : 0 });
        $("#carrier_flat_beds").attr({ "min" : 0 });
      } else {
        $("#carrier_dry_vans").attr({ "min" : 0 });
        $("#carrier_flat_beds").attr({ "min" : 0 });
      }
    });
    $('#carrier_dry_vans').on('change keyup', function(){
      if ($('#carrier_dry_vans').val() > 0) {
        $("#carrier_reefers").attr({ "min" : 0 });
        $("#carrier_flat_beds").attr({ "min" : 0 });
      } else {
        $("#carrier_reefers").attr({ "min" : 0 });
        $("#carrier_flat_beds").attr({ "min" : 0 });
      }
    });
    $('#carrier_flat_beds').on('change keyup', function(){
      if ($('#carrier_flat_beds').val() > 0) {
        $("#carrier_reefers").attr({ "min" : 0 });
        $("#carrier_dry_vans").attr({ "min" : 0 });
      } else {
        $("#carrier_reefers").attr({ "min" : 0 });
        $("#carrier_dry_vans").attr({ "min" : 0 });
      }
    });
  });
</script>
