<style>
  @media (max-width: 767px) {
    .text-right {
      text-align: left!important;
    }
  }
</style>
<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Carrier' : "Edit Carrier - #{carrier.company_name}" %>
<!-- end page-header -->
<!-- begin panel -->

<%= form_with(model: carrier, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn"></div>
        <h4 class="panel-title">
        Information</h4>
      </div>
      <div class="panel-body">
        <% if carrier.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(carrier.errors.count, "error") %>
              prohibited this carrier from being saved:</h2>

            <ul>
              <% carrier.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group row m-b-15">
          <label class="text-right col-md-2 col-sm-4 col-form-label" style="font-size: 16px;">Complete Record *:</label>
          <div class="col-md-9 col-sm-8">
            <input type="checkbox" name="complete_record" data-render="switchery" data-theme="default" data-secondary-color="rgb(255, 91, 87)" <%= carrier.complete_record ? 'checked' : '' %>/>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :company_name, 'Company Name:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.text_field :company_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :score_card, 'Score Card:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.number_field :score_card, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :freight_guard, 'Freight Guard:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.number_field :freight_guard, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :years_in_business, 'Years in Business:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.number_field :years_in_business, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :owner_operators, 'Owner Operators:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.number_field :owner_operators, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :reefers, 'Reefers:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.number_field :reefers, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :dry_vans, 'Dry Vans:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.number_field :dry_vans, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :flat_beds, 'Flat Beds:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.number_field :flat_beds, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :teams, 'Teams:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.number_field :teams, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :sales_priority, 'Carrier Class:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.select :sales_priority, options_for_select(['A', 'B', 'C', 'D'], carrier.sales_priority),{:include_blank => true}, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :contract_rates, 'Contract Rates:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.select :contract_rates, options_for_select(['< 10', '10-25', '25-50', '50+'], carrier.contract_rates),{:include_blank => true}, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :total_fleet_size, 'Total Fleet Size:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.select :total_fleet_size, options_for_select(['1', '2-5', '6-25', '26-50', '51-100', '101-250', '> 250'], carrier.total_fleet_size),{:include_blank => true}, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :find_loads, 'How do they find loads?:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.text_area(:find_loads, cols: 20, rows: 15, class: 'tinymce') %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :notes, 'Notes:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.text_area(:notes, cols: 20, rows: 15, class: 'tinymce') %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :website, 'Website:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
          <%= form.url_field :website, class: 'form-control'%>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :linkedin, 'LinkedIn:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
          <%= form.url_field :linkedin, class: 'form-control'%>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :attachment_file, 'Attachements:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.file_field :attachment_file, multiple: true %>
          </div>
        </div>
        <hr>
        <h4 class="text-inverse">Address</h4>
        <%= render 'carrier_locations/fields', carrier_location: (carrier.location.nil? ? CarrierLocation.new : carrier.location), form: form %>

        <div class="form-group row m-b-15">
          <div class="col-md-2"></div>
          <div class="col-md-9 col-sm-12 d-flex justify-content-end">
            <%= form.submit 'Submit', :class => 'btn btn-primary' %>
            <% if params[:action] == 'edit' %>
              &nbsp;&nbsp;<%= link_to 'Show', carrier, :class => 'btn btn-info' %>
            <% end %>
            <% if params[:action] == 'new' %>
              &nbsp;&nbsp;<%= link_to 'Back', carriers_path, :class => 'btn btn-default' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
<%= tinymce %>
<!-- end panel -->
