
<!-- begin page-header -->
<!-- end page-header -->
<!-- begin panel -->
  <table class="table table-striped table-bordered display nowrap" id="loads_table">
    <thead>
      <tr>
        <th>Load #</th>
        <th>Ship Date</th>
        <th>Customer</th>
        <th>Origin</th>
        <th>OS</th>
        <th>Destination</th>
        <th>DS</th>
        <th>Curr</th>
        <th>TTT</th>
        <th>Billing</th>
        <th>GM</th>
        <th>GMPER</th>
        <th>Cust Sys</th>
        <th>Carr Sys</th>
        <th>Gross Margin</th>
        <th>Exchange Rate</th>
        <th>Sales</th>
        <th>Dispatch</th>
        <th>Truck</th>
      </tr>
		</thead>
    <tfoot>
      <tr>
        <th>Load #</th>
        <th>Ship Date</th>
        <th>Customer</th>
        <th>Origin</th>
        <th>OS</th>
        <th>Destination</th>
        <th>DS</th>
        <th>Curr</th>
        <th>TTT</th>
        <th>Billing</th>
        <th>GM</th>
        <th>GMPER</th>
        <th>Cust Sys</th>
        <th>Carr Sys</th>
        <th>Gross Margin</th>
        <th>EXCH</th>
        <th>Sales</th>
        <th>Dispatch</th>
        <th>Truck</th>
      </tr>
    </tfoot>

    <tbody class="spacer">
      <% if !loads.nil? %>
        <% loads.each do |load| %>
        <tr>
          <td><%= load.load_num %></td>
          <td><%= load.ship_date.split(' ').first %></td>
          <td><%= load.customer %></td>
          <td><%= load.origin %></td>
          <td><%= load.os %></td>
          <td><%= load.destination %></td>
          <td><%= load.ds %></td>
          <td><%= load.curr.round %></td>
          <td><%= load.ttt.round %></td>
          <td><%= load.billing.round %></td>
          <td><%= load.gm.round %></td>
          <td><%= load.gmper.round %></td>
          <td><%= load.cust_sys.round %></td>
          <td><%= load.carr_sys.round %></td>
          <td><%= load.gross_margin.round %></td>
          <td><%= load.exchange_rate %></td>
          <td><%= load.sales %></td>
          <td><%= load.dispatch %></td>
          <td><%= load.truck %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <script language="javascript">
    $(document).ready(function() {
      filterTable("loads_table");
    });
  </script>
