<table class="table table-bordered display nowrap"  data-order="[[6, &quot;desc&quot;],[7, &quot;desc&quot;],[8, &quot;desc&quot;],[9, &quot;desc&quot;]]" id="<%= table_type %>_table">
  <thead>
    <tr>
      <th></th>
      <th class="text-center"><i class="fas fa-clock"></i></th>
      <th>RO</th>
      <th>Class</th>
      <th>MC</th>
      <th>Name</th>
      <th>Load Days</th>
      <th>Tier</th>
      <th>Load Last Month</th>
      <th>Load Last 6 Month</th>
      <th>ST/PV</th>
      <th>Ops Name</th>
      <th>Ops Phone</th>
      <th>Reef</th>
      <th>Lane</th>
      <th>Ops Email</th>
      <th>Appr</th>
      <th>CR</th>
      <th class="text-center">LstDateCon</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th>RO</th>
      <th>Class</th>
      <th>MC</th>
      <th>Name</th>
      <th>Load Days</th>
      <th>Tier</th>
      <th>Load Last Month</th>
      <th>Load Last 6 Month</th>
      <th>ST/PV</th>
      <th>Ops Name</th>
      <th>Ops Phone</th>
      <th>Reef</th>
      <th>Lane</th>
      <th>Ops Email</th>
      <th>Appr</th>
      <th>CR</th>
      <th>LstDateCon</th>
    </tr>
  </tfoot>
  <tbody class="spacer">
    <% carriers.each do |carrier| %>
      <tr class="<%= (carrier.sales_priority == "B" && carrier.three_weeks_lapse) ? 'table-warning' : '' %>">
        <td><%= carrier.id %></td>
        <td>
          <% if carrier.reminders %>
            <% carrier.reminders.each do |reminder| %>
                <%= reminder_to_html(reminder).html_safe %>
            <% end %>
          <% end %>
        </td>
        <td class="text-center link"><%= carrier.relationship_owner_name.blank? ? '' : "#{link_to(covert_initials(carrier.relationship_owner_name), user_path(:id => carrier.relationship_owner))}".html_safe %></td>
        <td class="text-center"><%= shade_sales_priority(carrier.sales_priority).html_safe %></td>
        <td>
          <%= truncate_mc_number(carrier.mc_number).html_safe%>
        </td>
        <td class="link">
          <%= render "carriers/link", carrier: carrier %>
        </td>
        <td><%= carrier.load_days %></td>
        <td><%= generate_rank_text(carrier.current_tier).html_safe %></td>
        <td><%= carrier.last_month %></td>
        <td><%= carrier.last_6_months %></td>
        <td><%= carrier.state.nil? ? '' : generate_abv(carrier.state).upcase %></td>
        <td>
          <%= truncate_fields(carrier.poc_name).html_safe %>
        </td>
        <td><b><%= carrier.primary_phone.nil? ? '' : generate_phone_number("", carrier.primary_phone, carrier.primary_extension_number, carrier.primary_eligible_texting, carrier.primary_phone_type).html_safe %></b></td>
        <td class="text-center"><%= carrier.reefers %></td>
        <td>
          <% if !carrier.lane_origin.nil? && carrier.lane_origin != "" %>
            <% carrier.lane_origin.split(',').map(&:to_s).each do |origin| %>
              <%= generate_location2(origin, params[:controller], carrier.lane_id).html_safe %>
            <% end %>
          <% end %>
          <% if !carrier.lane_destination.nil? && carrier.lane_destination != "" %>
          &rarr;
          <% carrier.lane_destination.split(',').map(&:to_s).each do |destination| %>
            <%= generate_location2(destination, params[:controller], carrier.lane_id).html_safe %>
          <% end %>
        <% end %>
        </td>
        <td>
          <% if !carrier.contact_email.nil?  %>
            <a href="mailto:<%= carrier.contact_email %>?Subject=Hello%20<%= carrier.poc_name.nil? ? '' :  carrier.poc_name.capitalize  %>" target="_top">
              <%= carrier.contact_email.downcase %>&nbsp;<i class="far fa-envelope"></i>
            </a>
          <% end %>
        </td>
        <td class="text-center"><%= carrier.approved ? "<b class='text-success'>Y</b>".html_safe : "<i class='text-danger'>N</i>".html_safe %></td>
        <td class="text-center"><%= carrier.complete_record ? "<b class='text-success'>Y</b>".html_safe : "<i class='text-danger'>N</i>".html_safe %></td>
        <td class="text-center"><%=  carrier.date_opened.nil? ? "" : carrier.date_opened.strftime('%m/%d/%Y').to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>
