<br/>
<div class="row">
  <div class="col text-right">
    Search: <input type="text" id="datatable-search">
  </div>
</div>
<table class="table table-bordered display nowrap" id="<%= table_type %>_table">
  <thead>
    <tr class="odd gradeX">
      <th></th>
      <th class="text-center"><i class="fas fa-clock"></i></th>
      <th>INT</th>
      <th>WB</th>
      <th>RO</th>
      <th>Class</th>
      <th>MC</th>
      <th>Name</th>
      <th>Trucks</th>
      <th>Reef</th>
      <th>Team</th>
      <th>DSL</th>
      <th>Tier</th>
      <th>LW</th>
      <th>1M</th>
      <th>6M</th>
      <th>Lane</th>
      <th>Black-listed</th>
      <th>Ops Name</th>
      <th>Ops Phone</th>
      <th>Ops Email</th>
      <th>Appr</th>
      <th>CR</th>
      <th class="text-center">LstDateCon</th>
    </tr>
  </thead>
</table>
<!-- <script language="javascript">
  $.fn.dataTableExt.afnFiltering.push(function( oSettings, aData, iDataIndex ) {
    var column_index = $('#<%= table_type %>_filter_column').val();
    var comparator = $('#<%= table_type %>_filter_comparator').val();
    var value = $('#<%= table_type %>_filter_value').val();

    if (value) {
      if (value.length > 0 && !isNaN(parseInt(value, 10))) {
        value = parseInt(value, 10);
        var row_data = parseInt(aData[column_index], 10);
        switch (comparator) {
          case 'eq':
            return row_data === value ? true : false;
            break;
          case 'gt':
            return row_data >= value ? true : false;
            break;
          case 'lt':
            return row_data <= value ? true : false;
            break;
          case 'ne':
            return row_data != value ? true : false;
            break;
        }
      }
    }

    return true;
  });
</script> -->
<!-- <script language="javascript">

  $(function () {
    var table;
    $('#<%= table_type %>_table tfoot th').each(function() {
      var title = $(this).text();
      if (title != "" && title != undefined && title != null) {
        $(this).html('<input type="text" placeholder="Search ' + title + '" style="width: 100%;"/>');
      }
    });

    // DataTable
      table = $('#<%= table_type %>_table').DataTable({
      "order": [[ 6, "desc" ], [ 7, "desc" ], [ 8, "desc" ], [ 9, "desc" ]],
      "pageLength": 50,
      'columnDefs': [{
        'targets': 0,
        'checkboxes': {
          'selectRow': true
        }
      }],
      'select': {
        'style': 'multi'
      },
      "scrollX": true,
      "drawCallback": function(settings) {
        $('[data-toggle="tooltip"]').tooltip({
          trigger: 'hover',
          html: true
        })
        var api = this.api();
         nb_cols = api.columns().nodes().length;
         j = 6;
         while(j < nb_cols){
           if ([9, 10, 13, 14, 15].includes(j)) {
             var pageTotal = Math.round(api.column(j, {search: 'applied'}).data().sum() * 100) / 100;
             if (j===9) {
               $('#<%= table_type %>_reefer_count').html(pageTotal);
             }else if(j===10) {
               $('#<%= table_type %>_team_count').html(pageTotal);
             }else if(j===13) {
               $('#<%= table_type %>_lw_count').html(pageTotal);
             }else if(j===14) {
               $('#<%= table_type %>_1m_count').html(pageTotal);
             }else if(j===15) {
               $('#<%= table_type %>_6m_count').html(pageTotal);
             }
           }
           j++;
         }
      }
    });

    // Apply the search
    table.columns().every(function() {
      var that = this;
      $('input', this.footer()).on('keyup change clear', function() {
        $('[data-toggle="tooltip"]').tooltip("hide");
        if (that.search() !== this.value) {
          that.search(this.value).draw();
        }
      });
    });
    innerHTML = $( "#<%= table_type %>_table_filter" ).html()
    operatorSearch = "&nbsp;&nbsp;|&nbsp;&nbsp;Operator Search:&nbsp;&nbsp;<select id='<%= table_type %>_filter_column' class='form-control'><option value='9'>Reefers</option><option value='10'>Teams</option><option value='11'>DSL</option><option value='14'>1M</option><option value='15'>6M</option></select>&nbsp;<select id='<%= table_type %>_filter_comparator' class='form-control'><option value='eq'>=</option><option value='gt'>&gt;=</option><option value='lt'>&lt;=</option><option value='ne'>!=</option></select><input type='text' class='form-control' id='<%= table_type %>_filter_value' style='width: 10%;' '>"
    $( "#<%= table_type %>_table_filter" ).append( operatorSearch );
    $('#<%= table_type %>_filter_column').change(function () {
      table.draw();
    });
    $('#<%= table_type %>_filter_comparator').change(function () {
      table.draw();
    });
    $('#<%= table_type %>_filter_value').keyup(function () {
      table.draw();
    });
  });

</script> -->
