
<table class="table table-bordered display nowrap" id="<%= table_type %>_table">
  <thead>
    <tr>
      <th></th>
      <th class="text-center"><i class="fas fa-clock"></i></th>
      <th>INT</th>
      <th>WB</th>
      <th>RO</th>
      <th>Class</th>
      <th>MC</th>
      <th>Name</th>
      <th>Trucks</th>
      <th>Reef</th>
      <th>Team</th>
      <th>DSL</th>
      <th>Tier</th>
      <th>LW</th>
      <th>1M</th>
      <th>6M</th>
      <th>Lane</th>
      <th>Black-listed</th>
      <th>Ops Name</th>
      <th>Ops Phone</th>
      <th>Ops Email</th>
      <th>Appr</th>
      <th>CR</th>
      <th class="text-center">LstDateCon</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th>INT</th>
      <th>WB</th>
      <th>RO</th>
      <th>Class</th>
      <th>MC</th>
      <th>Name</th>
      <th>Trucks</th>
      <th>Reef</th>
      <th>Team</th>
      <th>DSL</th>
      <th>Tier</th>
      <th>LW</th>
      <th>1M</th>
      <th>6M</th>
      <th>Lane</th>
      <th>Black-listed</th>
      <th>Ops Name</th>
      <th>Ops Phone</th>
      <th>Ops Email</th>
      <th>Appr</th>
      <th>CR</th>
      <th>LstDateCon</th>
    </tr>
  </tfoot>
  <tbody class="spacer">
    <% carriers.each do |carrier| %>
      <%#= (carrier.sales_priority == "B" && carrier.three_weeks_lapse) ? 'table-warning' : '' %>
      <tr class="<%= (carrier.sales_priority == "B" && carrier.three_weeks_lapse) ? 'table-warning' : '' %>">

        <td><%= carrier.id %></td>
        <td>
          <%= format_reminder(carrier.c_reminder_date, carrier.c_reminder_type, carrier.c_reminder_notes).html_safe if carrier.c_reminder_date  %>
        </td>
        <td><%= carrier.interview ? "<i class='text-success'>Yes</i>".html_safe : "<i class='text-danger'>No</i>".html_safe %></td>
        <td><%= carrier.wolfbyte ? "<i class='text-success'>Yes</i>".html_safe : "<i class='text-danger'>No</i>".html_safe %></td>
        <td class="text-center link"><%= carrier.relationship_owner_name.blank? ? '' : "#{link_to(covert_initials(carrier.relationship_owner_name), user_path(:id => carrier.relationship_owner))}".html_safe %></td>
        <td class="text-center"><%= shade_sales_priority(carrier.sales_priority).html_safe %></td>
        <td>
          <%= truncate_mc_number(carrier.mc_number).html_safe%>
        </td>
        <td class="link">
          <%= render "carriers/link", carrier: carrier %>
        </td>
        <td class="text-center" style="font-size: 15px;"><%= carrier.power_units && (carrier.power_units if carrier.power_units > 0) %></td>
        <td class="text-center" style="font-size: 15px;"><%= carrier.reefers && (carrier.reefers if carrier.reefers > 0) %></td>
        <td class="text-center" style="font-size: 15px;"><%= carrier.teams && (carrier.teams if carrier.teams > 0) %></td>
        <td class="text-center" style="font-size: 15px;"><%= carrier.c_mc_latest_date_load_days && (carrier.c_mc_latest_date_load_days if carrier.c_mc_latest_date_load_days > 0) %></td>
        <td><%= generate_rank_text(carrier.c_mc_latest_date_tier).html_safe %></td>
        <td><%= carrier.loads_lw %></td>
        <td class="text-center" style="font-size: 15px;"><%= carrier.c_mc_latest_date_last_month && (carrier.c_mc_latest_date_last_month.round if carrier.c_mc_latest_date_last_month > 0) %></td>
        <td class="text-center" style="font-size: 15px;"><%= carrier.c_mc_latest_date_last_6_months && (carrier.c_mc_latest_date_last_6_months.round if carrier.c_mc_latest_date_last_6_months > 0) %></td>
        <td>
          <% if carrier.c_lane_origin %>
            <% carrier.c_lane_origin.split(',').map(&:to_s).each do |origin| %>
              <%= generate_location2(origin, params[:controller], carrier.c_lane_id).html_safe %>
            <% end %>
          <% end %>
          <% if carrier.c_lane_destination %>
          &rarr;
          <% carrier.c_lane_destination.split(',').map(&:to_s).each do |destination| %>
            <%= generate_location2(destination, params[:controller], carrier.c_lane_id).html_safe %>
          <% end %>
        <% end %>
        </td>
        <td><%= carrier.blacklisted ? "<i class='text-danger'>Yes</i>".html_safe : "<i class='text-success'>No</i>".html_safe %></td>
        <td>
          <%= truncate_fields(carrier.poc_name).html_safe %>
        </td>
        <td><b><%= carrier.primary_phone.nil? ? '' : generate_phone_number("", carrier.primary_phone, carrier.primary_extension_number, carrier.primary_eligible_texting, carrier.primary_phone_type).html_safe %></b></td>
        <td>
          <% if !carrier.contact_email.nil?  %>
            <a href="mailto:<%= carrier.contact_email %>?Subject=Hello%20<%= carrier.poc_name.nil? ? '' :  carrier.poc_name.capitalize  %>" target="_top">
              <%= carrier.contact_email.downcase %>&nbsp;<i class="far fa-envelope"></i>
            </a>
          <% end %>
        </td>
        <td class="text-center"><%= carrier.approved ? "<b class='text-success'>Y</b>".html_safe : "<i class='text-danger'>N</i>".html_safe %></td>
        <td class="text-center"><%= carrier.complete_record ? "<b class='text-success'>Y</b>".html_safe : "<i class='text-danger'>N</i>".html_safe %></td>
        <td class="text-center"><%=  carrier.date_opened.nil? ? "" : carrier.date_opened.strftime('%m/%d/%Y').to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script language="javascript">
  $.fn.dataTableExt.afnFiltering.push(function( oSettings, aData, iDataIndex ) {
    var column_index = $('#<%= table_type %>_filter_column').val();
    var comparator = $('#<%= table_type %>_filter_comparator').val();
    var value = $('#<%= table_type %>_filter_value').val();

    if (value) {
      if (value.length > 0 && !isNaN(parseInt(value, 10))) {
        value = parseInt(value, 10);
        var row_data = parseInt(aData[column_index], 10);
        switch (comparator) {
          case 'eq':
            return row_data == value ? true : false;
            break;
          case 'gt':
            return row_data >= value ? true : false;
            break;
          case 'lt':
            return row_data <= value ? true : false;
            break;
          case 'ne':
            return row_data != value ? true : false;
            break;
        }
      }
    }
    return true;
  });
</script>
<script language="javascript">

  $(function () {
    var table;
    $('#<%= table_type %>_table tfoot th').each(function() {
      var title = $(this).text();
      if (title != "" && title != undefined && title != null) {
        $(this).html('<input type="text" placeholder="Search ' + title + '" style="width: 100%;"/>');
      }
    });

    // DataTable
      table = $('#<%= table_type %>_table').DataTable({
      "order": [[ 6, "desc" ], [ 7, "desc" ], [ 8, "desc" ], [ 9, "desc" ]],
      'columnDefs': [{
        'targets': 0,
        'checkboxes': {
          'selectRow': true
        }
      }],
      'select': {
        'style': 'multi'
      },
      "scrollX": true,
      "pageLength": 50,
      "drawCallback": function(settings) {
        $('[data-toggle="tooltip"]').tooltip({
          trigger: 'hover',
          html: true
        })
        var api = this.api();
         nb_cols = api.columns().nodes().length;
         j = 6;
         while(j < nb_cols){
           if ([6, 7, 10, 11].includes(j)) {
             var pageTotal = Math.round(api.column(j, {search: 'applied'}).data().sum() * 100) / 100;
             if (j===6) {
               $('#<%= table_type %>_reefer_count').html(pageTotal);
             }else if(j===7) {
               $('#<%= table_type %>_team_count').html(pageTotal);
             }else if(j===10) {
               $('#<%= table_type %>_1m_count').html(pageTotal);
             }else if(j===11) {
               $('#<%= table_type %>_6m_count').html(pageTotal);
             }
           }
           j++;
         }
      }
    });

    // Apply the search
    table.columns().every(function() {
      var that = this;

      $('input', this.footer()).on('keyup change', function() {
        if (that.search() !== this.value) {
          that.search(this.value).draw();
        }
      });
    });
    innerHTML = $( "#<%= table_type %>_table_filter" ).html()
    operatorSearch = "&nbsp;&nbsp;|&nbsp;&nbsp;Operator Search:&nbsp;&nbsp;<select id='<%= table_type %>_filter_column' class='form-control'><option value='6'>Reefers</option><option value='7'>Teams</option><option value='8'>DSL</option><option value='10'>1M</option><option value='11'>6M</option></select>&nbsp;<select id='<%= table_type %>_filter_comparator' class='form-control'><option value='eq'>=</option><option value='gt'>&gt;=</option><option value='lt'>&lt;=</option><option value='ne'>!=</option></select><input type='text' class='form-control' id='<%= table_type %>_filter_value' style='width: 10%;' '>"
    $( "#<%= table_type %>_table_filter" ).append( operatorSearch );
    $('#<%= table_type %>_filter_column').change(function () {
      table.draw();
    });
    $('#<%= table_type %>_filter_comparator').change(function () {
      table.draw();
    });
    $('#<%= table_type %>_filter_value').keyup(function () {
      table.draw();
    });
  });

</script>
