<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Carriers' %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    <%= link_to 'New Carrier', new_carrier_path, :class => 'btn btn-primary btn-xs' %>
    </div>
    <h4 class="panel-title">List of Carriers</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered data-table-buttons display nowrap">
      <thead>
        <tr class="odd gradeX">
          <th>Name</th>
          <th>Score Card</th>
          <th>Frieght Guard</th>
          <th>Years in Business</th>
          <th>Owner Operators</th>
          <th>Reefers</th>
          <th>Dry Vans</th>
          <th>Flat Beds</th>
          <th>Teams</th>
          <th>Lane 1</th>
          <th>Lane 2</th>
          <th>Lane 3</th>
          <th>Contact Rates</th>
          <th>How do they find loads</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% @carriers.each do |carrier| %>
          <tr>
            <td><%= link_to carrier.company_name.blank? ? "(no name)" : carrier.company_name, carrier %></td>
            <td><%= carrier.score_card %></td>
            <td><%= carrier.freight_guard %></td>
            <td><%= carrier.years_in_business %></td>
            <td><%= carrier.owner_operators %></td>
            <td><%= carrier.reefers %></td>
            <td><%= carrier.dry_vans %></td>
            <td><%= carrier.flat_beds %></td>
            <td><%= carrier.teams %></td>
            <td><%= carrier.lane_1.nil? ? "" : carrier.lane_1.lane_origin %></td>
            <td><%= carrier.lane_2.nil? ? "" : carrier.lane_2.lane_origin %></td>
            <td><%= carrier.lane_3.nil? ? "" : carrier.lane_3.lane_origin %></td>
            <td><%= carrier.contract_rates %></td>
            <td><%= carrier.find_loads.nil? ? "" : carrier.find_loads.html_safe %></td>
            <td><%= carrier.notes.nil? ? "" : carrier.notes.html_safe %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- end panel -->
