<style>
  .dataTables_scroll{position:relative}
  .dataTables_scrollHead{margin-bottom:40px;}
  .dataTables_scrollFoot{position:absolute; top:38px}
</style>
<!-- begin page-header -->
<!-- end page-header -->
<!-- begin panel -->
<div style="width: 100%">
  <div class="panel panel-scout">
    <div class="panel-heading">
      <div class="panel-heading-btn">
      <%= link_to 'New Carrier', new_carrier_path, :class => 'btn btn-danger btn-xs' %>
      </div>
      <h4 class="panel-title lp-header">Carriers</h4>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-bordered display nowrap"  data-order="[[7, &quot;asc&quot;]]" id="carrier_table">
        <thead>
          <tr>
            <th>Approved</th>
            <th>RO</th>
            <th>Class</th>
            <th>CR</th>
            <th>LstDateCon</th>
            <th>6M</th>
            <th>1M</th>
            <th>Name</th>
            <th>MC</th>
            <th>ST/PV</th>
            <th>Reef</th>
            <th>Lane 1</th>
            <th>Lane 2</th>
            <th>Ops Name</th>
            <th>Ops Phone</th>
            <th>Ops Email</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Approved</th>
            <th>RO</th>
            <th>Class</th>
            <th>CR</th>
            <th>LstDateCon</th>
            <th>6M</th>
            <th>1M</th>
            <th>Name</th>
            <th>MC</th>
            <th>ST/PV</th>
            <th>Reef</th>
            <th>Lane 1</th>
            <th>Lane 2</th>
            <th>Ops Name</th>
            <th>Ops Phone</th>
            <th>Ops Email</th>
          </tr>
        </tfoot>
      <tbody>
        <% @carriers.each do |carrier| %>
          <tr>
            <td class="text-center"><%= carrier.approved ? "<b class='text-success'>Y</b>".html_safe : "<i class='text-danger'>N</i>".html_safe %></td>
            <td class="text-center"><%= carrier.rep.nil? ? '' : "#{link_to("#{carrier.rep.first_name[0]}#{carrier.rep.last_name[0]}", carrier.rep)}".html_safe %></td>
            <td class="text-center"><%= carrier.sales_priority %></td>
            <td class="text-center"><%= carrier.complete_record ? "<b class='text-success'>Y</b>".html_safe : "<i class='text-danger'>N</i>".html_safe %></td>
            <td><%= carrier.last_contact_date.nil? ? "" : carrier.last_contact_date.date_opened.strftime('%d/%m/%Y').to_s %></td>
            <td><%= carrier.load_last_6_month %></td>
            <td><%= carrier.load_last_month %></td>
            <td><%= link_to carrier.company_name.blank? ? "(no name)" : carrier.company_name, carrier %></td>
            <td><%= carrier.mc_number %></td>
            <td><%= carrier.head_office_location.nil? ? '' : carrier.head_office_location.country %></td>
            <td class="text-center"><%= carrier.reefers %></td>
            <td>
              <% carrier.lane_1.each do |lane| %>
                <%= link_to(((!lane.lane_origin.nil? && lane.lane_origin != "") ? "#{lane.lane_origin},#{lane.lane_destination}" : "#{lane.lane_destination}"), lane, class: 'badge') %>

              <% end %>
            </td>
            <td>
              <% carrier.lane_2.each do |lane| %>
                <%= link_to(((!lane.lane_origin.nil? && lane.lane_origin != "") ? "#{lane.lane_origin},#{lane.lane_destination}" : "#{lane.lane_destination}"), lane, class: 'badge') %>
              <% end %>
            </td>
            <td><%= carrier.poc.nil? ? '' : carrier.poc.full_name %></td>
            <td><%= carrier.poc.nil? ? '' : ((!carrier.poc.primary_phone.nil? && carrier.poc.primary_phone != "") ? (carrier.poc.primary_phone + " (#{carrier.poc.primary_phone_type})") : "") %></td>
            <td>
              <% if !carrier.poc.nil?  %>
                <a href="mailto:<%= carrier.poc.email %>?Subject=Hello%20<%= carrier.poc.first_name.nil? ? '' :  carrier.poc.first_name + " " + carrier.poc.last_name  %>" target="_top">
                  <%= carrier.poc.email %>&nbsp;<i class="far fa-envelope"></i>
                </a>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script language="javascript">
  $(document).ready(function() {
    filterTable("carrier_table");
  });
</script>
