
<style>
  p {
    display: inline-block!important;
  }
  .hide {
    visibility: hidden;
  }
  div.link a:visited {
    color: #6f060b!important;
  }
  div.link a {
    text-decoration: underline;
  }
  @media screen and (max-width: 479px) {
    .dt-buttons.btn-group {
      padding-top: 25px!important;
    }
  }
  @media (max-width: 767px) {
    .panel-inverse > .panel-heading {
      background: 0 0;
    }
    .md-nav {
      display: none;
    }
    .nav-pills .nav-link, .nav-pills > li > a {
      background-color: #fff;
      margin: 5px;
    }
    label {
      text-align: left!important;
    }
  }
  label {
    text-align: right;
  }
</style>

<style>
  .badge a {
    color: #fff!important;
  }
  td.link a:visited {
    /* color: #6f060b!important; */
  }
</style>
<% if params[:controller] == "carriers" %>
  <style media="screen">
  .tooltip-inner {
    background-color: #6f060b!important;
  }
  .tooltip .arrow::before{
    border-right-color: #6f060b!important;
  }
  th {
    vertical-align: top;
  }
  </style>
<% end %>
<!-- begin page-header -->
<div class="header-scout">
  <h1 class="pull-left">Carriers</h1>
  <span class="pull-right">
    <%= render 'carriers/header/buttons_and_links' %>
  </span>
</div>
<!-- end page-header -->

<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading" style="padding: 5px 15px">
    <ul class="nav nav-pills md-nav" style="margin-bottom: 0px;">
      <li class="nav-items">
        <a href="#all" data-toggle="tab" class="nav-link" style="padding:5px; margin: 0px 10px" id="btn_all_carriers">
          <span class="d-sm-block d-none"><h4 class="panel-title">All Carriers</h4></span>
        </a>
      </li>
      <li class="nav-items">
        <a href="#customers" data-toggle="tab" class="nav-link active" style="padding:5px; margin: 0px 10px" id="btn_my_carriers">
          <span class="d-sm-block d-none"><h4 class="panel-title">My Carriers</h4></span>
        </a>
      </li>
    </ul>

    <% if is_mobile %>
      <div class="row">
        <div class="col-12 text-center nav-hide" id="m-nav-pill">
          <ul class="nav nav-pills" style="margin-bottom: 0px;">
            <li class="nav-items col-4">
              <a href="#all" data-toggle="tab" class="nav-link" style="padding: 5px 0;" id="btn_all_carriers">
                <span class="d-sm-block"><h4 class="panel-title">All Carriers</h4></span>
              </a>
            </li>
            <li class="nav-items col-4">
              <a href="#customers" data-toggle="tab" class="nav-link active" style="padding: 5px 0;" id="btn_my_carriers">
                <span class="d-sm-block"><h4 class="panel-title">My Carriers</h4></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
    <span id="all_carrier_count" class="pull-right" style="margin-top: -24px; display: none;">
      <b>Reefers:</b>&nbsp;<u id="reefer_count"><%= @reefers %></u>&nbsp;&nbsp;
      <b>Teams:</b>&nbsp;<u id="team_count"><%= @teams %></u>&nbsp;&nbsp;
      <b>1M:</b>&nbsp;<u id="1m_count"><%= @last_month %></u>&nbsp;&nbsp;
      <b>6M:</b>&nbsp;<u id="6m_count"><%= @last_6_months %></u>&nbsp;&nbsp;
    </span>
    <span id="my_carrier_count" class="pull-right" style="margin-top: -24px;">
      <b>Reefers:</b>&nbsp;<u id="my_reefer_count"><%= @my_reefers %></u>&nbsp;&nbsp;
      <b>Teams:</b>&nbsp;<u id="my_team_count"><%= @my_teams %></u>&nbsp;&nbsp;
      <b>1M:</b>&nbsp;<u id="my_1m_count"><%= @my_last_month %></u>&nbsp;&nbsp;
      <b>6M:</b>&nbsp;<u id="my_6m_count"><%= @my_last_6_months %></u>&nbsp;&nbsp;
    </span>
  </div>
  <% if is_mobile %>
    <div class="col-12 text-inverse" id="hide-m-nav"  style="font-size: 14px;">
        <i class="fas fa-plus float-right p-r-10 p-t-10" style="margin-bottom: -20px; margin-top: 20px;"><span class="float-right">&nbsp;show tabs</span></i>
    </div>
    <div class="col-12 nav-hide text-inverse" style="font-size: 14px;" id="show-m-nav">
        <i class="fas fa-minus float-right p-r-10 p-t-10" style="margin-bottom: -20px; margin-top: 20px;"><span class="float-right">&nbsp;hide tabs</span></i>
    </div>
  <% end %>
  <div class="tab-content">
    <!-- begin tab-pane -->
    <div class="tab-pane fade" id="all">
      <div class="panel-body">
        <%= render 'carriers/table', carriers: @carriers, table_type: "carrier" %>
      </div>
    </div>
    <div class="tab-pane fade active show" id="customers">
      <%= render 'carriers/table', carriers: @my_carriers, table_type: "customer" %>
    </div>
  </div>
</div>


<script language="javascript">
  var user_id = "<%= current_user.id %>";
  // var table;
  $(function() {
    filterAndSelectAllTable("customer_table", 1);
    filterAndSelectAllTable("carrier_table", 1);
    // table = filterCarrierTable("carrier_table");
    $('#send-mail-btn').on('click', function(){
        var rows_selected = $('#carrier_table').DataTable().column(0).checkboxes.selected();
        if (rows_selected.join(",") != ""){
          $.redirect('/carriers/compose_mail', {'ids': rows_selected.join(",")});
        }
    });
    $('#send-text-btn').on('click', function(){
        var rows_selected = $('#carrier_table').DataTable().column(0).checkboxes.selected();
        if (rows_selected.join(",") != ""){
          $.redirect('/carriers/compose_sms', {'ids': rows_selected.join(",")});
        }
    });
    $('#carrier_table tbody').on('click', 'input[type="checkbox"]', function (e) {
      var rows_selected = $('#carrier_table').DataTable().column(0).checkboxes.selected();
      $.ajax({
        method: 'get',
        url: '/api/carriers/summaries?ids=' + rows_selected.join(",")
      }).done(function (data) {
        $('#reefer_count').html(data['reefers']);
        $('#team_count').html(data['teams']);
        $('#1m_count').html(data['last_month']);
        $('#6m_count').html(data['last_6_months']);
      })
    });

    $('#customer_table tbody').on('click', 'input[type="checkbox"]', function (e) {
      var rows_selected = $('#customer_table').DataTable().column(0).checkboxes.selected();
      $.ajax({
        method: 'get',
        url: '/api/carriers/my_summaries?ids=' + rows_selected.join(",")
      }).done(function (data) {
        $('#my_reefer_count').html(data['reefers']);
        $('#my_team_count').html(data['teams']);
        $('#my_1m_count').html(data['last_month']);
        $('#my_6m_count').html(data['last_6_months']);
      })
    });

    $('#btn_all_carriers').click(function (){
      $('#all_carrier_count').show();
      $('#my_carrier_count').hide();
    });

    $('#btn_my_carriers').click(function (){
      $('#my_carrier_count').show();
      $('#all_carrier_count').hide();
    });



    // checkboxes = "<div class='category_filter' style='display: inline;'><h5 style='display: inline; padding-right: 10px;'>P<input style='vertical-align: middle' type='checkbox' name='category' onchange='filterme()' value='P' <%= @carrier_categories[0] ? 'checked' : ''%>></h5>" +
    //              "<h5 style='display: inline; padding-right: 10px;'>S<input style='vertical-align: middle' type='checkbox' name='category' onchange='filterme()' value='S' <%= @carrier_categories[1] ? 'checked' : ''%>></h5>" +
    //              "<h5 style='display: inline; padding-right: 10px;'>O<input style='vertical-align: middle' type='checkbox' name='category' onchange='filterme()' value='O' <%= @carrier_categories[2] ? 'checked' : ''%>></h5>" +
    //              "<h5 style='display: inline; padding-right: 25px;'>D<input style='vertical-align: middle' type='checkbox' name='category' onchange='filterme()' value='D' <%= @carrier_categories[3] ? 'checked' : ''%>></h5></div>"
    // $('#carrier_table_filter').prepend(checkboxes)
    // filterme();
  });
  function filterme() {
    var categories = $('input:checkbox[name="category"]:checked').map(function() {
      return '^' + this.value + '\$';
    }).get().join('|');
    table.search(categories, 5, true, false, false, false).draw();
    // table.fnFilter();

    var userCategories = $('input:checkbox[name="category"]').map(function() {
        return $(this).prop("checked");
    }).get().join(',');
    $.ajax({
      method: "PUT",
      url: "/api/users/" + user_id,
      data: {
        carrier_categories: userCategories
      }
    }).done(function(data) {
    });
  }
</script>
