<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Carriers' %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    <%= link_to 'New Carrier', new_carrier_path, :class => 'btn btn-primary btn-xs' %>
    </div>
    <h4 class="panel-title">List of Carriers</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered data-table-buttons display nowrap">
      <thead>
        <tr class="odd gradeX">
          <th>Company Name</th>
          <th>Head Office</th>
          <th data-orderable="false">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @carriers.each do |carrier| %>
          <tr>
            <td><%= carrier.company_name %></td>
            <td><%= carrier.head_office_location.nil? ? '' : "#{carrier.head_office_location.state}, #{carrier.head_office_location.country}" %></td>
            <td>
              <%= link_to '<i class="far fa-eye"></i>'.html_safe, carrier, :class => 'btn btn-info btn-xs' %>
              <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_carrier_path(carrier), :class => 'btn btn-warning btn-xs' %>
              <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, carrier, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs'%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- end panel -->
