<style>
  p {
    display: inline-block!important;
  }
  .hide {
    visibility: hidden;
  }
  div.link a:visited {
    color: #6f060b!important;
  }
  div.link a {
    text-decoration: underline;
  }
  @media screen and (max-width: 479px) {
    .dt-buttons.btn-group {
      padding-top: 25px!important;
    }
  }
  @media (max-width: 767px) {
    .panel-inverse > .panel-heading {
      background: 0 0;
    }
    .md-nav {
      display: none;
    }
    .nav-pills .nav-link,
    .nav-pills > li > a {
      background-color: #fff;
      margin: 5px;
    }
    label {
      text-align: left!important;
    }
  }
  label {
    text-align: right;
  }
</style>

<style>
  .badge a {
    color: #fff!important;
  }
  td.link a:visited {
    /* color: #6f060b!important; */
  }
</style>
<% if params[:controller] == "carriers" %>
  <style media="screen">
    .tooltip-inner {
      background-color: #6f060b!important;
    }
    .tooltip .arrow::before {
      border-right-color: #6f060b!important;
    }
    th {
      vertical-align: top;
    }
  </style>
<% end %>
<!-- begin page-header -->
<div class="header-scout">
  <h1 class="pull-left">Carriers</h1>
  <span class="pull-right">
    <%= render 'carriers/header/buttons_and_links' %>
  </span>
</div>
<!-- end page-header -->

<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading" style="padding: 5px 15px">
    <ul class="nav nav-pills md-nav" style="margin-bottom: 0px;">
      <li class="nav-items">
        <a href="#all" data-toggle="tab" class="nav-link" style="padding:5px; margin: 0px 10px" id="btn_all_carriers">
          <span class="d-sm-block d-none">
            <h4 class="panel-title">All Carriers</h4>
          </span>
        </a>
      </li>
      <li class="nav-items">
        <a href="#customers" data-toggle="tab" class="nav-link active" style="padding:5px; margin: 0px 10px" id="btn_my_carriers">
          <span class="d-sm-block d-none">
            <h4 class="panel-title">My Carriers</h4>
          </span>
        </a>
      </li>
    </ul>

    <% if is_mobile %>
      <div class="row">
        <div class="col-12 text-center nav-hide" id="m-nav-pill">
          <ul class="nav nav-pills" style="margin-bottom: 0px;">
            <li class="nav-items col-4">
              <a href="#all" data-toggle="tab" class="nav-link" style="padding: 5px 0;" id="btn_all_carriers">
                <span class="d-sm-block">
                  <h4 class="panel-title">All Carriers</h4>
                </span>
              </a>
            </li>
            <li class="nav-items col-4">
              <a href="#customers" data-toggle="tab" class="nav-link active" style="padding: 5px 0;" id="btn_my_carriers">
                <span class="d-sm-block">
                  <h4 class="panel-title">My Carriers</h4>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
      <%= render 'carriers/filter_summary', table_type: "carrier", show: false %>
      <%= render 'carriers/filter_summary', table_type: "customer", show: true %>
  </div>
  <% if is_mobile %>
    <div class="col-12 text-inverse" id="hide-m-nav" style="font-size: 14px;">
      <i class="fas fa-plus float-right p-r-10 p-t-10" style="margin-bottom: -20px; margin-top: 20px;">
        <span class="float-right">&nbsp;show tabs</span></i>
    </div>
    <div class="col-12 nav-hide text-inverse" style="font-size: 14px;" id="show-m-nav">
      <i class="fas fa-minus float-right p-r-10 p-t-10" style="margin-bottom: -20px; margin-top: 20px;">
        <span class="float-right">&nbsp;hide tabs</span></i>
    </div>
  <% end %>
  <div class="tab-content">
    <!-- begin tab-pane -->
    <div class="tab-pane fade" id="all">
      <div class="panel-body">
        <%= render 'carriers/table', carriers: @carriers, carr_new: @carr_new, table_type: "carrier" %>
      </div>
    </div>
    <div class="tab-pane fade active show" id="customers">
      <%= render 'carriers/table', carriers: @my_carriers, carr_new: [], table_type: "customer" %>
    </div>
  </div>
</div>

<script language="javascript">
  var user_id = "<%= current_user.id %>";
  $(function () {
    $('#send-mail-btn').on('click', function () {
      var carriers_selected = $('#carrier_table').DataTable().column(0).checkboxes.selected();
      if (carriers_selected.join(",") != "") {
        $.redirect('/carriers/compose_mail', {'ids': carriers_selected.join(",")});
      }

      var customers_selected = $('#customer_table').DataTable().column(0).checkboxes.selected();
      if (customers_selected.join(",") != "") {
        $.redirect('/carriers/compose_mail', {'ids': customers_selected.join(",")});
      }
    });
    $('#send-text-btn').on('click', function () {
      var carriers_selected = $('#carrier_table').DataTable().column(0).checkboxes.selected();
      if (carriers_selected.join(",") != "") {
        $.redirect('/carriers/compose_sms', {'ids': carriers_selected.join(",")});
      }

      var customers_selected = $('#customer_table').DataTable().column(0).checkboxes.selected();
      if (customers_selected.join(",") != "") {
        $.redirect('/carriers/compose_sms', {'ids': customers_selected.join(",")});
      }
    });

    $('#btn_all_carriers').click(function () {
      $('#carrier_carrier_count').show();
      $('#customer_carrier_count').hide();
    });

    $('#btn_my_carriers').click(function () {
      $('#customer_carrier_count').show();
      $('#carrier_carrier_count').hide();
    });
  });
  function filterme() {
    var categories = $('input:checkbox[name="category"]:checked').map(function () {
      return '^' + this.value + '\$';
    }).get().join('|');
    table.search(categories, 5, true, false, false, false).draw();
    // table.fnFilter();

    var userCategories = $('input:checkbox[name="category"]').map(function () {
      return $(this).prop("checked");
    }).get().join(',');
    $.ajax({
      method: "PUT",
      url: "/api/users/" + user_id,
      data: {
        carrier_categories: userCategories
      }
    }).done(function (data) {});
  }
</script>
