<style>
  .badge a {
    color: #fff!important;
  }
  td a:visited {
    color: #6f060b!important;
  }
</style>
<% if params[:controller] == "carriers" %>
  <style media="screen">
  .tooltip-inner {
    background-color: #6f060b!important;
  }
  .tooltip .arrow::before{
    border-right-color: #6f060b!important;
  }
  </style>
<% end %>
<!-- begin panel -->
<div style="width: 100%">
  <div class="panel panel-scout">
    <div class="panel-heading">
      <div class="panel-heading-btn">
      <%= link_to 'New Carrier', new_carrier_path, :class => 'btn btn-danger btn-xs' %>
      </div>
      <h4 class="panel-title lp-header">Carriers</h4>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-bordered display nowrap"  data-order="[[1, &quot;asc&quot;]]" id="carrier_table">
        <thead>
          <tr>
            <th>MC</th>
            <th>Name</th>
            <th>Ops Name</th>
            <th>Ops Phone</th>
            <th>Ops Email</th>
            <th>Reef</th>
            <th>Lane 1</th>
            <th>Lane 2</th>
            <th>Approved</th>
            <th>RO</th>
            <th>Class</th>
            <th>CR</th>
            <th>LstDateCon</th>
            <th>6M</th>
            <th>1M</th>
            <th>ST/PV</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>MC</th>
            <th>Name</th>
            <th>Ops Name</th>
            <th>Ops Phone</th>
            <th>Ops Email</th>
            <th>Reef</th>
            <th>Lane 1</th>
            <th>Lane 2</th>
            <th>Approved</th>
            <th>RO</th>
            <th>Class</th>
            <th>CR</th>
            <th>LstDateCon</th>
            <th>6M</th>
            <th>1M</th>
            <th>ST/PV</th>
          </tr>
        </tfoot>
        <tbody class="spacer">
          <% @carriers.each do |carrier| %>
            <tr>
              <td><%= carrier.mc_number %></td>
              <td>
                <span
                  data-toggle="tooltip"
                  data-placement="right"
                  data-html="true"
                  title="
                    <b>Name</b>: <%= carrier.company_name.blank? ? "(no name)" : carrier.company_name %><br>
                    <b>Ops Name</b>: <%= carrier.poc.nil? ? '' : carrier.poc.full_name %><br>
                    <b>Ops Phone</b>: <%= carrier.poc.nil? ? '' : ((!carrier.poc.primary_phone.nil? && carrier.poc.primary_phone != "") ? (carrier.poc.primary_phone + " (#{carrier.poc.primary_phone_type})") : "") %><br>
                    <b>Ops Email</b>: <%= carrier.poc.nil? ? '' : carrier.poc.email %><br>
                    <b>Class</b>: <%= carrier.sales_priority %><br>
                    <b>MC Number</b>: <%= carrier.mc_number %><br>
                    <b>Reefers Count</b>: <%= carrier.reefers %><br>
                    <b>Sate/Province</b>: <%= carrier.location.nil? ? '' : carrier.location.state %><br>
                    <b>Last Contact Date</b>: <%= carrier.last_contact_date.nil? || carrier.last_contact_date.date_opened.nil? ? "" : carrier.last_contact_date.date_opened.strftime('%d/%m/%Y').to_s %><br>
                  ">
                  <%= link_to carrier.company_name.blank? ? "(no name)" : carrier.company_name, carrier %>
                </span>
              </td>
              <td><%= carrier.poc.nil? ? '' : carrier.poc.full_name %></td>
              <td><b><%= carrier.poc.nil? ? '' : ((!carrier.poc.primary_phone.nil? && carrier.poc.primary_phone != "") ? (carrier.poc.primary_phone + ((!carrier.poc.primary_extension_number.nil? && carrier.poc.primary_extension_number != "") ? (", Ext. " + carrier.poc.primary_extension_number) : "") + " (#{carrier.poc.primary_phone_type})") : "") %></b></td>
              <td>
                <% if !carrier.poc.nil?  %>
                  <a href="mailto:<%= carrier.poc.email %>?Subject=Hello%20<%= carrier.poc.first_name.nil? ? '' :  carrier.poc.first_name + " " + carrier.poc.last_name  %>" target="_top">
                    <%= carrier.poc.email %>&nbsp;<i class="far fa-envelope"></i>
                  </a>
                <% end %>
              </td>
              <td class="text-center"><%= carrier.reefers %></td>
              <td>
                <% carrier.lane_1.each do |lane| %>
                  <% if !lane.lane_origin.nil? && lane.lane_origin != "" %>
                    <% lane.lane_origin_to_array.each do |origin| %>
                      <% if Carrier::LIGHT_BLUE.include?(origin) %>
                        <span class="badge badge-primary"><%= link_to(origin, lane) %></span>
                      <% elsif Carrier::DARK_BLUE.include?(origin) %>
                        <span class="badge badge-drakblue"><%= link_to(origin, lane) %></span>
                      <% elsif Carrier::BLUE.include?(origin) %>
                        <span class="badge badge-info"><%= link_to(origin, lane) %></span>
                      <% elsif Carrier::RED.include?(origin) %>
                      <span class="badge badge-danger"><%= link_to(origin, lane) %></span>
                      <% elsif Carrier::BROWN.include?(origin) %>
                        <span class="badge badge-brown"><%= link_to(origin, lane) %></span>
                      <% elsif Carrier::YELLOW.include?(origin) %>
                        <span class="badge badge-yellow"><%= link_to(origin, lane) %></span>
                      <% elsif Carrier::ORANGE.include?(origin) %>
                        <span class="badge badge-warning"><%= link_to(origin, lane) %></span>
                      <% elsif Carrier::GREEN.include?(origin) %>
                        <span class="badge badge-green"><%= link_to(origin, lane) %></span>
                      <% end %>
                    <% end %>
                    &rarr;
                  <% end %>
                  <% lane.lane_destination_to_array.each do |destination| %>
                    <% if Carrier::LIGHT_BLUE.include?(destination) %>
                      <span class="badge badge-primary"><%= link_to(destination, lane) %></span>
                    <% elsif Carrier::DARK_BLUE.include?(destination) %>
                      <span class="badge badge-drakblue"><%= link_to(destination, lane) %></span>
                    <% elsif Carrier::BLUE.include?(destination) %>
                      <span class="badge badge-info"><%= link_to(destination, lane) %></span>
                    <% elsif Carrier::RED.include?(destination) %>
                    <span class="badge badge-danger"><%= link_to(destination, lane) %></span>
                    <% elsif Carrier::BROWN.include?(destination) %>
                      <span class="badge badge-brown"><%= link_to(destination, lane) %></span>
                    <% elsif Carrier::YELLOW.include?(destination) %>
                      <span class="badge badge-yellow"><%= link_to(destination, lane) %></span>
                    <% elsif Carrier::ORANGE.include?(destination) %>
                      <span class="badge badge-warning"><%= link_to(destination, lane) %></span>
                    <% elsif Carrier::GREEN.include?(destination) %>
                      <span class="badge badge-green"><%= link_to(destination, lane) %></span>
                    <% end %>
                  <% end %>
                  <br>
                <% end %>
              </td>
              <td>
                <% carrier.lane_2.each do |lane| %>
                  <% if !lane.lane_origin.nil? && lane.lane_origin != "" %>
                    <% lane.lane_origin_to_array.each do |origin| %>
                      <% if Carrier::LIGHT_BLUE.include?(origin) %>
                        <span class="badge badge-primary"><%= link_to(origin, lane) %></span>
                      <% elsif Carrier::DARK_BLUE.include?(origin) %>
                        <span class="badge badge-drakblue"><%= link_to(origin, lane) %></span>
                      <% elsif Carrier::BLUE.include?(origin) %>
                        <span class="badge badge-info"><%= link_to(origin, lane) %></span>
                      <% elsif Carrier::RED.include?(origin) %>
                      <span class="badge badge-danger"><%= link_to(origin, lane) %></span>
                      <% elsif Carrier::BROWN.include?(origin) %>
                        <span class="badge badge-brown"><%= link_to(origin, lane) %></span>
                      <% elsif Carrier::YELLOW.include?(origin) %>
                        <span class="badge badge-yellow"><%= link_to(origin, lane) %></span>
                      <% elsif Carrier::ORANGE.include?(origin) %>
                        <span class="badge badge-warning"><%= link_to(origin, lane) %></span>
                      <% elsif Carrier::GREEN.include?(origin) %>
                        <span class="badge badge-green"><%= link_to(origin, lane) %></span>
                      <% end %>
                    <% end %>
                    &rarr;
                  <% end %>
                  <% lane.lane_destination_to_array.each do |destination| %>
                    <% if Carrier::LIGHT_BLUE.include?(destination) %>
                      <span class="badge badge-primary"><%= link_to(destination, lane) %></span>
                    <% elsif Carrier::DARK_BLUE.include?(destination) %>
                      <span class="badge badge-drakblue"><%= link_to(destination, lane) %></span>
                    <% elsif Carrier::BLUE.include?(destination) %>
                      <span class="badge badge-info"><%= link_to(destination, lane) %></span>
                    <% elsif Carrier::RED.include?(destination) %>
                    <span class="badge badge-danger"><%= link_to(destination, lane) %></span>
                    <% elsif Carrier::BROWN.include?(destination) %>
                      <span class="badge badge-brown"><%= link_to(destination, lane) %></span>
                    <% elsif Carrier::YELLOW.include?(destination) %>
                      <span class="badge badge-yellow"><%= link_to(destination, lane) %></span>
                    <% elsif Carrier::ORANGE.include?(destination) %>
                      <span class="badge badge-warning"><%= link_to(destination, lane) %></span>
                    <% elsif Carrier::GREEN.include?(destination) %>
                      <span class="badge badge-green"><%= link_to(destination, lane) %></span>
                    <% end %>
                  <% end %>
                  <br>
                <% end %>
              </td>
              <td class="text-center"><%= carrier.approved ? "<b class='text-success'>Y</b>".html_safe : "<i class='text-danger'>N</i>".html_safe %></td>
              <td class="text-center"><%= carrier.relationship_owner_user.nil? ? '' : "#{link_to("#{carrier.relationship_owner_user.first_name[0]}#{carrier.relationship_owner_user.last_name[0]}", carrier.relationship_owner_user)}".html_safe %></td>
              <td class="text-center"><%= shade_sales_priority(carrier.sales_priority).html_safe %></td>
              <td class="text-center"><%= carrier.complete_record ? "<b class='text-success'>Y</b>".html_safe : "<i class='text-danger'>N</i>".html_safe %></td>
              <td><%= carrier.last_contact_date.nil? || carrier.last_contact_date.date_opened.nil? ? "" : carrier.last_contact_date.date_opened.strftime('%d/%m/%Y').to_s %></td>
              <td><%= carrier.load_last_6_month %></td>
              <td><%= carrier.load_last_month %></td>
              <td><%= carrier.location.nil? ? '' : carrier.location.state %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script language="javascript">
  $(document).ready(function() {
    filterTable("carrier_table");
  });
</script>
