<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Carriers' %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    <%= link_to 'New Carrier', new_carrier_path, :class => 'btn btn-primary btn-xs' %>
    </div>
    <h4 class="panel-title">List of Carriers</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered data-table-buttons display nowrap">

      <thead>
        <tr class="odd gradeX">
          <th rowspan="2">Name</th>
          <th rowspan="2">Complete?</th>
          <th rowspan="2">Last Contact</th>
          <th rowspan="2">Score Card</th>
          <th rowspan="2">Frieght Guard</th>
          <th rowspan="2">Years in Business</th>
          <th rowspan="2">Owner Operators</th>
          <th rowspan="2">Reefers</th>
          <th rowspan="2">Dry Vans</th>
          <th rowspan="2">Flat Beds</th>
          <th rowspan="2">Teams</th>
          <th colspan="3" class="text-center">Priority</th>
          <th rowspan="2">Contact Rates</th>
          <th rowspan="2">How do they find loads</th>
          <th rowspan="2">Notes</th>
        </tr>
        <tr>
          <th>High</th>
          <th>Meduim</th>
          <th>Low</th>
        </tr>
      </thead>
      <tbody>
        <% @carriers.each do |carrier| %>
          <tr>
            <td><%= link_to carrier.company_name.blank? ? "(no name)" : carrier.company_name, carrier %></td>
            <td><%= carrier.complete_record ? "<i class='text-success'>Completed</i>".html_safe : "<i class='text-danger'>Incomplete</i>".html_safe %></td>
            <td><%= carrier.last_contact_date.nil? ? "" : (carrier.last_contact_date.date_opened.to_s + " " + (carrier.last_contact_date.rep.nil? ? "" : link_to(carrier.last_contact_date.rep.full_name, carrier.last_contact_date.rep))).html_safe %></td>
            <td><%= carrier.score_card %></td>
            <td><%= carrier.freight_guard %></td>
            <td><%= carrier.years_in_business %></td>
            <td><%= carrier.owner_operators %></td>
            <td><%= carrier.reefers %></td>
            <td><%= carrier.dry_vans %></td>
            <td><%= carrier.flat_beds %></td>
            <td><%= carrier.teams %></td>
            <td>
              <% carrier.lane_1.each do |lane| %>
                <%= link_to(lane.lane_origin, lane, class: 'badge') %>
              <% end %>
            </td>
            <td>
              <% carrier.lane_2.each do |lane| %>
                <%= link_to(lane.lane_origin, lane, class: 'badge') %>
              <% end %>
            </td>
            <td>
              <% carrier.lane_3.each do |lane| %>
                <%= link_to(lane.lane_origin, lane, class: 'badge') %>
              <% end %>
            </td>
            <td><%= carrier.contract_rates %></td>
            <td><%= carrier.find_loads.nil? ? "" : carrier.find_loads.html_safe %></td>
            <td><%= carrier.notes.nil? ? "" : carrier.notes.html_safe %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- end panel -->
