
<style>
  p {
    display: inline-block!important;
  }
  .hide {
    visibility: hidden;
  }
  @media (max-width: 767px) {
    .panel-inverse > .panel-heading {
      background: 0 0;
    }
    .md-nav {
      display: none;
    }
    .nav-pills .nav-link, .nav-pills > li > a {
      background-color: #fff;
      margin: 5px;
    }
    label {
      text-align: left!important;
    }
  }
  label {
    text-align: right;
  }
</style>
<!-- begin page-header -->
<div class="header-scout">
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title: generate_alphanumeric_id(@carrier.company_name, @carrier.id), sub_header_title: @carrier.company_name %>
  </h1>
  <span class="pull-right">
    <%= link_to 'Edit', edit_carrier_path(@carrier), :class => 'btn btn-warning btn-xs' %>
    <%= link_to 'Back', carriers_path, :class => 'btn btn-info btn-xs' %>
    <%= link_to 'Delete', @carrier, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs'%>
  </span>
</div>
<!-- end page-header -->

<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading" style="padding: 5px 15px">
    <div class="panel-heading-btn" style="margin-top: 2.5px;">
      <button type="button" class="btn btn-xs btn-primary new-attachment-btn" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content='<%= form_with(model: @carrier, local: true, :html => {class: 'form-horizontal text-right'}) do |form| %><%= form.hidden_field :attachment_only, :value => true %><%= form.file_field :attachment_file, multiple: true %><%= form.submit 'Submit', :class => 'btn btn-xs btn-success', disabled: true %><% end %>'>
        Add Attachment
      </button>
      <%= link_to 'New Location', new_carrier_location_path(:carrier_id => @carrier.id), :class => 'btn btn-primary btn-xs new-location-btn' %>
      <%= link_to 'New Contact', new_carrier_contact_path(:carrier_id => @carrier.id), :class => 'btn btn-primary btn-xs new-contact-btn' %>
      <%= link_to 'New Activities', new_activity_path(:carrier_id => @carrier.id, :previous_controller => params[:controller]), :class => 'btn btn-primary btn-xs new-activity-btn' %>
      <%= link_to 'New Lane', new_carrier_lane_path(:carrier_id => @carrier.id), :class => 'btn btn-primary btn-xs new-lane-btn' %>
      <%#= link_to 'New Rates', new_carrier_rate_path(:carrier_id => @carrier.id, :previous_controller => params[:controller]), :class => 'btn btn-primary btn-xs new-rate-btn' %>
    </div>
    <ul class="nav nav-pills md-nav" style="margin-bottom: 0px;">
      <li class="nav-items">
        <a href="#company-name" data-toggle="tab" class="nav-link active show hide-btn" style="padding:5px; margin: 0px 10px">
          <span class="d-sm-block d-none"><h4 class="panel-title">General</h4></span>
        </a>
      </li>
      <li class="nav-items">
        <a href="#attachments" data-toggle="tab" class="nav-link attachment-btn" style="padding:5px; margin: 0px 10px">
          <span class="d-sm-block d-none"><h4 class="panel-title">Attachments</h4></span>
        </a>
      </li>
      <li class="nav-items">
        <a href="#lanes" data-toggle="tab" class="nav-link lane-btn" style="padding:5px; margin: 0px 10px">
          <span class="d-sm-block d-none"><h4 class="panel-title">Lanes</h4></span>
        </a>
      </li>
      <li class="nav-items">
        <a href="#activity" data-toggle="tab" class="nav-link activity-btn" style="padding:5px; margin: 0px 10px">
          <span class="d-sm-block d-none"><h4 class="panel-title">Activities</h4></span>
        </a>
      </li>
      <li class="nav-items">
        <a href="#locations" data-toggle="tab" class="nav-link location-btn" style="padding:5px; margin: 0px 10px">
          <span class="d-sm-block d-none"><h4 class="panel-title"></h4>Locations</span>
        </a>
      </li>
      <li class="nav-items">
        <a href="#contacts" data-toggle="tab" class="nav-link contact-btn" style="padding:5px; margin: 0px 10px">
          <span class="d-sm-block d-none"><h4 class="panel-title"></h4>Contacts</span>
        </a>
      </li>
      <li class="nav-items">
        <a href="#rates" data-toggle="tab" class="nav-link rate-btn" style="padding:5px; margin: 0px 10px">
          <span class="d-sm-block d-none"><h4 class="panel-title"></h4>Rates</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <!-- begin tab-pane -->
    <div class="tab-pane fade active show" id="company-name">
      <div class="panel-body">
        <h3 class="text-inverse"><strong>Details:</strong></h3>
        <div class="row">
          <div class="col-md-4">
            <div class="card bg-light" >
              <div class="card-body">
                <div class="row">
                  <label class="col-md-4 col-form-label">Approved to do business?</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.approved ? "<i class='fas fa-check fa-2x text-success'></i>".html_safe : "<i class='fas fa-times fa-2x text-danger'></i>".html_safe %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Complete Record:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.complete_record ? "<i class='fas fa-check fa-2x text-success'></i>".html_safe : "<i class='fas fa-times fa-2x text-danger'></i>".html_safe %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Last Contact:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.last_contact_date.nil? || @carrier.last_contact_date.date_opened.nil? ? "" : (@carrier.last_contact_date.date_opened.strftime('%d/%m/%Y').to_s + " " + (@carrier.last_contact_date.user.nil? ? "" : link_to(@carrier.last_contact_date.user.full_name, @carrier.last_contact_date.user))).html_safe %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Carrier Class:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.sales_priority %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Company Name:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.company_name %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">MC Number:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.mc_number %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Relationship Owner:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.relationship_owner_user.nil? ? 'Not Assigned' : link_to(@carrier.relationship_owner_user.full_name, @carrier.relationship_owner_user) %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Carrier Setup:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.carrier_setup_user.nil? ? 'Not Assigned' : link_to(@carrier.carrier_setup_user.full_name, @carrier.carrier_setup_user) %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Load Last Month:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.load_last_month %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Last Last 6 Months:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.load_last_6_month %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Last Load Date:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.last_load_date %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Date Approved:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.date_approved %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Date Created:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.created_at.strftime('%d/%m/%Y') %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Score Card:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.score_card %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Freight Guard:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.freight_guard %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Years in Business:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.years_in_business %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Power Units:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.power_units %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Company Drivers:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.company_drivers %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Owner Operators:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.owner_operators %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Reefers:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.reefers %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Dry Vans:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.dry_vans %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Flat Beds:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.flat_beds %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Teams:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.teams %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Contract Rates:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.contract_rates ? "<i class='fas fa-check fa-2x text-success'></i>".html_safe : "<i class='fas fa-times fa-2x text-danger'></i>".html_safe %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Total Fleet Size:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.total_fleet_size %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">How do they find loads:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.find_loads.nil? ? "" : @carrier.find_loads.html_safe %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Notes:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= @carrier.notes.nil? ? "" : @carrier.notes.html_safe %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">Website:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= (!@carrier.website.nil? && @carrier.website.present?) ? "<a href='#{@carrier.website}'>#{@carrier.website}</a>" : "" %>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-4 col-form-label">LinkedIn:</label>
                  <div class="col-md-8 lbl-padding-t">
                    <%= (!@carrier.linkedin.nil? && @carrier.linkedin.present?) ? "<a href='#{@carrier.website}'>#{@carrier.linkedin}</a>" : "" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-light">
              <div class="card-body">
                <h4 class="card-title">Priority Lanes</h4>
                <%= render 'carrier_lanes/table_ordered', lane_1: @carrier.lane_1, lane_2: @carrier.lane_2, lane_3: @carrier.lane_3  %>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-light">
              <div class="card-body">
                <h4 class="card-title">Ops Contact</h4>
                <%= render 'carrier_contacts/show_fields', carrier_contact: @carrier.poc %>
              </div>
            </div>
            <div class="card bg-light">
              <div class="card-body">
                <h4 class="card-title">Decision Maker</h4>
                <%= render 'carrier_contacts/show_fields', carrier_contact: @carrier.pdm %>
                <%# if @carrier.pdm.nil? && @carrier.adm.length > 0 %>
                <%# else %>
                  <%#= render 'carrier_contacts/show_fields', carrier_contact: @carrier.pdm %>
                <%# end %>
                <%# if @carrier.adm.length > 0 %>
                  <!-- <br/>
                  <div class="hlc"><span class="bg-light">ALTERNATE</span></div> -->
                  <%# @carrier.adm.each do |contact| %>
                    <%#= render 'carrier_contacts/show_fields', carrier_contact: contact %>
                  <%# end %>
                <%# end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="attachments">
      <div class="panel-body">
        <table class="table table-striped table-bordered data-table-no-buttons display nowrap">
          <thead>
            <tr class="odd gradeX">
              <th width="1%"></th>
              <th>Name</th>
              <th>Date</th>
              <th data-orderable="false"></th>
            </tr>
          </thead>
          <tbody>
            <% @carrier.attachment_file.each_with_index do |attachment_file, index| %>
              <tr>
                <td><%= attachment_file.id %></td>
                <td><%= attachment_file.filename %></td>
                <td><%= convert_date(attachment_file.created_at) %></td>
                <td>
                  <%= link_to '<i class="fas fa-download"></i>'.html_safe, rails_blob_path(attachment_file), target: :_blank, :class => 'btn btn-primary  btn-xs' %>
                  <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, remove_attachment_carriers_path(:id => @carrier.id, :attachment_id => attachment_file.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs'%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="lanes">
      <div class="panel-body">
        <%= render 'carrier_lanes/table', carrier_lanes: @carrier.carrier_lanes %>
      </div>
    </div>
    <div class="tab-pane fade" id="activity">
      <div class="panel-body">
        <%= render 'activities/table', show_carrier: false, show_shipper: false, activities: @carrier.activities %>
      </div>
    </div>
    <div class="tab-pane fade" id="locations">
      <div class="panel-body">
        <%= render 'carrier_locations/table', carrier_locations: @carrier.locations, client: nil, carrier: @carrier %>
      </div>
    </div>
    <div class="tab-pane fade" id="contacts">
      <div class="panel-body">
        <table class="table table-striped table-bordered data-table-buttons display nowrap" id="contact_table">
          <thead>
            <tr class="odd gradeX">
							<th width="1%">Primary</th>
              <th>Type</th>
              <th>Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>Primary Phone</th>
              <th>Secondary Phone</th>
              <th>Social</th>
              <th data-orderable="false">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% CarrierContact.where(:carrier_id => @carrier.id).each do |contact| %>
              <tr>
                <td style="text-align: center;">
                  <%= (contact.same_ho) ? '<div class="mr-0 tags"><span class="label label-primary">SHO</span></div>'.html_safe : '' %>
                  <%= (@carrier.pdm_id == contact.id) ? '<div class="mr-0 tags"><span class="label label-success">PDM</span></div>'.html_safe : '' %>
                  <%= (@carrier.poc_id == contact.id) ? '<div class="mr-0 tags"><span class="label label-green">POC</span></div>'.html_safe : '' %>
                  <%= contact.adm ? '<div class="mr-0 tags"><span class="label label-lime">ADM</span></div>'.html_safe : '' %></td>
                <td><%= contact.contact_type %></td>
                <td><%= contact.first_name.nil? ? '' :  contact.first_name + " " + contact.last_name  %></td>
                <td><a href="mailto:<%= contact.email %>?Subject=Hello%20<%= contact.first_name.nil? ? '' :  contact.first_name + " " + contact.last_name  %>" target="_top"><%= contact.email %>&nbsp;<i class="far fa-envelope"></a></i></td>
                <td><%= contact.same_ho ? (@carrier.head_office_location.nil? ? '' : "#{format_address(@carrier.head_office_location.address, @carrier.head_office_location.city, @carrier.head_office_location.state, @carrier.head_office_location.country, @carrier.head_office_location.postal)}") : ("#{format_address(contact.address, contact.city, contact.state, contact.country, contact.postal)}")%></td>
                <td><b><%= contact.primary_phone %>&nbsp;<%= (!contact.primary_phone_type.nil? && contact.primary_phone_type != "") ? "(#{contact.primary_phone_type})" : ""%></b></td>
                <td><%= contact.secondary_phone %>&nbsp;<%= (!contact.secondary_phone_type.nil? && contact.secondary_phone_type != "") ? "(#{contact.secondary_phone_type})" : ""%></td>
                <td style="text-align: center;"><%= contact.linkedin_link.nil? || contact.linkedin_link == "" ? "" : (link_to '<i class="fab fa-linkedin"></i>'.html_safe, contact.linkedin_link, :target => "_blank", :class => "social-links") %></td>
                <td>
                  <a class="btn btn-warning btn-xs" href="<%= edit_carrier_contact_path(contact) %>"><i class="far fa-edit"></i></a>&nbsp;
                  <a data-confirm="Are you sure?" class="btn btn-danger btn-xs" rel="nofollow" data-method="delete" href="/carrier_contacts/<%= contact.id %>"><i class="far fa-trash-alt"></i></a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="rates">
      <div class="panel-body">
        <%= render 'rates/table', rates: @carrier.rates, with_actions: false %>
      </div>
    </div>
    <!-- end tab-pane -->
  </div>
</div>
<!-- end panel -->
<script type="text/javascript">
  $('.new-contact-btn, .new-location-btn, .new-activity-btn, .new-lane-btn, .new-attachment-btn, .new-rate-btn, .new-activity-btn').hide();
  $('.location-btn').on('click', function(){
      $('.new-contact-btn, .new-lane-btn, .new-activity-btn, .new-attachment-btn, .new-rate-btn, .new-activity-btn').hide();
      $('.new-location-btn').show();
  });
  $('.contact-btn').on('click', function(){
      $('.new-location-btn, .new-lane-btn, .new-activity-btn, .new-attachment-btn, .new-rate-btn, .new-activity-btn').hide();
      $('.new-contact-btn').show();
  });
  $('.attachment-btn').on('click', function(){
      $('.new-contact-btn, .new-location-btn, .new-activity-btn, .new-lane-btn, .new-rate-btn, .new-activity-btn').hide();
      $('.new-attachment-btn').show();
  });
  $('.lane-btn').on('click', function(){
      $('.new-contact-btn, .new-location-btn, .new-activity-btn, .new-attachment-btn, .new-rate-btn, .new-activity-btn').hide();
      $('.new-lane-btn').show();
  });
  $('.rate-btn').on('click', function(){
      $('.new-contact-btn, .new-location-btn, .new-activity-btn, .new-attachment-btn, .new-lane-btn, .new-activity-btn').hide();
      $('.new-rate-btn').show();
  });
  $('.activity-btn').on('click', function(){
      $('.new-contact-btn, .new-location-btn, .new-activity-btn, .new-attachment-btn, .new-lane-btn, .new-rate-btn').hide();
      $('.new-activity-btn').show();
  });
  $('.hide-btn').on('click', function(){
      $('.new-contact-btn, .new-location-btn, .new-activity-btn, .new-lane-btn, .new-attachment-btn, .new-rate-btn, .new-activity-btn').hide();
  });

  $('.contact-btn, .lane-btn, .activity-btn, .location-btn, .rate-btn, .hide-btn').popover({ trigger:"manual" }).click(function(){
    $('.popover').popover('hide');
  })
  $('body').on('change', '#carrier_attachment_file', function(){
    var file = $('#carrier_attachment_file').val();
    if(file != null) {
      $('input[name="commit"]').removeAttr("disabled");
    }
  })
  $(document).ready(function() {
    filterTable("carrier_activities_table");
  });
</script>
