<% if mailings.length > 0  %>
  <% mailings.each do |mail|  %>
  <li class="list-group-item">
    <div class="email-checkbox">
      <label>
        <i class="far fa-square"></i>
        <input type="checkbox" data-checked="email-checkbox" value="<%= mail.id %>" />
      </label>
    </div>
    <a href="email_detail.html" class="email-user bg-gradient-blue">
      <span class="text-white"><%= mail.recipient[0].upcase %></span>
    </a>
    <div class="email-info">
      <a href="email_detail.html">
        <span class="email-time"><%= mail.created_at.strftime('%m/%d/%Y')%></span>
        <span class="email-sender"><%= mail.recipient %></span>
        <span class="email-title"><%= mail.subject %></span>
        <span class="email-desc"><%= truncate_html_to_sentence(mail.content_body) %></span>
      </a>
    </div>
  </li>
  <% end %>
<% else %>
<li class="list-group-item text-center">
  <b> No mails available. </b>
</li>
<% end %>
