<style type="text/css">
	.login.login-with-news-feed .news-caption, .register.register-with-news-feed .news-caption {
		background: linear-gradient(to top,rgba(255,255,255,0) 0%, rgba(255,255,255,.8) 40%, rgba(255,255,255,1) 100%);
		top: 0;
		bottom: unset;
		padding: 110px 60px 30px;
	}
	.brand img {
		width: 200px;
		height: 37px;
	}
	.l-con span:nth-child(1) {
	  display: block;
	}
	.news-image {
		background-position: center top!important;
		background-size: contain;
	}
  .news-logo img {
    position: absolute;
    top	: 15px;
    left: 25px;
    width: 250px;
}
	.news-logo img.manage-logo {
		position: absolute;
		top	: 18px;
		left: 300px;
		width: 150px;
	}
</style>
<!-- begin #page-loader -->
<%= render 'devise/static/loader'%>
  <!-- end #page-loader -->

  <!-- begin #page-container -->
  <div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login login-with-news-feed">
      <!-- begin news-feed -->
      <%= render 'devise/static/logo'%>
      <!-- end news-feed -->
      <!-- begin right-content -->
      <div class="right-content">
        <!-- begin login-header -->
        <%= render 'devise/static/header', :header_title => "Resend confirmation instructions"%>
        <!-- end login-header -->
        <!-- begin login-content -->
        <div class="login-content">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, :class => 'margin-bottom-0' }) do |f| %>
	          <%= devise_error_messages! %>
	          <div class="form-group m-b-15">
	            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :class => 'form-control form-control-lg', required: true, placeholder: 'E-mail' %>
	          </div>

            <div class="login-buttons">
              <%= f.submit "Resend confirmation instructions", :class => 'btn btn-scout btn-block btn-lg s-font' %>
            </div>
          <% end %>
          <%= render 'devise/static/links'%>
        </div>
        <!-- end login-content -->
      </div>
      <!-- end right-container -->
    </div>
    <!-- end login -->

  </div>
  <!-- end page container -->
