<div class="form-group row m-b-15 address-fields">
  <%= form.label :address, 'Address *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :address, class: 'form-control', :value => shipper_location.address, :autocomplete => "none", 'data-parsley-required' => true  %>
  </div>
</div>
<div class="form-group row m-b-15 address-fields">
  <%= form.label :city, 'City / Town *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :city, class: 'form-control', :value => shipper_location.city, :autocomplete => "none", 'data-parsley-required' => true  %>
  </div>
</div>
<div class="form-group row m-b-15 address-fields">
  <%= form.label :state, 'Province / State *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.select :state, options_for_select([]),{:include_blank => true}, class: 'form-control static-dropdown', :id => "loc_state", :autocomplete => "none", 'data-parsley-required' => true  %>
  </div>
</div>
<div class="form-group row m-b-15 address-fields">
  <%= form.label :postal, 'Postal / Zip:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :postal, class: 'form-control', :value => shipper_location.postal, :id => "loc_postal", :autocomplete => "none" %>
  </div>
</div>
<div class="form-group row m-b-15 address-fields">
  <%= form.label :country, 'Country *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.select :country, options_for_select([]),{:include_blank => true}, class: 'form-control static-dropdown', :id => "loc_country", 'data-parsley-required' => true  %>
  </div>
</div>
<div class="form-group row m-b-15 address-fields">
  <%= form.label :phone, 'Phone # *:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :phone, class: 'form-control', 'data-inputmask' => "'mask': '(999) 999-9999'", :value => shipper_location.phone, 'data-parsley-required' => true  %>
  </div>
</div>

<% if params[:controller] != "clients" && params[:controller] != "shippers" %>
  <div class="form-group row m-b-15">
    <label class="text-right m-position-left col-md-2 col-4 col-form-label"> is Head Office or MCR?</label>
    <div class="col-md-9 col-8">
      <input type="checkbox" name="head_office" data-render="switchery" data-theme="default" data-secondary-color="rgb(255, 91, 87)" data-change="check-switchery-state-same-office" <%= is_head_office ? 'checked' : '' %> />
    </div>
  </div>
<% end %>

<div class="form-group row m-b-15">
  <label class="text-right m-position-left col-md-2 col-4 col-form-label"> is Origin?</label>
  <div class="col-md-9 col-8">
    <%= form.check_box :is_origin, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: shipper_location.is_origin %>
  </div>
</div>
<div class="form-group row m-b-15">
  <label class="text-right m-position-left col-md-2 col-4 col-form-label"> is Destination? </label>
  <div class="col-md-9 col-8">
    <%= form.check_box :is_destination, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: shipper_location.is_destination %>
  </div>
</div>

<div class="form-group row m-b-15 address-fields">
  <%= form.label :phone, 'Shipping Days:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.select :shipping_day, options_for_select(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], shipper_location.shipping_day),{:include_blank => false}, class: 'form-control', multiple: true %>
  </div>
</div>
<div class="form-group row m-b-15 address-fields">
  <%= form.label :phone, 'Shipping Hours:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.number_field :shipping_hour, class: 'form-control', :value => shipper_location.shipping_hour %>
  </div>
</div>
<div class="form-group row m-b-15 address-fields">
  <%= form.label :phone, 'Receiving Days:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.select :receiving_day, options_for_select(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], shipper_location.receiving_day),{:include_blank => false}, class: 'form-control', multiple: true %>
  </div>
</div>
<div class="form-group row m-b-15 address-fields">
  <%= form.label :phone, 'Receiving Hours:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.number_field :receiving_hour, class: 'form-control', :value => shipper_location.receiving_hour %>
  </div>
</div>

<script language="javascript">
  $(function(){
    populateCountries("loc_country", "loc_state");
    $("#loc_country").change(function(){
      setFieldMask('loc_country', 'loc_postal');
    });
    <% if !shipper_location.country.nil? && shipper_location.country != ""  %>
      $("#loc_country").val('<%= shipper_location.country %>').change();
    <% else %>
      $("#loc_country").val('USA').change();
    <% end %>
    setTimeout(function(){ setFieldMask('loc_country', 'loc_postal'); }, 1000);
  });
  <% if shipper_location.country.present? %>
    triggerChangeOnSelectCountry('loc_country', '<%= shipper_location.country %>')
  <% end %>
  <% if shipper_location.state.present? %>
    setTimeout(function(){ triggerChangeOnSelectCountry('loc_state', '<%= shipper_location.state %>') }, 500);
  <% end %>
  $("#shipper_location_shipping_day").val(<%= raw shipper_location.shipping_day_to_array %>);
  $("#shipper_location_receiving_day").val(<%= raw shipper_location.receiving_day_to_array %>);
</script>
