<% if shipper_location.present? && !shipper_location.nil? %>
  <div class="row">
    <label class="col-md-3 col-form-label">Address:</label>
    <div class="col-md-9 lbl-padding-t">
      <%= shipper_location.address %>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 col-form-label">City:</label>
    <div class="col-md-9 lbl-padding-t">
      <%= shipper_location.city %>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 col-form-label">State:</label>
    <div class="col-md-9 lbl-padding-t">
      <%= shipper_location.state %>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 col-form-label">Country:</label>
    <div class="col-md-9 lbl-padding-t">
      <%= shipper_location.country %>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 col-form-label">Phone:</label>
    <div class="col-md-9 lbl-padding-t">
      <%= shipper_location.phone %>
    </div>
  </div>

<% else %>
  <em>No Available</em>
<% end %>
