<table class="table table-striped table-bordered data-table-buttons display nowrap" data-order="[[0, &quot;desc&quot;]]" id="location_table">
  <thead>
    <tr class="odd gradeX">
      <th data-orderable="false" width="5%">Actions</th>
      <th width="1%">Primary</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <% if !shipper_locations.nil? %>
      <% shipper_locations.each do |shipper_location| %>
        <tr>
          <td>
            <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_shipper_location_path(shipper_location), :class => 'btn btn-warning btn-xs' %>
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, shipper_location, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs'%>
          </td>
          <td style="text-align: center;"><%= shipper_location.is_origin ? '<div class="mr-0 tags"><span class="label label-warning">Origin</span></div>'.html_safe : '' %>
            <%= shipper_location.is_destination ? '<div class="mr-0 tags"><span class="label label-danger">Destination</span></div>'.html_safe : '' %>
          <% if client %>
            <%= (!client.nil? && client.head_office == shipper_location.id) ? '<div class="mr-0 tags"><span class="label label-primary">Head Office</span></div>'.html_safe : '' %></td>
          <% elsif shipper %>
            <%= (!shipper.nil? && shipper.head_office == shipper_location.id) ? '<div class="mr-0 tags"><span class="label label-primary">Head Office</span></div>'.html_safe : '' %></td>
          <% end %>
          <td><%= shipper_location.address %></td>
          <td><%= shipper_location.city %></td>
          <td><%= shipper_location.state %></td>
          <td><%= shipper_location.country %></td>
          <td><%= shipper_location.phone %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
