<p id="notice"><%= notice %></p>

<h1>Truck Tiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Details</th>
      <th>Carrier</th>
      <th>Shipper</th>
      <th>Load date</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @truck_tiles.each do |truck_tile| %>
      <tr>
        <td><%= truck_tile.name %></td>
        <td><%= truck_tile.status %></td>
        <td><%= truck_tile.origin %></td>
        <td><%= truck_tile.destination %></td>
        <td><%= truck_tile.details %></td>
        <td><%= truck_tile.carrier_id %></td>
        <td><%= truck_tile.shipper_id %></td>
        <td><%= truck_tile.load_date %></td>
        <td><%= truck_tile.priority %></td>
        <td><%= link_to 'Show', truck_tile %></td>
        <td><%= link_to 'Edit', edit_truck_tile_path(truck_tile) %></td>
        <td><%= link_to 'Destroy', truck_tile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Truck Tile', new_truck_tile_path %>
