<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @truck_tile.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @truck_tile.status %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @truck_tile.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @truck_tile.destination %>
</p>

<p>
  <strong>Details:</strong>
  <%= @truck_tile.details %>
</p>

<p>
  <strong>Carrier:</strong>
  <%= @truck_tile.carrier_id %>
</p>

<p>
  <strong>Shipper:</strong>
  <%= @truck_tile.shipper_id %>
</p>

<p>
  <strong>Load date:</strong>
  <%= @truck_tile.load_date %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @truck_tile.priority %>
</p>

<%= link_to 'Edit', edit_truck_tile_path(@truck_tile) %> |
<%= link_to 'Back', truck_tiles_path %>
