
<div class="form-group row m-b-15 ">
  <%= form.label :name, 'Name:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :name, class: 'form-control', :value => shipper_company.name, :autocomplete => "none" %>
  </div>
</div>
<div class="form-group row m-b-15 ">
  <%= form.label :city, 'City:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :city, class: 'form-control', :value => shipper_company.city, :autocomplete => "none" %>
  </div>
</div>
<div class="form-group row m-b-15 ">
  <%= form.label :state, 'State:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :state, class: 'form-control', :value => shipper_company.state, :autocomplete => "none" %>
  </div>
</div>

<div class="form-group row m-b-15 ">
  <%= form.label :company_type, 'Type:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :company_type, class: 'form-control', :value => shipper_company.company_type, :autocomplete => "none" %>
  </div>
</div>
<div class="form-group row m-b-15 ">
  <%= form.label :phone_number, 'Phone #:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :phone_number, class: 'form-control', 'data-inputmask' => "'mask': '(999) 999-9999'", :value => shipper_company.phone_number %>
  </div>
</div>

<div class="form-group row m-b-15 ">
  <%= form.label :website, 'Website:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.url_field :website, class: 'form-control', :value => shipper_company.website, :autocomplete => "none" %>
  </div>
</div>
