<p id="notice"><%= notice %></p>

<h1>Shipper Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Company type</th>
      <th>Phone number</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipper_companies.each do |shipper_company| %>
      <tr>
        <td><%= shipper_company.name %></td>
        <td><%= shipper_company.city %></td>
        <td><%= generate_abv(shipper_company.state).upcase %></td>
        <td><%= shipper_company.company_type %></td>
        <td><%= shipper_company.phone_number %></td>
        <td><%= shipper_company.website %></td>
        <td><%= link_to 'Show', shipper_company %></td>
        <td><%= link_to 'Edit', edit_shipper_company_path(shipper_company) %></td>
        <td><%= link_to 'Destroy', shipper_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipper Company', new_shipper_company_path %>
