<!-- begin page-header -->
<%#= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Reminders' : "Edit Reminder - #{reminder.first_name} #{reminder.last_name}" %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel
    <% if @client_type == "carrier" %>
      panel-scout
    <% elsif @client_type == "shipper"  %>
      panel-darkblue
    <% elsif @client_type == "activity" %>
      panel-yelloworange
    <% else %>
      <% if @previous_controller == "carriers" %>
        panel-scout
      <% elsif @previous_controller == "shippers" %>
        panel-darkblue
      <% elsif @previous_controller == "activities" %>
        panel-yelloworange
      <% else %>
        panel-lightblue
      <% end %>
    <% end %>
  ">
    <div class="panel-heading">
      <div class="panel-heading-btn">
      </div>
      <h4 class="panel-title lp-header"><%= params[:action] == 'new' ? 'Create New Reminders' : "Edit Reminder" %></h4>
    </div>
    <div class="panel-body">
      <%= form_with(model: reminder, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
        <% if reminder.errors.any? %>
        <div class="note note-danger">
          <div class="note-icon"><i class="fas fa-times"></i></div>
          <div class="note-content">
            <h4><b><%= pluralize(reminder.errors.count, "error") %> prohibited this client from being saved:</b></h4>
            <p>
              <ul>
                <% reminder.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </p>
          </div>
        </div>
        <% end %>
        <% if @previous_controller == "carriers"%>
          <%= form.hidden_field :carrier_id %>
        <% elsif @previous_controller == "shippers"%>
          <%= form.hidden_field :shipper_id %>
        <% elsif @previous_controller == "activities"%>
          <%= form.hidden_field :activity_id %>
        <% else %>
          <% if @client_type == "carrier" || reminder.carrier %>
            <div class="form-group row m-b-15">
              <%= form.label :carrier_id, 'Carrier:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
              <div class="col-md-9 col-sm-8">
                <%= collection_select :reminder, :carrier_id, Carrier.all.order("company_name ASC"), :id, :company_name, {prompt: true, :selected => reminder.carrier_id}, {class: 'form-control'} %>
              </div>
            </div>
          <% elsif @client_type == "shipper" || reminder.shipper  %>
            <div class="form-group row m-b-15">
              <%= form.label :shipper_id, 'Shipper:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
              <div class="col-md-9 col-sm-8">
                <%= collection_select :reminder, :shipper_id, Shipper.all.order("company_name ASC"), :id, :company_name, {prompt: true, :selected => reminder.shipper_id}, {class: 'form-control'} %>
              </div>
            </div>
          <% elsif @client_type == "activity" || reminder.activity  %>
            <div class="form-group row m-b-15">
              <%= form.label :activity_id, 'Activity:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
              <div class="col-md-9 col-sm-8">
                <%= collection_select :reminder, :activity_id, Activity.all.order("campaign_name ASC"), :id, :display_select_name, {prompt: true, :selected => reminder.shipper_id}, {class: 'form-control'} %>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="form-group row m-b-15">
          <%= form.label :reminder_type, 'Type:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.select :reminder_type, options_for_select(['Initial Interview', 'Check Capacity', 'Follow-up'], reminder.reminder_type),{:include_blank => true}, class: 'form-control', id: "reminder_type" %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :reminder_date, 'Reminder Date:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-4 col-sm-8" style="position: relative">
            <%= form.text_field :reminder_date, class: 'form-control', value: (reminder.reminder_date.nil? ? Time.now.strftime('%m/%d/%Y %l:%M%P').to_s : reminder.reminder_date.strftime('%m/%d/%Y %l:%M%P').to_s) %>
          </div>
          <label class="text-right m-position-left col-md-2 col-sm-4 col-form-label">is Recurring?</label>
          <div class="col-md-4 col-8">
              <%= form.check_box :recurring, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: reminder.recurring %>
          </div>
        </div>
        <div class="form-group row m-b-15 switch-block">
          <%= form.label :reminder_interval, 'Reminder Interval:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.number_field :reminder_interval, class: 'form-control' %>
            <i>(Ex. 1 = 1 day, 7 = 1 week, 30 = 1 month, etc.)</i>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :notes, 'Notes:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.text_area(:notes, cols: 20, rows: 5, class: 'tinymce') %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <label class="text-right m-position-left col-md-2 col-6 col-form-label">Completed?</label>
          <div class="col-md-9 col-6">
              <%= form.check_box :completed, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: reminder.completed %>
          </div>
        </div>
        <div class="form-group row m-b-0">
          <label class="text-right m-position-left col-md-2 col-sm-4 col-form-label">&nbsp;</label>
          <div class="col-md-9 col-sm-8">
            <%= form.submit 'Submit', :class => 'btn btn-primary' %>
            <% if params[:action] == 'edit' %>
              &nbsp;&nbsp;<%= link_to 'Show', reminder, :class => 'btn btn-info' %>
              <% if reminder.reminder_interval > 0 %>
                <% if !reminder.recurring %>
                  <% if !reminder.last_reminded.nil? && reminder.last_reminded <= Date.today %>
                    &nbsp;&nbsp;<%= link_to 'Dismiss', reminder_path(:id => reminder.id, :previous_controller => params[:controller]), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'%>
                  <% end %>
                <% end %>
              <% else %>
                <% if !reminder.reminder_date.nil? && reminder.reminder_date <= Date.today %>
                  &nbsp;&nbsp;<%= link_to 'Dismiss', reminder_path(:id => reminder.id, :previous_controller => params[:controller]), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'%>
                <% end %>
              <% end %>

            <% end %>
            <% if @previous_controller == "activities" %>
              <% activity = Activity.find(reminder.activity_id)%>
                &nbsp;&nbsp;<%= link_to 'Back to Activity', activity, :class => 'btn btn-default' %>
            <% elsif @previous_controller == "carriers" %>
              <% carrier = Carrier.find(reminder.carrier_id)%>
                &nbsp;&nbsp;<%= link_to 'Back to Carrier', carrier, :class => 'btn btn-default' %>
            <% elsif @previous_controller == "shippers" %>
              <% shipper = Shipper.find(reminder.shipper_id)%>
                &nbsp;&nbsp;<%= link_to 'Back to Shipper', shipper, :class => 'btn btn-default' %>
            <% else %>
                &nbsp;&nbsp;<%= link_to 'Back', reminders_path, :class => 'btn btn-default' %>
            <% end %>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= tinymce %>
<!-- end panel -->
<script type="text/javascript">
  $(function () {
    $('#reminder_reminder_date').datetimepicker();
  });
  if ($('#reminder_recurring').is(':checked')) {
    $('.switch-block').show()
  } else {
    $('.switch-block').hide()
  }
  $('#reminder_recurring').on('change', function(){
    if ($('#reminder_recurring').is(':checked')) {
      $('.switch-block').show()
    } else {
      $('.switch-block').hide()
    }
  });
</script>
