<!-- begin page-header -->
<%#= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Reminders' : "Edit Reminder - #{reminder.first_name} #{reminder.last_name}" %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title lp-header"><%= params[:action] == 'new' ? 'Create New Reminders' : "Edit Reminder" %></h4>
  </div>
  <div class="panel-body">
    <%= form_with(model: reminder, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
      <% if reminder.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this client from being saved:</h2>
          <ul>
            <% reminder.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if @previous_controller == "carriers" || @client_type == "carrier" || reminder.carrier %>
        <div class="form-group row m-b-15">
          <%= form.label :carrier_id, 'Carrier:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= collection_select :reminder, :carrier_id, Carrier.all.order("company_name ASC"), :id, :company_name, {prompt: true, :selected => reminder.carrier_id}, {class: 'form-control'} %>
          </div>
        </div>
      <% elsif @previous_controller == "shippers" || @client_type == "shipper" || reminder.shipper  %>
        <div class="form-group row m-b-15">
          <%= form.label :shipper_id, 'Shipper:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= collection_select :reminder, :shipper_id, Shipper.all.order("company_name ASC"), :id, :company_name, {prompt: true, :selected => reminder.shipper_id}, {class: 'form-control'} %>
          </div>
        </div>
      <% elsif @previous_controller == "activities" || @client_type == "activity" || reminder.activity  %>
        <div class="form-group row m-b-15">
          <%= form.label :activity_id, 'Activity:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= collection_select :reminder, :activity_id, Activity.all.order("campaign_name ASC"), :id, :display_select_name, {prompt: true, :selected => reminder.shipper_id}, {class: 'form-control'} %>
          </div>
        </div>
      <% end %>
      <div class="form-group row m-b-15">
        <%= form.label :reminder_date, 'Date:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :reminder_date, class: 'form-control datepicker-autoClose', 'data-inputmask' => "'alias': 'mm/dd/yyyy'"%>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :reminder_interval, 'Interval:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :reminder_interval, options_for_select([['1w', 7], ['2w', 14], ['1M', 30], ['3M', 90], ['6M', 180], ['12M', 360]], reminder.reminder_interval),{:include_blank => true}, class: 'form-control', id: "reminder_interval" %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <label class="text-right col-md-2 col-sm-4 col-form-label">is Recurring?</label>
        <div class="col-md-9 col-sm-8">
            <%= form.check_box :recurring, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: reminder.recurring %>
        </div>
      </div>
      <div class="form-group row m-b-0">
        <label class="text-right col-md-2 col-sm-4 col-form-label">&nbsp;</label>
        <div class="col-md-9 col-sm-8">
          <%= form.submit 'Submit', :class => 'btn btn-primary' %>
          <% if params[:action] == 'edit' %>
            &nbsp;&nbsp;<%= link_to 'Show', reminder, :class => 'btn btn-info' %>
          <% end %>
            &nbsp;&nbsp;<%= link_to 'Back', reminders_path, :class => 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- end panel -->
