<style>
  div.link a:visited {
    color: #0a849f!important;
  }
  div.link a {
    text-decoration: underline;
  }
</style>
<% if reminder %>
  <% if reminder.carrier %>
    <div class="row">
      <label class="col-md-2 col-form-label">Carrier:</label>
      <div class="col-md-9 lbl-padding-t link">
        <%= reminder.carrier.nil? ? "" : (link_to "#{reminder.carrier.company_name}", reminder.carrier) %>
      </div>
    </div>
  <% end %>
  <% if reminder.shipper %>
    <div class="row">
      <label class="col-md-2 col-form-label">Shipper:</label>
      <div class="col-md-9 lbl-padding-t link">
        <%= reminder.shipper.nil? ? "" : (link_to "#{reminder.shipper.company_name}", reminder.shipper) %>
      </div>
    </div>
  <% end %>
  <% if reminder.activity %>
    <div class="row">
      <label class="col-md-2 col-form-label">Activity:</label>
      <div class="col-md-9 lbl-padding-t link">
        <%= link_to(reminder.activity.campaign_name.blank? ? "(no campaign name)" : reminder.activity.campaign_name, reminder.activity)  %>
      </div>
    </div>
  <% end %>
  <% if reminder.user %>
    <div class="row">
      <label class="col-md-2 col-form-label">User:</label>
      <div class="col-md-9 lbl-padding-t link">
        <%= reminder.user.nil? ? "" : (link_to "#{reminder.user.full_name}", reminder.user) %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <label class="col-md-2 col-form-label">Next Reminder Date:</label>
    <div class="col-md-9 lbl-padding-t">
      <% if reminder.reminder_interval %>
        <% if reminder.recurring %>
          <%= "#{reminder.reminder_date_reccuring} (#{interval_to_text(reminder.reminder_interval)} recurring from #{reminder.created_at.strftime('%d/%m/%Y')})" %>
        <% else %>
        <%= "#{reminder.reminder_date_interval} (#{interval_to_text(reminder.reminder_interval)} from #{reminder.created_at.strftime('%d/%m/%Y')})" %>
        <% end %>
      <% else %>
        <%= reminder.reminder_date %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <label class="col-md-2 col-form-label">Last Reminded:</label>
    <div class="col-md-9 lbl-padding-t">
      <%= reminder.last_reminded %>
    </div>
  </div>
  <div class="row">
    <label class="col-md-2 col-form-label">Date Created:</label>
    <div class="col-md-9 lbl-padding-t">
      <%= reminder.created_at %>
    </div>
  </div>

<% else %>
  <em>No Available</em>
<% end %>
