<% if params[:controller] == "reminders" %>
  <style>
    .tooltip-inner {
      background-color: #0a849f!important;
    }
    .tooltip .arrow::before{
      border-right-color: #0a849f!important;
    }
    td.link a:visited {
      color: #0a849f!important;
    }
  </style>
<% end %>
<table table class="table table-striped table-bordered display nowrap" data-order="[[6, &quot;asc&quot;]]"  id="reminders_table" width="100%">
  <thead>
    <tr class="odd gradeX">
      <% if with_actions %>
      <th data-orderable="false" width="10%">Actions</th>
      <% end %>
      <% if params[:controller] == "reminders"%>
        <th>Carrier</th>
        <th>Shipper</th>
        <th>Activity</th>
      <% end %>
      <th>User</th>
      <th>Type</th>
      <th>Next Reminder Date</th>
      <th>Last Reminded</th>
      <th width="25%">Notes</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <% if with_actions %>
      <th data-orderable="false">Actions</th>
      <% end %>
      <% if params[:controller] == "reminders"%>
        <th>Carrier</th>
        <th>Shipper</th>
        <th>Activity</th>
      <% end %>
      <th>User</th>
      <th>Type</th>
      <th>Next Reminder Date</th>
      <th>Last Reminded</th>
      <th width="25%">Notes</th>
    </tr>
  </tfoot>
  <tbody class="spacer">
    <% reminders.each do |reminder| %>
      <tr>
        <% if with_actions %>
          <td>
            <%= link_to '<i class="far fa-eye"></i>'.html_safe, reminder_path(:id => reminder.id, :previous_controller => params[:controller]), :class => 'btn btn-info btn-xs' %>
            <% if reminder.carrier %>
              <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_reminder_path(reminder, :previous_controller => params[:controller], :client_type => "carrier"), :class => 'btn btn-warning btn-xs' %>
            <% elsif reminder.shipper %>
              <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_reminder_path(reminder, :previous_controller => params[:controller], :client_type => "shipper"), :class => 'btn btn-warning btn-xs' %>
            <% elsif reminder.activity %>
                <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_reminder_path(reminder, :previous_controller => params[:controller], :client_type => "activity"), :class => 'btn btn-warning btn-xs' %>
            <% end %>
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, reminder_path(:id => reminder.id, :previous_controller => params[:controller]), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs'%>
          </td>
        <% end %>
        <% if params[:controller] == "reminders"%>
        <td class="link">
          <% carrier = reminder.carrier ? reminder.carrier : (reminder.activity ? reminder.activity.carrier : nil) %>
          <%= render "carriers/link", carrier: carrier %>
        </td>
        <td class="link">
          <% shipper = reminder.shipper ? reminder.shipper : (reminder.activity ? reminder.activity.shipper : nil) %>
          <%= render "shippers/link", shipper: shipper %>
        </td>
        <td class="link"><%= reminder.activity && link_to(reminder.activity.campaign_name.blank? ? "(no name)" : reminder.activity.campaign_name, reminder.activity) %></td>
        <% end %>
        <td class="link"><%= reminder.user && link_to(reminder.user.full_name.blank? ? "(no name)" : reminder.user.full_name, reminder.user) %></td>
        <td><%= reminder.reminder_type %></td>
        <td>
          <% if reminder.reminder_date %>
            <% if reminder.reminder_date > Date.today %>
              <% if reminder.recurring %>
                <%= "#{reminder.reminder_date_reccuring} (#{interval_to_text(reminder.reminder_interval)} recurring from #{reminder.reminder_date.strftime("%m/%d/%Y")})" %>
              <% else %>
                <% if reminder.reminder_interval %>
                  <%= "#{reminder.reminder_date_interval} (#{interval_to_text(reminder.reminder_interval)} from #{reminder.reminder_date.strftime("%m/%d/%Y")})" %>
                <% else %>
                  <%= reminder.reminder_date %>
                <% end %>
              <% end %>
            <% else %>
              <% if reminder.recurring %>
                <%= "#{reminder.reminder_date_reccuring} (#{interval_to_text(reminder.reminder_interval)} recurring from #{reminder.reminder_date.strftime("%m/%d/%Y")})" %>
              <% else %>
                <% if reminder.reminder_interval %>
                  <% if reminder.reminder_date_interval > Date.today.strftime("%m/%d/%Y") %>
                    <%= "#{reminder.reminder_date_interval} (#{interval_to_text(reminder.reminder_interval)} from #{reminder.reminder_date.strftime("%m/%d/%Y")})" %>
                  <% else %>
                    Done
                  <% end %>
                <% else %>
                  Done
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <% if reminder.recurring %>
              <%= "#{reminder.reminder_date_reccuring} (#{interval_to_text(reminder.reminder_interval)} recurring from #{reminder.created_at.strftime("%m/%d/%Y")})" %>
            <% else %>
              <% if reminder.reminder_interval %>
                <%= "#{reminder.reminder_date_interval} (#{interval_to_text(reminder.reminder_interval)} from #{reminder.created_at.strftime("%m/%d/%Y")})" %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td><%= reminder.last_reminded.nil? ? '' : reminder.last_reminded.strftime("%m/%d/%Y") %></td>
        <td>
          <span
            class="learned"
            data-toggle="tooltip"
            data-placement="left"
            data-html="true"
            title="<%= reminder.notes.nil? ? '' : reminder.notes %>">
              <%= reminder.notes.nil? ? '' : truncate_html_to_sentence(reminder.notes) %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script language="javascript">
  $(document).ready(function() {
    filterTable("reminders_table");
  });
</script>
