<!-- begin page-header -->
<%#= render 'layouts/static/header', header_title: 'Rates' %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel panel-lightblue">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <%= link_to 'New Carrier Reminder', new_reminder_path(:previous_controller => params[:controller], :client_type => "carrier"), :class => 'btn btn-info btn-xs' %>
        <%= link_to 'New Shipper Reminder', new_reminder_path(:previous_controller => params[:controller], :client_type => "shipper"), :class => 'btn btn-info btn-xs' %>
        <%= link_to 'New Activity Reminder', new_reminder_path(:previous_controller => params[:controller], :client_type => "activity"), :class => 'btn btn-info btn-xs' %>
      </div>
      <h4 class="panel-title lp-header">Reminder</h4>
    </div>
    <div class="panel-body">
      <% if current_user.has_role?(:admin) %>
        <%= render 'table', reminders: Reminder.all, with_actions: true %>
      <% else %>
        <%= render 'table', reminders: Reminder.where("user_id = ?", current_user.id), with_actions: true %>
      <% end %>
    </div>
  </div>
</div>
<!-- end panel -->
