<% if !shipper_contact.nil? %>
  <% @shipper = Shipper.find(shipper_contact.shipper_id) %>
  <div class="row">
    <label class="col-md-3 col-form-label">Name:</label>
    <div class="col-md-9 lbl-padding-t">
      <%= shipper_contact.full_name %>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 col-form-label">Position/Title:</label>
    <div class="col-md-9 lbl-padding-t">
      <%= shipper_contact.title %>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 col-form-label">LinkedIn:</label>
    <div class="col-md-9 lbl-padding-t">
      <%= shipper_contact.linkedin_link.nil? || shipper_contact.linkedin_link == "" ? "" : (link_to shipper_contact.linkedin_link, shipper_contact.linkedin_link, :target => "_blank") %>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 col-form-label">E-mail Address:</label>
    <div class="col-md-9 lbl-padding-t">
      <a href="mailto:<%= shipper_contact.email %>?Subject=Hello%20<%= shipper_contact.first_name.nil? ? '' :  shipper_contact.first_name + " " + shipper_contact.last_name  %>" target="_top"><%= shipper_contact.email %>&nbsp;<i class="far fa-envelope"></i></a>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 col-form-label">Phone Numbers:</label>
    <div class="col-md-9 lbl-padding-t">
      <%= (!shipper_contact.primary_phone.nil? && shipper_contact.primary_phone != "") ? ("P1: " + shipper_contact.primary_phone + " " + shipper_contact.primary_phone_type + "<br/>").html_safe : ""  %>
      <%= (!shipper_contact.secondary_phone.nil? && shipper_contact.secondary_phone != "") ? ("P2: " + shipper_contact.secondary_phone + " " + shipper_contact.secondary_phone_type).html_safe : ""  %>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 col-form-label">Address:</label>
    <div class="col-md-9 lbl-padding-t">
      <%= shipper_contact.same_ho ? (@shipper.head_office_location.nil? ? '' : "#{format_address(@shipper.head_office_location.address, @shipper.head_office_location.city, @shipper.head_office_location.state, @shipper.head_office_location.country, @shipper.head_office_location.postal)}") : (shipper_contact.nil? ? '' : "#{format_address(shipper_contact.address, shipper_contact.city, shipper_contact.state, shipper_contact.country, shipper_contact.postal)}")%>
    </div>
  </div>
<% else %>
  <em>No Available</em>
<% end %>
