
<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Salespeople' %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    <%= link_to 'New Salesperson', new_rep_path, :class => 'btn btn-primary btn-xs' %>
    </div>
    <h4 class="panel-title">List of Salespeople</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered data-table-buttons display nowrap">
    								<thead>
    									<tr class="odd gradeX">
    										<th>Name</th>
    										<th>Hired</th>
    										<th>Phone</th>
    										<th>E-mail</th>
										    <th data-orderable="false">Actions</th>
    									</tr>
    								</thead>
    								<tbody>
                      <% @reps.each do |rep| %>
                        <tr>
                          <td><%= rep.first_name %> <%= rep.last_name %></td>
                          <td><%= rep.date_of_hire %></td>
                          <td><%= rep.phone %></td>
                          <td><%= rep.email %></td>
                          <td>
                            <%= link_to '<i class="far fa-eye"></i>'.html_safe, rep, :class => 'btn btn-info btn-xs' %>
                            <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_rep_path(rep), :class => 'btn btn-warning btn-xs' %>
                            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, rep, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs'%>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
  </div>
</div>
<!-- end panel -->
