<style>
@media (max-width: 767px) {
  .text-right {
    text-align: left!important;
  }
}
</style>
<!-- begin page-header -->
<div class="header-violet">
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title: generate_alphanumeric_id("#{@rep.first_name} #{@rep.last_name}", @rep.id), sub_header_title: "#{@rep.first_name} #{@rep.last_name}" %>
  </h1>
  <span class="pull-right">
    <%= link_to 'Edit', edit_rep_path(@rep), :class => 'btn btn-warning btn-xs' %>
    <%= link_to 'Back', reps_path, :class => 'btn btn-info btn-xs' %>
  </span>
</div>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <!-- <div class="panel-heading">
    <div class="panel-heading-btn">

    </div>
  </div> -->
  <div class="panel-body">
    <h4 class="text-inverse">Details</h4>
    <div class="row">
      <label class="col-md-2 text-right col-form-label">Name:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @rep.first_name %>&nbsp;<%= @rep.last_name %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right col-form-label">Date of Hire:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @rep.date_of_hire %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right col-form-label">Phone:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @rep.phone %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right col-form-label">E-mail:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @rep.email %>
      </div>
    </div>
  </div>
</div>
<!-- end panel -->
