<style>
@media (max-width: 767px) {
  .text-right {
    text-align: left!important;
  }
}
</style>
<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Carrier Activity' : "Edit Carrier Activity - #{carrier_activity.carrier.nil? ? '' : link_to(carrier_activity.carrier.company_name,  carrier_activity.carrier)}" %>

<!-- end page-header -->
<!-- begin panel -->

<%= form_with(model: carrier_activity, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
<%= form.hidden_field :carrier_id %>
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title">Information<%= params[:action] == 'edit' ? (": " + generate_alphanumeric_id(carrier_activity.activity_type, carrier_activity.id) + " - " + carrier_activity.activity_type) : "" %></h4>
  </div>
  <div class="panel-body">
  <% if carrier_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carrier_activity.errors.count, "error") %> prohibited this carrier_activity from being saved:</h2>

      <ul>
      <% carrier_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <h4 class="text-inverse">Details</h4>
    <div class="form-group row m-b-15">
      <%= form.label :activity_type, 'Type:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
      <%= form.select :activity_type, options_for_select(['Loop', 'Engagement'], carrier_activity.activity_type),{:include_blank => true}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row m-b-15 engagement-fields"  style="display: none;">
      <%= form.label :engagement_type, 'Engagement Type:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
      <%= form.select :engagement_type, options_for_select(['Phone', 'In-Person'], carrier_activity.engagement_type),{:include_blank => true}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <%= form.label :rep_id, 'Rep:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
      <%= form.select :rep_id, Rep.all.collect {|r| [ "#{r.first_name} #{r.last_name}", r.id ] },{:include_blank => true, :selected => carrier_activity.rep_id}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <%= form.label :annual_value, 'Annual Value:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
      <%= form.select :annual_value, options_for_select(['0-5M', '5-10M', '10-25M', '25-100M', '100M+'], carrier_activity.annual_value),{:include_blank => true}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row m-b-15">
      <%= form.label :proposal_pdf, 'Proposal PDF:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
      <%= form.file_field :proposal_pdf, multiple: true  %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <%= form.label :status, 'Status:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
      <%= form.select :status, options_for_select([['Open', true], ['Closed', false]], carrier_activity.status),{}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <%= form.label :other_notes, 'Other Notes:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
      <%= form.text_area(:other_notes, cols: 20, rows: 15,  class: 'tinymce')  %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <%= form.label :credit_application, 'Complete Credit Application:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
      <%= form.file_field :credit_application, autocomplete: "credit_application", placeholder: 'Proposal PDF' %>
      </div>
    </div>
    <hr>
    <h4 class="text-inverse">Outcome</h4>
    <div class="form-group row m-b-15 engagement-fields"  style="display: none;">
      <%= form.label :outcome, 'Outcome:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
      <%= form.select :outcome, options_for_select(['Proposal', 'Learn'], carrier_activity.outcome.outcome),{:include_blank => true}, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group row m-b-15 loop-fields"  style="display: none;">
      <%= form.label :outcome, 'Outcome:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
      <%= form.select :outcome, options_for_select(['Win', 'Learn'], carrier_activity.outcome.outcome),{:include_blank => true}, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <%= form.label :reason, 'Reason:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
      <%= form.text_field :reason, class: 'form-control', value: carrier_activity.outcome.reason %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <%= form.label :notes, 'Notes:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
      <%= form.text_area(:notes, cols: 20, rows: 15,  class: 'tinymce', :value => carrier_activity.outcome.notes)  %>
      </div>
    </div>

    <div class="form-group row m-b-15">
      <div class="col-md-2"></div>
        <div class="col-md-9 col-sm-12 d-flex justify-content-end">
        <%= form.submit 'Submit', :class => 'btn btn-primary' %>
        <% if params[:action] == 'edit' %>
          &nbsp;&nbsp;<%= link_to 'Show', carrier_activity, :class => 'btn btn-info' %>
        <% end %>
        <% if @previous_controller == "carriers"%>
          <% carrier = Carrier.find(carrier_activity.carrier_id)%>
          <% if params[:action] == 'new' %>
            &nbsp;&nbsp;<%= link_to 'Back to Carrier', carrier, :class => 'btn btn-default' %>
          <% end %>
        <% else %>
          <% if params[:action] == 'new' %>
            &nbsp;&nbsp;<%= link_to 'Back', carrier_activities_path, :class => 'btn btn-default' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% end %>

<%= tinymce %>
<!-- end panel -->
