<%= form_with(model: activity_outcome, local: true) do |form| %>
  <% if activity_outcome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity_outcome.errors.count, "error") %> prohibited this activity_outcome from being saved:</h2>

      <ul>
      <% activity_outcome.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :outcome %>
    <%= form.text_field :outcome %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_field :reason %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
