<p id="notice"><%= notice %></p>

<p>
  <strong>Outcome:</strong>
  <%= @activity_outcome.outcome %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @activity_outcome.reason %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @activity_outcome.notes %>
</p>

<%= link_to 'Edit', edit_activity_outcome_path(@activity_outcome) %> |
<%= link_to 'Back', activity_outcomes_path %>
