<p id="notice"><%= notice %></p>

<h1>Carrier Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Company type</th>
      <th>Phone number</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carrier_companies.each do |carrier_company| %>
      <tr>
        <td><%= carrier_company.name %></td>
        <td><%= carrier_company.city %></td>
        <td><%= carrier_company.state %></td>
        <td><%= carrier_company.company_type %></td>
        <td><%= carrier_company.phone_number %></td>
        <td><%= carrier_company.website %></td>
        <td><%= link_to 'Show', carrier_company %></td>
        <td><%= link_to 'Edit', edit_carrier_company_path(carrier_company) %></td>
        <td><%= link_to 'Destroy', carrier_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrier Company', new_carrier_company_path %>
