<div class="header-inverse">
  <h1 class="pull-left">
    Send a Mail
  </h1>
  <span class="pull-right">

    <button class="btn btn-danger btn-xs" onclick="window.history.back();">Discard</button>
    <button type="submit" class="btn btn-primary btn-xs" onclick="$('#mail_form').submit();">Send</button>
  </span>
</div>
<!-- begin vertical-box -->
<div class="vertical-box">
  <!-- begin vertical-box-row -->
  <div class="vertical-box-row bg-white">
    <%= form_tag('/mails', id: 'mail_form') do %>
      <%= hidden_field_tag :previous_controller, @previous_controller%>
      <!-- begin email to -->
      <div class="email-to">
        <span class="float-right-link">
          <a href="#" data-click="add-cc" data-name="Cc" class="m-r-5 btn btn-info btn-xs p-l-10 p-r-10">Cc</a>
          <a href="#" data-click="add-cc" data-name="Bcc" class="m-r-5 btn btn-success btn-xs p-l-10 p-r-10">Bcc</a>
        </span>
        <label class="control-label">To:</label>
        <ul id="email-to" class="primary line-mode">
        </ul>
      </div>
      <!-- end email to -->

      <div data-id="extra-cc"></div>

      <!-- begin email subject -->
      <div class="email-subject">
        <%= text_field_tag :subject, @subject, class: 'form-control form-control-lg', placeholder: "Subject", disabled: true %>
      </div>
      <!-- end email subject -->
      <!-- begin email content -->
      <div class="email-content p-t-15">
        <%= hidden_field_tag :content, @content%>
        <h5>Content Body:</h5>
        <div style="padding-left: 2%; padding-bottom: 20px;">
          <%= @content.html_safe%>
        </div>
        <%#= text_area_tag :content_body,, class: 'textarea form-control tinymce', placeholder: "Enter text ...", rows: 20 %>
      </div>
      <!-- end email content -->
    <% end %>
  </div>
  <!-- end vertical-box-row -->
</div>
<!-- end vertical-box -->
<%#= tinymce %>
<script language="javascript">
  var availableTags = [<%= raw contacts.map(&:to_s).join(", ") %>];
  console.log(availableTags);
  $(document).ready(function () {
    // $('#wysihtml5').wysihtml5();
    $('#email-to').tagit({
      fieldName: 'to[]',
      availableTags: availableTags
    });
  });
  $(document).on('click', '[data-click="add-cc"]', function (e) {
    e.preventDefault();

    var targetName = $(this).attr('data-name');
    var targetId = 'email-cc-' + targetName + '';
    var targetHtml = '	<div class="email-to">		<label class="control-label">' + targetName + ':</label>		<ul id="' + targetId + '" class="primary line-mode"></ul>	</div>';
    $('[data-id="extra-cc"]').append(targetHtml);
    $('#' + targetId).tagit({
      fieldName: targetName.toLowerCase() + '[]',
      availableTags: availableTags
    });
    $(this).remove();
  });
</script>
