
<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Locations' %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title"><%= @client_location.name %></h4>
  </div>
  <div class="panel-body">
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">ID:</label>
      <div class="col-md-7">
        <%= @client_location.location_id %>
      </div>
    </div>
      <div class="form-group row m-b-15">
        <label class="col-md-3 col-form-label">Client ID:</label>
        <div class="col-md-7">
          <%= @client_location.client_id %>
        </div>
      </div>
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">Type:</label>
      <div class="col-md-7">
        <%= @client_location.loc_type %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">Address:</label>
      <div class="col-md-7">
        <%= @client_location.address %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">City/Town:</label>
      <div class="col-md-7">
        <%= @client_location.city %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">State:</label>
      <div class="col-md-7">
        <%= @client_location.state %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">Postal:</label>
      <div class="col-md-7">
        <%= @client_location.postal %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">Country:</label>
      <div class="col-md-7">
        <%= @client_location.country %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">Phone:</label>
      <div class="col-md-7">
        <%= @client_location.phone %>
      </div>
    </div>
    <%= link_to 'Edit', edit_client_location_path(@client_location), :class => 'btn btn-warning' %>&nbsp;&nbsp;
    <%= link_to 'Back', client_location_path, :class => 'btn btn-info' %>
  </div>
</div>
<!-- end panel -->
