  <div class="form-group row m-b-15 <%=name%>-location-fields address-fields">
    <%= form.label "#{name}_location_id", 'Select Existing Location:', class: 'col-md-4 col-sm-4 col-form-label' %>
    <div class="col-md-8 col-sm-8">
      <%= form.select "#{name}_location_id", Location.all.collect {|r| [ r.name, r.id ] },{:include_blank => true}, class: 'form-control combo-dropdown', :id => "#{name}_location_id" %>
    </div>
  </div>

  <div class="form-group row m-b-15 address-fields">
    <%= form.label "#{name}_address", 'Address:', class: 'col-md-4 col-sm-4 col-form-label' %>
    <div class="col-md-8 col-sm-8">
    <%= form.text_field "#{name}_address", class: 'form-control', :id => "#{name}_address" %>
    </div>
  </div>
  <div class="form-group row m-b-15 address-fields">
    <%= form.label "#{name}_city", 'City / Town:', class: 'col-md-4 col-sm-4 col-form-label' %>
    <div class="col-md-8 col-sm-8">
      <%= form.text_field "#{name}_city", class: 'form-control', :id => "#{name}_city" %>
    </div>
  </div>
  <div class="form-group row m-b-15 address-fields">
    <%= form.label "#{name}_state", 'Province / State:', class: 'col-md-4 col-sm-4 col-form-label' %>
    <div class="col-md-8 col-sm-8">
    <%= form.select "#{name}_state", options_for_select([]),{:include_blank => true}, class: 'form-control static-dropdown', :id => "#{name}_state" %>
    </div>
  </div>
  <div class="form-group row m-b-15 address-fields">
    <%= form.label  "#{name}_postal", 'Postal / Zip:', class: 'col-md-4 col-sm-4 col-form-label' %>
    <div class="col-md-8 col-sm-8">
    <%= form.text_field "#{name}_postal", class: 'form-control', 'data-inputmask' => "'mask': '******'", :id => "#{name}_postal" %>
    </div>
  </div>
  <div class="form-group row m-b-15 address-fields">
    <%= form.label "#{name}_country", 'Country:', class: 'col-md-4 col-sm-4 col-form-label' %>
    <div class="col-md-8 col-sm-8">
    <%= form.select "#{name}_country", options_for_select([]),{}, class: 'form-control static-dropdown', :id => "#{name}_country" %>
    </div>
  </div>

  <script language="javascript">
  	populateCountries("<%=name%>_country", "<%=name%>_state");

    <% if params[:action] == 'edit' %>
      locationDetailsOD($("#<%=name%>_location_id").val(), '<%=name%>');
    <% end %>
  </script>
