<table  class="table table-striped table-bordered data-table-no-buttons display nowrap">
              <thead>
                  <tr>
                    <th rowspan="2">Status</th>
                    <th rowspan="2">Type</th>
                    <th rowspan="2">Geo</th>
                    <th rowspan="2">Carrier</th>
                    <th rowspan="2">Ship Date</th>
                    <th rowspan="2">Tracking #</th>
                    <th rowspan="2">Docs</th>
                    <th rowspan="2">Reference</th>
                    <th colspan="4" class="text-center">Origin</th>
                    <th colspan="4" class="text-center">Destination</th>
                    <th rowspan="2">Distance</th>
                    <th rowspan="2">Weight</th>
                    <th rowspan="2">Total Charge with Tax</th>
                    <th rowspan="2">Cost Per LB</th>
                    <th rowspan="2">CWT Mile</th>
                  </tr>
                  <tr>
                    <th>Origin</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Destination</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                  </tr>
                </thead>
                <tbody>
                  <% if !shipments.nil? %>
                    <% shipments.each do |shipment| %>
                      <tr>
                        <td><%= (!shipment.shipment_status.nil? && shipment.shipment_status != "") ? "<span class='badge badge-#{get_color_badge(shipment.shipment_status)}'>#{shipment.shipment_status}</span>".html_safe : '' %></td>
                        <td><%= (!shipment.own_type.nil? && shipment.own_type != "") ? "<span class='badge badge-#{get_color_badge(shipment.own_type)}'>#{shipment.own_type}</span>".html_safe : '' %></td>
                        <td><%= get_geo(shipment.origin_location, shipment.destination_location) %></td>
                        <td><%= shipment.invoice.nil? ? '' : (shipment.invoice.carrier.nil? ? '' : shipment.invoice.carrier.company_name) %></td>
                        <td><%= shipment.shipment_date %></td>
                        <td><%= link_to shipment.tracking_number, shipment, target: :_blank %></td>
                        <td><% if shipment.shipment_attachment_file.attached? %>
                          <%= link_to '<i class="fas fa-file-invoice fa-2x"></i>'.html_safe, rails_blob_path(shipment.shipment_attachment_file), target: :_blank %>
                        <% end %></td>
                        <td><% if !shipment.client_reference.nil? && shipment.client_reference != '' %>
                          <% shipment.client_reference.split(/,/).each do |cr| %>
                            <span class="badge badge-inverse"><%= cr %></span>
                          <% end %>
                        <% end %></td>
                        <td><%= shipment.origin_location.nil? ? "" : shipment.origin_location.name %></td>
                        <td><%= shipment.origin_location.nil? ? "" : shipment.origin_location.city %></td>
                        <td><%= shipment.origin_location.nil? ? "" : shipment.origin_location.state %></td>
                        <td><%= shipment.origin_location.nil? ? "" : shipment.origin_location.country %></td>
                        <td><%= shipment.destination_location.nil? ? "" : shipment.destination_location.name %></td>
                        <td><%= shipment.destination_location.nil? ? "" : shipment.destination_location.city %></td>
                        <td><%= shipment.destination_location.nil? ? "" : shipment.destination_location.state %></td>
                        <td><%= shipment.destination_location.nil? ? "" : shipment.destination_location.country %></td>
                        <td><%= shipment.distance %></td>
                        <td><%= shipment.billed_weight.nil? ? 0 : shipment.billed_weight %> <%= (shipment.unit_of_weight.nil? || shipment.unit_of_weight == '') ? '' : shipment.unit_of_weight %></td>
                        <td><%= get_currency(shipment.money_currency) %> <%= shipment.total_charge_with_tax.nil? ? 0 : shipment.total_charge_with_tax %></td>
                        <td><%= get_currency(shipment.money_currency) %> <%= number_with_precision (get_quotient(shipment.total_charge, shipment.convert_to_lb)), :precision => 2 %></td>
                        <td><%= get_currency(shipment.money_currency) %> <%= number_with_precision ((get_quotient(((shipment.total_charge.nil? ? 0 : shipment.total_charge) * 100), (shipment.convert_to_lb * get_quotient(shipment.distance, 1.6))))), :precision => 2 %></td>

                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
