
<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Clients', sub_header_title: 'Create/Edit/View'%>
<!-- end page-header -->
<!-- begin row -->
<div class="row">
      <!-- begin col-6 -->
      <div class="col-lg-6">
    <!-- begin panel -->
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <div class="panel-heading-btn">
          </div>
          <h4 class="panel-title"><%= @client.company_name %></h4>
        </div>
        <div class="panel-body">
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">ID:</label>
            <div class="col-md-7">
              <%= @client.client_id %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Type:</label>
            <div class="col-md-7">
              <%= @client.client_type %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Relationship Owner:</label>
            <div class="col-md-7">
              <% if @client.relationship_owner.present? && !@client.relationship_owner.nil?%>
                <%= link_to Rep.find(@client.relationship_owner).rep_id, rep_path(:id => @client.relationship_owner) %>
              <% end %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Sales priority:</label>
            <div class="col-md-7">
              <%= @client.sales_priority %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Phone:</label>
            <div class="col-md-7">
              <%= @client.phone %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Annual Revenue:</label>
            <div class="col-md-7">
              <%= @client.annual_revenue %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Industry:</label>
            <div class="col-md-7">
              <%= @client.industry %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Primary Industry:</label>
            <div class="col-md-7">
              <%= @client.primary_industry %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Hazardous:</label>
            <div class="col-md-7">
              <%= @client.hazardous %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Food Grade:</label>
            <div class="col-md-7">
              <%= @client.food_grade %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Freight Revenue:</label>
            <div class="col-md-7">
              <%= @client.freight_revenue %>
            </div>
          </div>

          <%= link_to 'Edit', edit_client_path(@client), :class => 'btn btn-warning' %>&nbsp;&nbsp;
          <%= link_to 'Back', clients_path, :class => 'btn btn-info' %>
        </div>
      </div>
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <div class="panel-heading-btn">
          </div>
          <h4 class="panel-title">Address</h4>
        </div>
        <div class="panel-body">
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Address:</label>
            <div class="col-md-7">
              <%= @client.address %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">City:</label>
            <div class="col-md-7">
              <%= @client.city %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">State:</label>
            <div class="col-md-7">
              <%= @client.state %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Postal:</label>
            <div class="col-md-7">
              <%= @client.postal %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Country:</label>
            <div class="col-md-7">
              <%= @client.country %>
            </div>
          </div>


        </div>
      </div>
  </div>
  <div class="col-lg-6">
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title">Locations</h4>
  </div>
  <div class="panel-body">
  </div>
</div>
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    <%= link_to 'New Contact', new_client_contact_path, :class => 'btn btn-primary btn-xs' %>
    </div>
    <h4 class="panel-title">Contacts</h4>
  </div>
  <div class="panel-body">
  </div>
</div>

</div>

</div>
<!-- end panel -->
