<div id="top-menu" class="top-menu">
    <!-- begin top-menu nav -->
    <ul class="nav bg-inverse">
      <% if current_user.has_role?(:admin) || current_user.has_role?(:steward) || current_user.ro || current_user.cs  %>
        <li><a href="<%= carriers_path %>" class="<%= (params[:controller] == 'carriers') ? 'active' : ''%> carrier"><i class="fa fa-truck"></i> <span>Carriers</span></a></li>
      <% end %>
      <% if current_user.has_role?(:admin) || current_user.has_role?(:steward) || current_user.ro || current_user.cs  %>
        <li><a href="<%= shippers_path %>" class="<%= (params[:controller] == 'shippers') ? 'active' : ''%> shipper"><i class="fa fa-shopping-basket"></i> <span>Shippers</span></a></li>
      <% end %>
      <% if current_user.has_role?(:admin) || current_user.has_role?(:steward) || current_user.ro || current_user.cs %>
        <li><a href="<%= activities_path %>" class="<%= (params[:controller] == 'activities') ? 'active' : ''%> activity"><i class="fa fa-list"></i> <span>Activities</span></a></li>
      <% end %>
      <% if current_user.has_role?(:admin) || current_user.has_role?(:steward) || current_user.ro || current_user.cs %>
        <li><a href="<%= rates_path %>" class="<%= (params[:controller] == 'rates') ? 'active' : ''%> rate"><i class="fas fa-hand-holding-usd"></i> <span>Rates</span></a></li>
      <% end %>
      <% if current_user.has_role?(:admin) || current_user.has_role?(:steward) || current_user.ro || current_user.cs %>
        <li><a href="<%= reminders_path %>" class="<%= (params[:controller] == 'reminders') ? 'active' : ''%> reminder"><i class="far fa-bell"></i> <span>Reminders</span></a></li>
      <% end %>
      <%# if current_user.has_role?(:admin) || current_user.has_role?(:steward) || current_user.ro || current_user.cs %>
        <!-- <li><a href="<%= load_tiles_path %>" class="
          <%# if params[:controller] == 'load_tiles' || params[:controller] == 'tile_tabs'%> active <%# end %> load_tile">
          <i class="fas fa-columns"></i> <span>Load & Truck</span></a></li> -->
      <%# end %>

      <%# <% if current_user.has_role?(:admin) %>
        <!-- <li><a href="<%#= reps_path %>" class="<%#= (params[:controller] == 'reps') ? 'active' : ''%> steward"><i class="fa fa-users"></i> <span>Stewards</span></a></li> -->
      <%# end %>
      <li class="menu-control menu-control-left show">
        <a href="javascript:;" data-click="prev-menu"><i class="fa fa-angle-left"></i></a>
      </li>
      <li class="menu-control menu-control-right show">
        <a href="javascript:;" data-click="next-menu"><i class="fa fa-angle-right"></i></a>
      </li>
    </ul>
</div>
