<div id="top-menu" class="top-menu">
			<!-- begin top-menu nav -->
			<ul class="nav">

        <li class="<%= (params[:controller] == 'dashboards') ? 'active' : ''%>">
          <a href="<%= authenticated_root_path %>">
            <span>Home</span>
          </a>
        </li>
        <% if current_user.has_role?(:admin) %>
          <li class="<%= (params[:controller] == 'clients') ? 'active' : ''%>">
            <a href="<%= clients_path %>">
              <span>Clients</span>
            </a>
          </li>
          <li class="<%= (params[:controller] == 'activities') ? 'active' : ''%>">
            <a href="<%= activities_path %>">
              <span>Activities</span>
            </a>
          </li>
          <li class="<%= (params[:controller] == 'master_invoices') ? 'active' : ''%>">
            <a href="<%= master_invoices_path %>">
              <span>Master Invoices</span>
            </a>
          </li>
          <li class="<%= (params[:controller] == 'rates') ? 'active' : ''%>">
            <a href="<%= rates_path %>">
              <span>Rates</span>
            </a>
          </li>
          <li class="<%= (params[:controller] == 'master_signals') ? 'active' : ''%>">
            <a href="<%= master_signals_path %>">
              <span>Signal</span>
            </a>
          </li>
          <li class="<%= (params[:controller] == 'reps') ? 'active' : ''%>">
            <a href="<%= reps_path %>">
              <span>Reps</span>
            </a>
          </li>
          <li class="<%= (params[:controller] == 'locations') ? 'active' : ''%>">
            <a href="<%= locations_path %>">
              <span>Locations</span>
            </a>
          </li>
          <li class="has-sub <%= (params[:controller] == 'users') ? 'active' : ''%>">
            <a href="javascript:;">
              <b class="caret"></b>
              <span>System Settings</span>
            </a>
            <ul class="sub-menu">
              <% if current_user.admin? %>
                <li><a href="<%= users_path %>"> <span>Users</span></a></li>
              <% end %>
            </ul>
          </li>

        <% end %>
				<!-- <li class="menu-control menu-control-left">
					<a href="javascript:;" data-click="prev-menu"><i class="fa fa-angle-left"></i></a>
				</li>
				<li class="menu-control menu-control-right">
					<a href="javascript:;" data-click="next-menu"><i class="fa fa-angle-right"></i></a>
				</li> -->
			</ul>
			<!-- end top-menu nav -->
		</div>
		<!-- end #top-menu -->
