<div id="header" class="header navbar-default">
  <!-- begin navbar-header -->
  <div class="navbar-header">
    <!-- <a href="index.html" class="navbar-brand"><span class="navbar-logo"></span> <b>PB</b> Platform</a> -->
    <a href="<%= authenticated_root_path %>" class="navbar-brand"><img src="<%= asset_path('icon_scoutlook.png') %>" />
      <b style="vertical-align: middle;">ScoutLook</b><span style="vertical-align: middle;"><%= user_signed_in? ? (current_user.has_role?(:admin) ? ' Admin' : ' User') : ''%></span>
      <small class="version">v 1.01</small>
    </a>
    <!-- <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> -->
  </div>
  <!-- end navbar-header -->

  <% if user_signed_in? %>
  <!-- begin header-nav -->
    <ul class="navbar-nav navbar-right">

      <% if current_user.has_role?(:admin) %>
        <li class="dropdown">
          <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
            <i class="fas fa-clock"></i>
            <% if @global_summary.reminder_total > 0 %>
              <span class="label"><%= @global_summary.reminder_total %></span>
            <% end %>
          </a>
          <ul class="dropdown-menu media-list dropdown-menu-right">
            <li class="dropdown-header">REMINDERS (<%= @global_summary.reminder_total %>)</li>
            <% if @global_summary.reminder_total > 0 %>
              <% if is_mobile %>
                <% @current_reminders.limit(5).each do |reminder|%>
                  <li class="media">
                    <div class="media-body notification-padding">
                      <h6 class="media-heading"><%= reminder_to_sentence(reminder).html_safe %></h6>
                      <div class="text-muted f-s-11"></div>
                    </div>
                  </li>
                <% end %>
              <% else %>
                <% @current_reminders.each do |reminder|%>
                  <li class="media">
                    <div class="media-body notification-padding">
                      <h6 class="media-heading"><%= reminder_to_sentence(reminder).html_safe %></h6>
                      <div class="text-muted f-s-11"><%= reminder.created_at.strftime("%m/%d/%Y %l:%M %P") %></div>
                    </div>
                  </li>
                <% end %>
              <% end %>
            <% else %>
              <li class="text-center width-300 p-b-10">
                No reminders found today. :)
              </li>
            <% end %>
            <li class="media">
              <div class="media-body notification-padding text-center">
                <h6 class="media-heading"><%= link_to "See all reminders", reminders_path %></h6>
              </div>
            </li>
          </ul>
        </li>
      <% end %>
      <% if current_user.has_role?(:admin) %>
        <li class="dropdown">
          <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
            <i class="fa fa-bell"></i>
            <% if @global_summary.log_total > 0 %>
              <span class="label"><%= @global_summary.log_total %></span>
            <% end %>
          </a>
          <ul class="notification dropdown-menu media-list dropdown-menu-right">
            <li class="dropdown-header">NOTIFICATIONS (<%= @global_summary.log_total %>)</li>
            <% if @global_summary.log_total > 0 %>
              <% if is_mobile %>
                <% @current_logs.limit(5).each do |audit|%>
                  <li class="media">
                    <div class="media-body notification-padding">
                      <h6 class="media-heading"><%= audit.description.html_safe %></h6>
                      <div class="text-muted f-s-11"><%= audit.created_at.strftime("%m/%d/%Y %l:%M %P") %></div>
                    </div>
                  </li>
                <% end %>
              <% else %>
              <% @current_logs.each do |audit|%>
                <li class="media">
                  <div class="media-body notification-padding">
                    <h6 class="media-heading"><%= audit.description.html_safe %></h6>
                    <div class="text-muted f-s-11"><%= audit.created_at.strftime("%m/%d/%Y %l:%M %P") %></div>
                  </div>
                </li>
              <% end %>
              <% end %>
            <% else %>
              <li class="text-center width-300 p-b-10">
                No notification found today. :)
              </li>
            <% end %>
            <li class="media">
              <div class="media-body notification-padding text-center">
                <h6 class="media-heading"><%= link_to "See all notifications", logs_path%></h6>
              </div>
            </li>
          </ul>
        </li>
      <% end %>
      <li class="dropdown navbar-user">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
          <% if !current_user.avatar.nil?  %>
            <% if current_user.avatar.attached? %>
              <% if FileTest.exist?(url_for(current_user.avatar))%>
                <div class="image extend_image">
                  <%= image_tag current_user.avatar %>
                </div>
              <% else %>
                <div class="image image-icon bg-black text-grey-darker">
                  <i class="fa fa-user"></i>
                </div>
              <% end %>
            <% else %>
              <div class="image image-icon bg-black text-grey-darker">
                <i class="fa fa-user"></i>
              </div>
            <% end %>
          <% else %>
            <div class="image image-icon bg-black text-grey-darker">
              <i class="fa fa-user"></i>
            </div>
          <% end %>
          <span class="d-none d-md-inline">
          <%= (!current_user.first_name.nil? && !current_user.last_name.nil?) ? (current_user.first_name + " " + current_user.last_name) : current_user.email.downcase %></span> <b class="caret"></b>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to('Edit Profile', edit_user_registration_path, class: "dropdown-item") %>
          <div class="dropdown-divider"></div>
          <% if current_user.has_role?(:admin) %>
            <h6 class="dropdown-header">System Settings</h6>
            <a class="dropdown-item" href="<%= logs_path %>">Logs</a>
            <a class="dropdown-item" href="<%= users_path %>">Users</a>
            <a class="dropdown-item" href="<%= mailings_path %>">Mails</a>
            <a class="dropdown-item" href="<%= messages_path(:mtype => 'sent') %>">SMS/Messages</a>
            <a class="dropdown-item" href="<%= email_templates_path %>">Email Template</a>
            <a class="dropdown-item" href="<%= jobs_path %>">Background Jobs</a>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to('Log Out', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
        </div>
      </li>
    </ul>
  <% end %>
  <!-- end header navigation right -->
</div>
<div class="nav bg-inverse m-nav">
  <div class="m-nav-container">
    <div class="m-nav-icon <%= (params[:controller] == 'carriers') ? 'active' : ''%> carrier"><span><a href="<%= carriers_path %>"><i class="fa fa-truck"></i></a></span></div>
    <div class="m-nav-icon <%= (params[:controller] == 'shippers') ? 'active' : ''%> shipper"><span><a href="<%= shippers_path %>"><i class="fa fa-shopping-basket"></i></a></span></div>
    <div class="m-nav-icon <%= (params[:controller] == 'activities') ? 'active' : ''%> activity"><span><a href="<%= activities_path %>"><i class="fa fa-list"></i></a></span></div>
    <div class="m-nav-icon <%= (params[:controller] == 'rates') ? 'active' : ''%> rate"><span><a href="<%= rates_path %>"><i class="fas fa-hand-holding-usd"></i></a></span></div>
    <div class="m-nav-icon <%= (params[:controller] == 'reminders') ? 'active' : ''%> reminder"><span><a href="<%= reminders_path %>"><i class="far fa-bell"></i></a></span></div>
    <div class="m-nav-icon <% if params[:controller] == 'load_tiles' || params[:controller] == 'tile_tabs'%> active <% end %> load_tile"><span><a href="<%= load_tiles_path %>"><i class="fas fa-columns"></i></a></span></div>

  </div>
</div>
