<style>
@media (max-width: 767px) {
  .text-right {
    text-align: left!important;
  }
}
</style>
<!-- begin page-header -->
<div class="header-scout">
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Rate' : "Edit Rate - #{carrier_rate.carrier.nil? ? "" : link_to(carrier_rate.carrier.company_name, carrier_rate.carrier)}" %>
  </h1>
</div>
<!-- end page-header -->
<!-- begin panel -->

<%= form_with(model: carrier_rate, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
  <div class="panel panel-inverse">
    <div class="panel-heading">
      <div class="panel-heading-btn">
      </div>
      <h4 class="panel-title">Information<%= params[:action] == 'edit' ? (": " + generate_alphanumeric_id(carrier_rate.rate_type, carrier_rate.id) + " - #{carrier_rate.rate_type}") : "" %></h4>
    </div>
    <div class="panel-body">
    <% if carrier_rate.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(carrier_rate.errors.count, "error") %> prohibited this carrier_rate from being saved:</h2>

        <ul>
        <% carrier_rate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <h4 class="text-inverse">Details</h4>

      <%= form.hidden_field :carrier_id %>
    <!-- <div class="form-group row m-b-15">
      <%#= form.label :carrier_id, 'Carrier:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
      <%#= form.select :carrier_id, Carrier.all.collect {|r| [ r.company_name, r.id ] },{:include_blank => true, :selected => carrier_rate.carrier_id}, class: 'form-control' %>
      </div>
    </div> -->
    <div class="form-group row m-b-15">
      <%= form.label :rate_level, 'Level:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
        <%= form.select :rate_level, options_for_select(['Master', 'Child'], carrier_rate.rate_level),{:include_blank => true}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <%= form.label :parent_id, 'Parent:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
        <%= form.select :parent_id, CarrierRate.all.collect {|r| [ r.rate_type, r.id ] },{:include_blank => true, :selected => carrier_rate.parent_id}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <%= form.label :rate_type, 'Type:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
        <%= form.select :rate_type, options_for_select(['Contract', 'Proposal', 'Spot', 'Quote', 'PB'], carrier_rate.rate_type),{:include_blank => true}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <%= form.label :rep_id, 'Steward:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
      <div class="col-md-9 col-sm-8">
        <%= form.select :rep_id, Rep.all.collect {|r| [ "#{r.first_name} #{r.last_name}", r.id ] },{:include_blank => true, :selected => carrier_rate.rep_id}, class: 'form-control' %>
      </div>
    </div>
      <div class="form-group row m-b-15">
        <%= form.label :effective_to, 'Effective To:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :effective_to, class: 'form-control datepicker-autoClose', 'data-inputmask' => "'alias': 'mm/dd/yyyy'" %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :effective_from, 'Effective From:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :effective_from, class: 'form-control datepicker-autoClose', 'data-inputmask' => "'alias': 'mm/dd/yyyy'" %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :supporting_pdf, 'Supporting PDF:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.file_field :supporting_pdf %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :freight_desc, 'Freight Description:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :freight_desc, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :freight_classification, 'Freight Classification:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :freight_classification, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :transit_time, 'Transit Time:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :transit_time, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :minimum_density, 'Minimum Density:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :minimum_density, class: 'form-control' %>
        </div>
      </div>
      <hr>
      <h4 class="text-inverse">Origin</h4>
      <div class="form-group row m-b-15">
        <%= form.label :origin_city, 'City / Town:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :origin_city, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :origin_state, 'Province / State:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :origin_state, options_for_select([]),{:include_blank => true}, class: 'form-control static-dropdown' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :origin_country, 'Country:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :origin_country, options_for_select([]), {}, class: 'form-control static-dropdown' %>
        </div>
      </div>
      <hr>
      <h4 class="text-inverse">Destination</h4>
      <div class="form-group row m-b-15">
        <%= form.label :destination_city, 'City / Town:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :destination_city, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :destination_state, 'Province / State:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :destination_state, options_for_select([]),{:include_blank => true}, class: 'form-control static-dropdown' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :destination_country, 'Country:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :destination_country, options_for_select([]), {}, class: 'form-control static-dropdown' %>
        </div>
      </div>

      <div class="form-group row m-b-15">
        <div class="col-md-2"></div>
          <div class="col-md-9 col-sm-12 d-flex justify-content-end">
            <%= form.submit 'Submit', :class => 'btn btn-primary' %>
            <% if params[:action] == 'edit' %>
              &nbsp;&nbsp;<%= link_to 'Show', carrier_rate, :class => 'btn btn-info' %>
            <% end %>
            <% if @previous_controller == "carriers"%>
              <% carrier = Carrier.find(carrier_rate.carrier_id)%>
              <% if params[:action] == 'new' %>
                &nbsp;&nbsp;<%= link_to 'Back to Carrier', carrier, :class => 'btn btn-default' %>
              <% end %>
          <% else %>
            <% if params[:action] == 'new' %>
              &nbsp;&nbsp;<%= link_to 'Back', carrier_rates_path, :class => 'btn btn-default' %>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
  </div>


<% end %>
<script language="javascript">
  populateCountries("carrier_rate_origin_country", "carrier_rate_origin_state");
  populateCountries("carrier_rate_destination_country", "carrier_rate_destination_state");
</script>
