<style>
  .badge a {
    color: #fff!important;
  }
  td.link a:visited {
    /* color: #6f060b!important; */
  }
</style>
<% if params[:controller] == "carriers" %>
  <style media="screen">
  .tooltip-inner {
    background-color: #6f060b!important;
  }
  .tooltip .arrow::before{
    border-right-color: #6f060b!important;
  }
  th {
    vertical-align: top;
  }
  </style>
<% end %>
<!-- begin panel -->
<div style="width: 100%">
  <div class="panel panel-scout">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <%= render 'carriers/header/buttons_and_links' %>
      </div>
      <h4 class="panel-title lp-header">Carriers (Demotion)</h4>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-bordered display nowrap"  data-order="[[1, &quot;asc&quot;]]" id="carrier_table" width="100%">
        <thead>
          <tr>
            <th>MC #</th>
            <th>Name</th>
            <th>Current Tier</th>
            <th>Previous Tier</th>
            <th>Highest Tier</th>
            <th>Highest Tier Date</th>
            <th>Gross Margin %</th>
            <th>1W</th>
            <th>1M</th>
            <th>3M</th>
            <th>6M</th>
            <th>Highest Tier Reached</th>
            <th>Phone #1</th>
            <th>Phone #2</th>
            <th>Prime Status</th>
            <th>Owner</th>
            <th>Days Since</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>MC #</th>
            <th>Name</th>
            <th>Current Tier</th>
            <th>Previous Tier</th>
            <th>Highest Tier</th>
            <th>Highest Tier Date</th>
            <th>Gross Margin %</th>
            <th>1W</th>
            <th>1M</th>
            <th>3M</th>
            <th>6M</th>
            <th>Highest Tier Reached</th>
            <th>Phone #1</th>
            <th>Phone #2</th>
            <th>Prime Status</th>
            <th>Owner</th>
            <th>Days Since</th>
          </tr>
        </tfoot>
        <tbody class="spacer">
          <% CarrDemo.all.each do |carr| %>
            <tr>
              <td><%= carr['MC#'] %></td>
              <td>
                <% if carr['carrier_id'] %>
                  <a href='/carriers/<%= carr['carrier_id'] %>' target="_blank"><%= carr['Carrier_Name'] %></a>
                <% else %>
                  <%= carr['Carrier_Name'] %>
                <% end %>
              </td>
              <td><%= generate_rank_text(carr['Current_Tier']).html_safe %></td>
              <td><%= generate_rank_text(carr['Previous_Tier']).html_safe %></td>
              <td><%= generate_rank_text(carr['Highest_Tier']).html_safe %></td>
              <td><%= carr['Highest_Tier_Date'] ? DateTime.parse(carr['Highest_Tier_Date']).strftime('%m/%d/%Y') : "" %></td>
              <td><%= carr['Gross_Margin_%'] %>%</td>
              <td><%= number_with_precision(carr['Load_Last_Week'],
                                            strip_insignificant_zeros: true,
                                            precision: 2) if carr['Load_Last_Week'] > 0 %></td>
              <td><%= number_with_precision(carr['Load_Last_Month'],
                                            strip_insignificant_zeros: true,
                                            precision: 2) if carr['Load_Last_Month'] > 0 %></td>
              <td><%= number_with_precision(carr['Load_Last_3_Months'],
                                            strip_insignificant_zeros: true,
                                            precision: 2) if carr['Load_Last_3_Months'] > 0 %></td>
              <td><%= number_with_precision(carr['Load_Last_6_Months'],
                                            strip_insignificant_zeros: true,
                                            precision: 2) if carr['Load_Last_6_Months'] > 0 %></td>
              <td><%= carr['Highest_Tier_Reached'] %></td>
              <td><%= carr['primary_phone'] %></td>
              <td><%= carr['secondary_phone'] %></td>
              <td class="text-center"><%= carr['sales_priority'] ? shade_sales_priority(carr['sales_priority']).html_safe : '' %></td>
              <td class="text-center link"><%= carr['user_id'] ? (carr['relationship_owner_name'].blank? ? '(no name)' : "#{link_to(covert_initials(carr['relationship_owner_name']), user_path(:id => carr['user_id']))}".html_safe) : '' %></td>
              <td><%= carr['Days_Since'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script language="javascript">
  $(document).ready(function() {
    filterTable("carrier_table", 1);
  });
</script>
