<style>
  .badge a {
    color: #fff!important;
  }
  td.link a:visited {
    /* color: #6f060b!important; */
  }
</style>
<% if params[:controller] == "carriers" %>
  <style media="screen">
  .tooltip-inner {
    background-color: #6f060b!important;
  }
  .tooltip .arrow::before{
    border-right-color: #6f060b!important;
  }
  th {
    vertical-align: top;
  }
  </style>
<% end %>
<!-- begin panel -->
<div style="width: 100%">
  <div class="panel panel-scout">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <%= render 'carriers/header/buttons_and_links' %>
      </div>
      <h4 class="panel-title lp-header">Carriers (New)</h4>
    </div>
    <div class="panel-body">
      <table class="table table-black table-bordered display nowrap"  data-order="[[3, &quot;desc&quot;]]" id="carrier_table" width="100%">
        <thead>
          <tr>
            <th>Interview</th>
            <th>Wolfbyte</th>
            <th>MC #</th>
            <th>Name</th>
            <th>Trucks</th>
            <th>Reefers</th>
            <th>Teams</th>
            <th>Contact</th>
            <th>ORG</th>
            <th>DEST</th>
            <th><abbr title="Loads Last Month">LLM</abbr></th>
            <th>First Load Date</th>
            <th><abbr title="Gross Margin %">GM</abbr></th>
            <th>Phone #1</th>
            <th>Class</th>
            <th>Owner</th>
            <th>LW</th>
            <th>2W</th>
            <th>3W</th>
            <th>6W</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Interview</th>
            <th>Wolfbyte</th>
            <th>MC #</th>
            <th>Name</th>
            <th>Trucks</th>
            <th>Reefers</th>
            <th>Teams</th>
            <th>Contact</th>
            <th>ORG</th>
            <th>DEST</th>
            <th>LLM</th>
            <th>First Load Date</th>
            <th>GM</th>
            <th>Phone #1</th>
            <th>Class</th>
            <th>Owner</th>
            <th>LW</th>
            <th>2W</th>
            <th>3W</th>
            <th>6W</th>
          </tr>
        </tfoot>
        <tbody class="spacer">
          <% CarrNew.all.each do |carr| %>
            <tr class="<%= generate_styling_carriers(carr['first_load_date'], carr['interview']) %>">
              <td><%= carr['interview'] ? "<i class='text-danger'>Yes</i>".html_safe : "<i class='text-success'>No</i>".html_safe %></td>
              <td><%= carr['wolfbyte'] ? "<i class='text-danger'>Yes</i>".html_safe : "<i class='text-success'>No</i>".html_safe %></td>
              <td><%= carr['mc_number'] %></td>
              <td>
                <% if carr['carrier_id'] %>
                  <a href='/carriers/<%= carr['carrier_id'] %>' target="_blank"><%= carr['carrier_name'] %></a>
                <% else %>
                  <%= carr['carrier_name'] %>
                <% end %>
              </td>
              <td><%= carr['power_units'] if carr['power_units'] && carr['power_units'] > 0 %></td>
              <td><%= carr['reefers'] if carr['reefers'] && carr['reefers'] > 0 %></td>
              <td><%= carr['teams'] if carr['teams'] && carr['teams'] > 0 %></td>
              <td><%= carr['contact'] %></td>
              <td><%= carr['last_os'] %></td>
              <td><%= carr['last_ds'] %></td>
              <td><%= carr['load_last_month'] %></td>
              <td><%= carr['first_load_date'] ? carr['first_load_date'].strftime('%m/%d/%Y') : "" %></td>
              <td><%= carr['gross_margin'] %>%</td>
              <td><%= carr['primary_phone'] %></td>
              <td class="text-center"><%= carr['sales_priority'] ? shade_sales_priority(carr['sales_priority']).html_safe : '' %></td>
              <td class="text-center link"><%= carr['user_id'] ? (carr['relationship_owner_name'].blank? ? '(no name)' : "#{link_to(covert_initials(carr['relationship_owner_name']), user_path(:id => carr['user_id']))}".html_safe) : '' %></td>
              <td><%= carr['loads_lw'] %></td>
              <td><%= carr['loads_2w'] %></td>
              <td><%= carr['loads_3w'] %></td>
              <td><%= carr['loads_6w'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script language="javascript">
  $(document).ready(function() {
    filterTable("carrier_table", 1);
  });
</script>
