<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @client_contact.title %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client_contact.email %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @client_contact.work_phone %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @client_contact.home_phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client_contact.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @client_contact.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client_contact.state %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @client_contact.postal %>
</p>

<p>
  <strong>Country:</strong>
  <%= @client_contact.country %>
</p>

<p>
  <strong>Client:</strong>
  <%= @client_contact.client_id %>
</p>

<%= link_to 'Edit', edit_client_contact_path(@client_contact) %> |
<%= link_to 'Back', client_contacts_path %>
