<div class="row">
  <label class="col-md-3 col-6 col-form-label">Load #:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.load_num %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">Ship Date:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.ship_date %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">Customer:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.customer %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">Origin:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.origin %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">OS:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.os %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">Destination:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.destination %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">DS:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.ds %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">MC #:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.mc_num %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">Carrier:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load['carrier_id'] ? link_to(load.carrier, controller: "carriers", action: "show", id: load['carrier_id']) : load.carrier %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">Curr:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.curr %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">TTT:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.ttt %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">Billing:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.billing %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">GM:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.gm %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">GMPER:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.gmper %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">Cust Sys:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.cust_sys %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">Carr Sys:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.carr_sys %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">Gross Margin:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.gross_margin %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">Exchange Rate:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.exchange_rate %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">Sales:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.sales %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">Dispatch:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.dispatch %>
  </div>
</div>
<div class="row">
  <label class="col-md-3 col-6 col-form-label">Truck:</label>
  <div class="col-md-9 col-6 lbl-padding-t">
    <%= load.truck %>
  </div>
</div>
