<%= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Lane' : "Edit Lane " %>
<!-- end page-header -->
<!-- begin panel -->

<%= form_with(model: carrier_lane, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
<%= form.hidden_field :carrier_id %>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn"></div>
        <h4 class="panel-title">
        Information</h4>
      </div>
      <div class="panel-body">
        <% if carrier_lane.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(carrier_lane.errors.count, "error") %> prohibited this carrier_lane from being saved:</h2>

            <ul>
            <% carrier_lane.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <h4 class="text-inverse">Details</h4>
        <div class="form-group row m-b-15">
          <%= form.label :lane_priority, 'Priority:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.select :lane_priority, options_for_select(['1', '2', '3', '4', '5'], carrier_lane.lane_priority),{:include_blank => true}, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :lane_origin, 'Origin:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.select :lane_origin, options_for_select(['US-CAL', 'US-FL', 'US-WA', 'US-TX', 'US-AZ'], carrier_lane.lane_origin),{:include_blank => true}, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :lane_destination, 'Destination:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.select :lane_destination, options_for_select(['US-ESB', 'US-MW', 'US-SE', 'US-NW', 'CAN-BC', 'CAN-WEST', 'CAN-ABSK', 'CAN-ON', 'CAN-QC', 'CAN-ATL', 'CAN-NFL'], carrier_lane.lane_destination),{:include_blank => true}, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :truck_per_week, 'Truck per Week:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.number_field :truck_per_week, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :preferred_load_day, 'Preferred Load Day:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.select :preferred_load_day, options_for_select(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], carrier_lane.preferred_load_day),{}, class: 'form-control', multiple: true %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :notes, 'Notes:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.text_area(:notes, cols: 20, rows: 15, class: 'tinymce') %>
          </div>
        </div>

        <div class="form-group row m-b-15">
          <div class="col-md-2"></div>
          <div class="col-md-9 col-sm-12 d-flex justify-content-end">
            <%= form.submit 'Submit', :class => 'btn btn-primary' %>
            &nbsp;&nbsp;<%= link_to 'Back', carrier_path(:id => carrier_lane.carrier_id), :class => 'btn btn-info' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
<%= tinymce %>
<!-- end panel -->
