<p id="notice"><%= notice %></p>

<p>
  <strong>Priority:</strong>
  <%= @carrier_lane.lane_priority %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @carrier_lane.lane_origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @carrier_lane.lane_destination %>
</p>

<p>
  <strong>Trucks Per Week:</strong>
  <%= @carrier_lane.truck_per_week %>
</p>

<p>
  <strong>Preferred Load Days:</strong>
  <%= @carrier_lane.preferred_load_day %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @carrier_lane.notes %>
</p>

<%= link_to 'Edit', edit_carrier_lane_path(@carrier_lane) %> |
<%= link_to 'Back', carrier_lanes_path %>
