<% if shipper %>
  <span
    data-toggle="tooltip"
    data-placement="right"
    data-html="true"
    title="
      <b>Name</b>: <%= shipper.company_name.blank? ? "(no name)" : shipper.company_name %><br>
      <b>DM Name</b>: <%= shipper.pdm_name %><br>
      <b>DM Phone</b>: <%= generate_phone_number("", shipper.primary_phone, shipper.primary_extension_number, shipper.primary_eligible_texting, shipper.primary_phone_type).html_safe %><br>
      <b>DM Email</b>: <%= shipper.contact_email && shipper.contact_email.downcase %><br>
      <b>Class</b>: <%= shipper.sales_priority %><br>
      <b>City</b>: <%= shipper.city.blank? ? '(none)' : shipper.city %><br>
      <b>Sate/Province</b>: <%= shipper.state.blank? ? '(none)' : generate_abv(shipper.state).upcase %><br>
      <b>Last Contact Date</b>: <%= shipper.date_opened.nil? ? "" : shipper.date_opened.strftime('%m/%d/%Y').to_s %><br>
      <b>Last Edit Date</b>: <%= shipper.c_auditable_last_activity_date.nil? ? '' : shipper.c_auditable_last_activity_date.strftime("%m/%d/%Y").to_s %><br>
      <% if params[:controller] != "activities" %>
        <hr>
        <% if !shipper.c_auditable_last_activity_date %>
          <b>Last Activity Name</b>: <%= shipper.campaign_name.blank? ? '(no name)' : shipper.campaign_name %><br>
          <b>Last Activity Type</b>: <%= shipper.activity_type.nil? ? '' : shipper.activity_type %><br>
          <b>Last Activity Status</b>: <%= shipper.activity_status ? 'Open' : 'Closed' %><br>
        <% else %>
          <b>Last Activity</b>: None <br>
        <% end %>
      <% end %>
    ">
      <%= link_to shipper.company_name.blank? ? "(no name)" : shipper.company_name, shipper, :class => generate_styling_activities(shipper.c_auditable_last_activity_date), target: :_blank %>
  </span>
<% end %>
