<% if shipper %>
  <span
    data-toggle="tooltip"
    data-placement="right"
    data-html="true"
    title="
      <b>Name</b>: <%= shipper.company_name.blank? ? "(no name)" : shipper.company_name %><br>
      <b>DM Name</b>: <%= shipper.pdm.nil? ? '' : shipper.pdm.full_name %><br>
      <b>DM Phone</b>: <%= shipper.pdm.nil? ? '' : generate_phone_number("", shipper.pdm.primary_phone, shipper.pdm.primary_extension_number, shipper.pdm.primary_eligible_texting, shipper.pdm.primary_phone_type).html_safe %><br>
      <b>DM Email</b>: <%= shipper.pdm.nil? ? '' : shipper.pdm.email.downcase %><br>
      <b>Class</b>: <%= shipper.sales_priority %><br>
      <b>City</b>: <%= shipper.location.nil? ? '' : shipper.location.city %><br>
      <b>Sate/Province</b>: <%= shipper.location.nil? ? '' : generate_abv(shipper.location.state).upcase %><br>
      <b>Last Contact Date</b>: <%= shipper.last_contact_date.nil? || shipper.last_contact_date.date_opened.nil? ? "" : shipper.last_contact_date.date_opened.strftime('%m/%d/%Y').to_s %><br>
    ">
      <%= link_to shipper.company_name.blank? ? "(no name)" : shipper.company_name, shipper, :class => generate_styling_activities(nil, shipper) %>
  </span>
<% end %>
