<style>
  .badge a {
    color: #fff!important;
  }
  td.link a:visited {
    /* color: #013a38!important; */
  }
</style>
<% if params[:controller] == "shippers" %>
  <style media="screen">
  .tooltip-inner {
    background-color: #013a38!important;
  }
  .tooltip .arrow::before{
    border-right-color: #013a38!important;
  }
  th {
    vertical-align: top;
  }
  </style>
<% end %>
<!-- begin panel -->
<div style="width: 100%">
  <div class="panel panel-darkblue">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <button id="send-text-btn" class="btn btn-green btn-xs"><i class="fas fa-comment-alt"></i></button>
        <button id="send-mail-btn" class="btn btn-primary btn-xs"><i class="fas fa-envelope"></i></button>
        <%= link_to 'New Shipper', new_shipper_path, :class => 'btn btn-success btn-xs' %>
      </div>
      <h4 class="panel-title lp-header">Shippers</h4>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-bordered display nowrap" data-order="[[2, &quot;asc&quot;]]" id="shipper_table">
        <thead>
          <tr>
            <th></th>
            <th class="text-center"><i class="fas fa-clock"></i></th>
            <th>Name</th>
            <th>ST/PV</th>
            <th>DM Name</th>
            <th>DM Phone</th>
            <th>Lane</th>
            <th>DM Email</th>
            <th>Appr</th>
            <th>RO</th>
            <th>Class</th>
            <th>CR</th>
            <th>LstDateCon</th>
            <th>1M</th>
            <th>6M</th>
            <th>City</th>
            <th>LPM</th>
            <th>Commodities</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>ST/PV</th>
            <th>DM Name</th>
            <th>DM Phone</th>
            <th>Lane</th>
            <th>DM Email</th>
            <th>Appr</th>
            <th>RO</th>
            <th>Class</th>
            <th>CR</th>
            <th>LstDateCon</th>
            <th>1M</th>
            <th>6M</th>
            <th>City</th>
            <th>LPM</th>
            <th>Commodities</th>
          </tr>
        </tfoot>
        <tbody class="spacer">
          <% @shippers.each do |shipper| %>
            <tr>
              <td><%= shipper.id %></td>
              <td>
                <% if shipper.reminders %>
                  <% shipper.reminders.each do |reminder| %>
                      <%= reminder_to_html(reminder).html_safe %>
                  <% end %>
                <% end %>
              </td>
              <td class="link">
                <%= render "shippers/link", shipper: shipper %>
              </td>
              <td><%= shipper.location.nil? ? '' : shipper.location.state.upcase %></td>
              <td><%= shipper.pdm.nil? ? '' : shipper.pdm.full_name %></td>
              <td><b><%= shipper.pdm.nil? ? '' : generate_phone_number("", shipper.pdm.primary_phone, shipper.pdm.primary_extension_number, shipper.pdm.primary_eligible_texting, shipper.pdm.primary_phone_type).html_safe %></b></td>
              <td>
                <% if shipper.shipper_lanes.length > 1 %>
                  <% shipper.lane_1.each do |lane| %>
                    <% if !lane.lane_origin.nil? && lane.lane_origin != "" %>
                      <% lane.lane_origin_to_array.each do |origin| %>
                        <%= generate_location(origin, lane).html_safe %>
                      <% end %>
                      &rarr;
                    <% end %>
                    <% lane.lane_destination_to_array.each do |destination| %>
                      <%= generate_location(destination, lane).html_safe %>
                    <% end %>
                    <br>
                  <% end %>
                <% else %>
                    <% lane = shipper.shipper_lanes.last %>
                    <% if !lane.nil? %>
                      <% if !lane.lane_origin.nil? && lane.lane_origin != "" %>
                        <% lane.lane_origin_to_array.each do |origin| %>
                          <%= generate_location(origin, lane).html_safe %>
                        <% end %>
                        &rarr;
                      <% end %>
                    <% lane.lane_destination_to_array.each do |destination| %>
                      <%= generate_location(destination, lane).html_safe %>
                    <% end %>
                  <% end %>
              <% end %>
              </td>
              <td><% if !shipper.pdm.nil?  %><a href="mailto:<%= shipper.pdm.email %>?Subject=Hello%20<%= shipper.pdm.first_name.nil? ? '' :  shipper.pdm.first_name.capitalize + " " + shipper.pdm.last_name.capitalize  %>" target="_top"><%= shipper.pdm.email.downcase %>&nbsp;<i class="far fa-envelope"></i></a><% end %></td>
              <td class="text-center"><%= shipper.approved ? "<b class='text-success'>Y</b>".html_safe : "<i class='text-danger'>N</i>".html_safe %></td>
              <td class="text-center link"><%= shipper.relationship_owner_user.nil? ? '' : "#{link_to("#{shipper.relationship_owner_user.first_name[0]}#{shipper.relationship_owner_user.last_name[0]}", shipper.relationship_owner_user)}".html_safe %></td>
              <td class="text-center"><%= shade_sales_priority(shipper.sales_priority).html_safe %></td>
              <td class="text-center"><%= shipper.complete_record ? "<b class='text-success'>Y</b>".html_safe : "<i class='text-danger'>N</i>".html_safe %></td>
              <td class="text-center"><%= shipper.last_contact_date.nil? || shipper.last_contact_date.date_opened.nil? ? "" : shipper.last_contact_date.date_opened.strftime('%m/%d/%Y').to_s %></td>
              <td class="text-center"><%= shipper.load_last_month %></td>
              <td class="text-center"><%= shipper.load_last_6_month %></td>
              <td><%= shipper.location.nil? ? '' : shipper.location.city %></td>
              <td><%= shipper.loads_per_month %></td>
              <td>
                <% shipper.commodities_to_array.first(5).each do |cr| %>
                  <span class="badge badge-inverse"><%= cr %></span>
                <% end %>
                <% if shipper.commodities_to_array.count >= 5 %>
                <span
                  data-toggle="tooltip"
                  data-placement="right"
                  data-html="true"
                  title="
                  <% shipper.commodities_to_array.drop(5).each do |cr| %>
                    <span class='badge badge-success'><%= cr %></span>
                  <% end %>
                  ">
                  <span class="badge badge-inverse">+<%= shipper.commodities_to_array.count - 5 %></span>
                </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script language="javascript">
  $(document).ready(function() {
    filterAndSelectAllTable("shipper_table", 1);
    $('#send-mail-btn').on('click', function(){
        var rows_selected = $('#shipper_table').DataTable().column(0).checkboxes.selected();
        if (rows_selected.join(",") != ""){
          $.redirect('/shippers/compose_mail', {'ids': rows_selected.join(",")});
        }
    });
  });
</script>

<!-- end panel -->
