<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Shippers' %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    <%= link_to 'New Shipper', new_shipper_path, :class => 'btn btn-primary btn-xs' %>
    </div>
    <h4 class="panel-title">List of Shippers</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered data-table-buttons display nowrap">
      <thead>
        <tr class="odd gradeX">
          <th>Name</th>
          <th>Score Card</th>
          <th>Frieght Guard</th>
          <th>Years in Business</th>
          <th>Owner Operators</th>
          <th>Reefers</th>
          <th>Dry Vans</th>
          <th>Flat Beds</th>
          <th>Teams</th>
          <th>Lane 1</th>
          <th>Lane 2</th>
          <th>Lane 3</th>
          <th>Contact Rates</th>
          <th>How do they find loads</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% @shippers.each do |shipper| %>
          <tr>
            <td><%= link_to shipper.company_name.blank? ? "(no name)" : shipper.company_name, shipper %></td>
            <td><%= shipper.score_card %></td>
            <td><%= shipper.freight_guard %></td>
            <td><%= shipper.years_in_business %></td>
            <td><%= shipper.owner_operators %></td>
            <td><%= shipper.reefers %></td>
            <td><%= shipper.dry_vans %></td>
            <td><%= shipper.flat_beds %></td>
            <td><%= shipper.teams %></td>
            <td><%= shipper.lane_1.nil? ? "" : shipper.lane_1.lane_origin %></td>
            <td><%= shipper.lane_2.nil? ? "" : shipper.lane_2.lane_origin %></td>
            <td><%= shipper.lane_3.nil? ? "" : shipper.lane_3.lane_origin %></td>
            <td><%= shipper.contract_rates %></td>
            <td><%= shipper.find_loads.nil? ? "" : shipper.find_loads.html_safe %></td>
            <td><%= shipper.notes.nil? ? "" : shipper.notes.html_safe %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- end panel -->
