<!-- begin page-header -->
<div class="header-scout">
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title:  params[:action] == 'new' ? 'Create New Contact' : "Edit Contact - #{carrier_contact.first_name} #{carrier_contact.last_name}" %>
  </h1>
</div>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title">Information<%= params[:action] == 'edit' ? (": " + generate_alphanumeric_id("#{carrier_contact.first_name} #{carrier_contact.last_name}", carrier_contact.id) + " - #{carrier_contact.first_name} #{carrier_contact.last_name}") : "" %></h4>
  </div>
  <div class="panel-body">
    <%= form_with(model: carrier_contact, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
      <%= form.hidden_field :carrier_id %>
      <% if carrier_contact.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(carrier_contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
          <ul>
            <% carrier_contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group row m-b-15">
        <%= form.label :contact_type, 'Contact Type:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :contact_type, options_for_select(['Owner', 'President/GM/CEO', 'Sales', 'Sales Manager', 'Dispatch & Operations', 'Customer Service', 'Accounts Receivable'], carrier_contact.contact_type),{:include_blank => true}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <label class="text-right col-md-2 col-sm-4 col-form-label">is it Primary Ops Contact?</label>
        <div class="col-md-9 col-sm-8">
          <input type="checkbox" name="poc"   data-render="switchery" data-theme="default" data-secondary-color="rgb(255, 91, 87)"  <%= is_poc ? 'checked' : '' %> >
        </div>
      </div>
      <div class="form-group row m-b-15">
        <label class="text-right col-md-2 col-sm-4 col-form-label">is it Primary Decision Maker? </label>
        <div class="col-md-9 col-sm-8">
          <input type="checkbox" name="pdm"  data-render="switchery" data-theme="default" data-secondary-color="rgb(255, 91, 87)"  <%= is_pdm ? 'checked' : '' %> >
        </div>
      </div>
      <div class="form-group row m-b-15">
        <label class="text-right col-md-2 col-sm-4 col-form-label">is it Alternate Decision Maker? </label>
        <div class="col-md-9 col-sm-8">
          <%= form.check_box :adm, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: carrier_contact.adm %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <label class="text-right col-md-2 col-sm-4 col-form-label">same as Head Office or Master Carrier Record? </label>
        <div class="col-md-9 col-sm-8">
          <%= form.check_box :same_ho, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)',  change: 'check-switchery-state-text'}, checked: carrier_contact.same_ho %>

        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :first_name, 'First Name *:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :first_name, class: 'form-control', 'data-parsley-required' => true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :last_name, 'Last Name *:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :last_name, class: 'form-control', 'data-parsley-required' => true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :title, 'Title:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :title, class: 'form-control' %>
        </div>
      </div>
      <%= render 'global_subforms/address_form_without_location_id', form: form %>
      <div class="form-group row m-b-15">
        <%= form.label :linkedin_link, 'LinkedIn:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.url_field :linkedin_link, class: 'form-control'%>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :email, 'Email Address *:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.email_field :email, class: 'form-control', 'data-parsley-required' => true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :primary_phone, 'Primary Phone *:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-3 col-sm-2">
          <%= form.text_field :primary_phone, class: 'form-control', 'data-inputmask' => "'mask': '(999) 999-9999'", 'data-parsley-required' => true %>
        </div>
        <div class="col-md-3 col-sm-2">
          <%= form.text_field :primary_extension_number, class: 'form-control', placeholder: "Extension" %>
        </div>
        <div class="col-md-3 col-sm-2">
          <%= form.select :primary_phone_type, options_for_select(['Land Line', 'Cell'], carrier_contact.primary_phone_type),{:include_blank => true}, class: 'form-control', 'data-parsley-required' => true %>
        </div>
      </div>
      <div class="form-group row m-b-15" id="eligible_first">
        <%= form.label :notes, 'Eligible for Texting (Primary):', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
            <%= form.check_box :primary_eligible_texting, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: carrier_contact.primary_eligible_texting %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :secondary_phone, 'Secondary Phone *:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-3 col-sm-2">
          <%= form.text_field :secondary_phone, class: 'form-control', 'data-inputmask' => "'mask': '(999) 999-9999'", 'data-parsley-required' => true %>
        </div>
        <div class="col-md-3 col-sm-2">
          <%= form.text_field :secondary_extension_number, class: 'form-control', placeholder: "Extension" %>
        </div>
        <div class="col-md-3 col-sm-2">
          <%= form.select :secondary_phone_type, options_for_select(['Land Line', 'Cell'], carrier_contact.secondary_phone_type),{:include_blank => true}, class: 'form-control', 'data-parsley-required' => true %>
        </div>
      </div>
      <div class="form-group row m-b-15" id="eligible_second">
        <%= form.label :notes, 'Eligible for Texting (Secondary):', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.check_box :secondary_eligible_texting, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: carrier_contact.secondary_eligible_texting %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :notes, 'Notes:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_area(:notes, cols: 20, rows: 5, class: 'tinymce') %>
        </div>
      </div>

      <!-- <div class="form-group row m-b-15">
        <%#= form.label :password, 'Password:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%#= form.password_field :password, class: 'form-control' %>
        </div>
      </div> -->
      <!-- <div class="form-group row m-b-15">
        <%#= form.label :password_confirmation, 'Confirm Password:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%#= form.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div> -->
      <div class="form-group row m-b-0">
        <label class="text-right col-md-2 col-sm-4 col-form-label">&nbsp;</label>
        <div class="col-md-9 col-sm-8">
          <%= form.submit 'Submit', :class => 'btn btn-primary' %>
          <% carrier = Carrier.find(carrier_contact.carrier_id)%>
          <% if params[:action] == 'edit' %>
            &nbsp;&nbsp;<%= link_to 'Show', carrier, :class => 'btn btn-info' %>
          <% end %>
          <% if params[:action] == 'new' %>
            &nbsp;&nbsp;<%= link_to 'Back', carriers_path, :class => 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= tinymce %>
<!-- end panel -->
<script language="javascript">
  $("#carrier_contact_primary_phone_type").on("change", function(){
      var primary_phone = $("#carrier_contact_primary_phone_type").val()
      if (primary_phone == "Cell") {
          $("#eligible_first").show()
      } else {
        $("#eligible_first").hide()
      }
  });
  $("#carrier_contact_secondary_phone_type").on("change", function(){
      var secondary_phone = $("#carrier_contact_secondary_phone_type").val()
      if (secondary_phone == "Cell") {
          $("#eligible_second").show()
      } else {
        $("#eligible_second").hide()
      }
  });
  $(document).ready(function() {
      $("#eligible_first").hide()
      $("#eligible_second").hide()
      var primary_phone = $("#carrier_contact_primary_phone_type").val()
      var secondary_phone = $("#carrier_contact_secondary_phone_type").val()
      if (primary_phone == "Cell") {
          $("#eligible_first").show()
      } else {
        $("#eligible_first").hide()
      }
      if (secondary_phone == "Cell") {
          $("#eligible_second").show()
      } else {
        $("#eligible_second").hide()
      }
      sameHeadOffice(<%= carrier_contact.same_ho ? 'true' : 'false' %>);
      hideExtensionNumber("carrier_contact", "primary")
      hideExtensionNumber("carrier_contact", "secondary")
      $("#carrier_contact_primary_phone_type").change(function() {
        hideExtensionNumber("carrier_contact", "primary")
      });
      $("#carrier_contact_secondary_phone_type").change(function() {
        hideExtensionNumber("carrier_contact", "secondary")
      });
  });
  <% if !carrier_contact.country.nil? && carrier_contact.country != ""  %>
    $("#country").val('<%= carrier_contact.country %>').change();
  <% else %>
    $("#country").val('USA').change();
  <% end %>
  <%# if carrier_contact.country.present? %>
    // tiggerChangeOnSelectCountry('carrier_contact_country', '<%# carrier_contact.country %>')
  <%# end %>
  <%# if carrier_contact.state.present? %>
    // tiggerChangeOnSelectCountry('carrier_contact_state', '<%# carrier_contact.state.upcase %>')
  <%# end %>
</script>
