<div class="kanban-entry-inner">
    <div class="kanban-label"
        style="border: 2px solid
        <% if tile.status == "Open" %>
          #ffffff;
        <% elsif tile.status == "Covered" %>
          #ffdc00;
        <% elsif tile.status == "Dispatched" %>
          #99da00;
        <% elsif tile.status == "Priority" %>
          #6f060b;
        <% elsif tile.status == "Stranded" %>
          #1a2229;
        <% elsif tile.status == "Dropped" %>
          #0992fa;
        <% elsif tile.status == "Forecast" %>
          #d3d3d3;
        <% else %>
          #f5f5f6;
        <% end %>
        ">
        <div class="row">
          <div class="col-md-12">
            <span style="text-align: left;">
              <%= tile.pu_time %><%= tile.pu_general_time %>
              <b><%= tile.uniq_id %></b> &nbsp;
              <% tile.origin_to_array.each do |cr| %>
                <%= generate_location(cr, nil).html_safe %>
              <% end %>
              <i class="fas fa-arrow-right" style="vertical-align: middle;"></i>
              <% tile.destination_to_array.each do |cr| %>
                <%= generate_location(cr, nil).html_safe %>
              <% end %>
          </span>
          <span style="text-align: right;float: right;">
              <%= tile.del_date %>&nbsp;
              <%= tile.del_time %><%= tile.del_general_time %>
          </span>
        </div>
      </div>
    </div>
</div>
