<div class="kanban-entry-inner">
    <div class="kanban-label"
        style="border: 5px solid
        <% if tile.status == "Open" %>
          #ffffff;
        <% elsif tile.status == "Covered" %>
          #ffdc00;
        <% elsif tile.status == "Dispatched" %>
          #99da00;
        <% elsif tile.status == "Priority" %>
          #6f060b;
        <% elsif tile.status == "Stranded" %>
          #1a2229;
        <% elsif tile.status == "Dropped" %>
          #0992fa;
        <% elsif tile.status == "Forecast" %>
          #d3d3d3;
        <% else %>
          #f5f5f6;
        <% end %>
        border-radius: 10px;">
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <div class="row">
              <div class="col-md-5" style="padding: 0;">
                <div class="row">
                  <div class="col-md-12">
                    <% tile.origin_to_array.each do |cr| %>
                    <% if Carrier::LIGHT_BLUE.include?(cr) %>
                    <span class="badge badge-primary"><%= cr %></span>
                    <% elsif Carrier::DARK_BLUE.include?(cr) %>
                    <span class="badge badge-drakblue">
                      <% if cr == "US-Northeast" %>
                        US-NE
                      <% elsif cr == "US-Southeast" %>
                        US-SE
                      <% elsif cr == "US-Northwest" %>
                        US-NW
                      <% elsif cr == "US-Midwest" %>
                        US-MW
                      <% elsif cr == "US-Northeast (No Bronx)" %>
                        US-NE <br>
                        <span style="font-size: 8px">No BXN</span>
                      <% else %>
                        <%= cr %>
                      <% end %>
                    </span>
                    <% elsif Carrier::BLUE.include?(cr) %>
                    <span class="badge badge-info">
                      <% if cr == "NY-Brooklyn" %>
                      BKN
                      <% elsif cr == "NY-Bronx" %>
                      BXN
                      <% else %>
                      <%= cr %>
                      <% end %>
                    </span>
                    <% elsif Carrier::RED.include?(cr) %>
                    <span class="badge badge-danger"><%= cr %></span>
                    <% elsif Carrier::BROWN.include?(cr) %>
                    <span class="badge badge-brown">
                      <% if cr == "TX-McAllen" %>
                      MCT
                      <% else %>
                      <%= cr %>
                      <% end %>
                    </span>
                    <% elsif Carrier::YELLOW.include?(cr) %>
                    <span class="badge badge-yellow"><%= cr %></span>
                    <% elsif Carrier::ORANGE.include?(cr) %>
                    <span class="badge badge-warning">
                      <% if cr == "CA-Fresno" %>
                      FRC
                      <% elsif cr == "CA-Bakersfield" %>
                      BKC
                      <% elsif cr == "AZ-Yuma" %>
                      YUZ
                      <% else %>
                      <%= cr %>
                      <% end %>
                    </span>
                    <% elsif Carrier::GREEN.include?(cr) %>
                    <span class="badge badge-green"><%= cr %></span>
                    <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12" style="font-size: 9.5px; padding-top: 5px;">
                    <!-- ADD LEFT CONTENT HERE -->
                    <b><%= tile.uniq_id %></b>
                    <span><%= tile.pu_time %><%= tile.pu_general_time %> <%= tile.try(:picks) ? (tile.picks > 1 ? "#{tile.picks}P" : "") : "" %></span>
                    <span><%= tile.teams ? "TEAM" : ""%></span>
                  </div>
                </div>
              </div>
              <div class="col-md-2" style="padding: 0;">
                <div><i class="fas fa-arrow-right" style="vertical-align: middle;"></i></div>
              </div>
              <div class="col-md-5" style="padding: 0;">
                <div class="row">
                  <div class="col-md-12">
                    <% tile.destination_to_array.each do |cr| %>
                     <% if Carrier::LIGHT_BLUE.include?(cr) %>
                       <span class="badge badge-primary"><%= cr %></span>
                     <% elsif Carrier::DARK_BLUE.include?(cr) %>
                       <span class="badge badge-drakblue">
                         <% if cr == "US-Northeast" %>
                           US-NE
                         <% elsif cr == "US-Southeast" %>
                           US-SE
                         <% elsif cr == "US-Northwest" %>
                           US-NW
                         <% elsif cr == "US-Midwest" %>
                           US-MW
                         <% elsif cr == "US-Northeast (No Bronx)" %>
                           US-NE <br>
                           <span style="font-size: 8px">No BXN</span>
                         <% else %>
                           <%= cr %>
                         <% end %>
                       </span>
                     <% elsif Carrier::BLUE.include?(cr) %>
                       <span class="badge badge-info">
                         <% if cr == "NY-Brooklyn" %>
                           BKN
                         <% elsif cr == "NY-Bronx" %>
                           BXN
                         <% else %>
                           <%= cr %>
                         <% end %>
                       </span>
                     <% elsif Carrier::RED.include?(cr) %>
                     <span class="badge badge-danger"><%= cr %></span>
                     <% elsif Carrier::BROWN.include?(cr) %>
                       <span class="badge badge-brown">
                         <% if cr == "TX-McAllen" %>
                           MCT
                         <% else %>
                           <%= cr %>
                         <% end %>
                       </span>
                     <% elsif Carrier::YELLOW.include?(cr) %>
                       <span class="badge badge-yellow"><%= cr %></span>
                     <% elsif Carrier::ORANGE.include?(cr) %>
                       <span class="badge badge-warning">
                         <% if cr == "CA-Fresno" %>
                           FRC
                         <% elsif cr == "CA-Bakersfield" %>
                           BKC
                         <% elsif cr == "AZ-Yuma" %>
                           YUZ
                         <% else %>
                           <%= cr %>
                         <% end %>
                       </span>
                     <% elsif Carrier::GREEN.include?(cr) %>
                       <span class="badge badge-green"><%= cr %></span>
                     <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12" style="font-size: 9.5px; padding-top: 5px;">
                    <!-- ADD RIGHT CONTENT HERE -->
                    <% if tile.shipper %>
                      <span><%= tile.shipper && tile.shipper.company_name.gsub(/[^0-9A-Za-z]/, '')[0, 5].upcase %></span>
                    <% end %>
                    <% if tile.carrier %>
                      <span><%= tile.carrier && tile.carrier.company_name.gsub(/[^0-9A-Za-z]/, '')[0, 5].upcase %></span>
                    <% end %>
                    <span><%= tile.del_date.strftime("%^a") %> <%= tile.del_time %><%= tile.del_general_time %> <%= tile.try(:drops) ? (tile.drops > 1 ? "#{tile.drops}D" : "") : "" %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="text-right">
              <%= link_to '<i class="far fa-edit fa-1-2x"></i>'.html_safe, (tile_type == "truck" ? edit_truck_tile_path(tile) : edit_load_tile_path(tile)), :remote => true, :id => 'edit_tile', :class => 'text-warning' %>
              <%= link_to '<i class="far fa-eye fa-1-2x"></i>'.html_safe, tile, :remote => true, :id => 'show_tile', :class => 'text-success' %>
              <%= link_to '<i class="fas fa-trash-alt fa-1-2x"></i>'.html_safe, tile, :remote => true, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'text-danger'%>
            </div> -->
          </div>
        </div>
    </div>
</div>
