<%= form_with(model: load_tile, :html => {remote: true, class: 'form-horizontal', 'data-parsley-validate' => true, id: form_id}) do |form| %>
  <% if load_tile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(load_tile.errors.count, "error") %> prohibited this load_tile from being saved:</h2>
      <ul>
      <% load_tile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row m-b-15">
    <%= form.label :salesperson_id, 'Salesperson:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= form.select :salesperson_id, User.where(:ro => true).collect {|r| [ "#{r.first_name} #{r.last_name}", r.id ] },{:include_blank => true, :selected => load_tile.salesperson_id}, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <%= form.label :shipper_id, 'Customer:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= collection_select :load_tile, :shipper_id, Shipper.all, :id, :company_name, {prompt: true}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <%= form.label :bill_rate, 'Bill Rate:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= form.number_field :bill_rate, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <%= form.label :status, 'Status:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= form.select :status, options_for_select(['Open', 'Covered', 'Hot', 'Stranded', 'Dropped'], ''), {:include_blank => true}, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <%= form.label :origin, 'Origin:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= form.select :origin, grouped_options_for_select(CarrierLane::ORIGINS), {:include_blank => false}, class: 'new-load-origin-multiple', multiple: true %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <%= form.label :origin_city, 'City:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= form.text_field :origin_city, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <%= form.label :destination, 'Destination:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= form.select :destination, grouped_options_for_select(CarrierLane::DESTINATIONS), {:include_blank => false}, class: 'new-load-destination-multiple', multiple: true %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <%= form.label :destination_city, 'City:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= form.text_field :destination_city, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <%= form.label :picks, 'Picks:', class: 'text-right col-md-2 col-sm-2 col-form-label' %>
    <div class="col-md-4 col-sm-4">
      <%= form.select :picks, options_for_select([1, 2, 3, 4, 5], load_tile.picks), {}, class: 'form-control' %>
    </div>
    <%= form.label :drops, 'Drops:', class: 'text-right col-md-2 col-sm-2 col-form-label' %>
    <div class="col-md-4 col-sm-4">
      <%= form.select :drops, options_for_select([1, 2, 3, 4, 5], load_tile.drops), {}, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <%= form.label :pu_time, 'PU Time:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= form.select :pu_time, (1..12).collect {|r| [ r,r ] },{:include_blank => true, :selected => load_tile.pu_time}, class: 'form-control time_inline' %>
      <%= form.select :pu_general_time, options_for_select(["AM", "PM"], load_tile.pu_general_time), {}, class: 'form-control time_inline' %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <%= form.label :load_date, 'Del Date:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= form.text_field :load_date, class: 'form-control datepicker-autoClose', 'data-inputmask' => "'alias': 'mm/dd/yyyy'", :id => "last_load_date", :value => "#{load_tile.load_date.nil? ? "" : load_tile.load_date.strftime("%m/%d/%Y")}" %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <%= form.label :del_time, 'Del Time:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= form.select :del_time, (1..12).collect {|r| [ r,r ] },{:include_blank => true, :selected => load_tile.del_time}, class: 'form-control time_inline' %>
      <%= form.select :del_general_time, options_for_select(["AM", "PM"], load_tile.del_general_time), {}, class: 'form-control time_inline' %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <label class="text-right col-md-2 col-sm-4 col-form-label">Teams:</label>
    <div class="col-md-9 col-sm-8">
      <%= form.check_box :teams, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: load_tile.teams %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <%= form.label :details, 'Notes:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= form.text_area(:details, rows: 5, class: 'form-control') %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <%= form.label :truck_tile_id, 'Truck Tile:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= collection_select :load_tile, :truck_tile_id, TruckTile.all, :id, :location_with_uniq_id, {prompt: true}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group row m-b-15">
    <div class="col-md-2"></div>
    <div class="col-md-9 col-sm-12 d-flex justify-content-end">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>&nbsp;
      <% if !load_tile.id.nil? %>
        <%= link_to "Back", load_tile, :remote => true, :id => 'show_tile', :class => 'btn btn-success' %>&nbsp;
      <% end %>
      <%= form.submit 'Submit', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
