
          <!--sütun başlangıç-->
          <% ((Date.today() - 2)..(Date.today() + 6)).to_a.each_with_index do |cdate, index|%>
          <div class="panel
            <% if cdate < Date.today %>
              panel-darkred
            <% elsif cdate == Date.today %>
              panel-green
            <% else %>
              panel-inverse
            <% end %>
            kanban-col" style="margin:2% auto; border: 2px solid
              <% if cdate < Date.today %>
                #500007;
              <% elsif cdate == Date.today %>
                #3d5700;
              <% else %>
                #242a30;
              <% end %>
              border-radius: 15px; position: relative; height: 100%;">
              <div class="panel-heading" style="border-top-right-radius: 10px; border-top-left-radius: 10px;">
                  <%= date_to_words(cdate) %>
                  <button id="" class="btn btn-primary btn-xs pull-right"><i class="fas fa-envelope"></i></button>
                  <button id="" class="btn btn-green btn-xs pull-right" style="margin-right: 5px;"><i class="fas fa-comment-alt"></i></button>
              </div>
              <div class="panel-body row" data-date="<%= cdate %>" style="min-height: 100px;">
                <div id="TRUCK-<%= index%>" data-index="<%= index %>" class="col-6 kanban-centered">

                  <% TruckTile.where(:load_date => cdate ).each_with_index do |truck_tile, index2|%>
                    <article class="kanban-entry grab" data-tile-type="TRUCK" id="truck<%= truck_tile.id %>" data-id="<%= truck_tile.id %>" draggable="true" >
                        <div class="kanban-entry-inner">
                            <div class="kanban-label"
                                style="border: 5px solid
                                <% if truck_tile.status == "Booked" || truck_tile.status == "Dispatched" %>
                                  #99da00
                                <% elsif truck_tile.status == "To Be Dispatched" %>
                                  #ffdc00
                                <% elsif truck_tile.status == "Hot" || truck_tile.status == "Urgent Priority to Cover" %>
                                  #ffafbd
                                <% elsif truck_tile.status == "Potential Load" || truck_tile.status == "Truck based on conditions" %>
                                  #0992fa
                                <% else %>
                                  #ffffff
                                <% end %>
                                ">
                                <h2><%= link_to truck_tile.name, truck_tile, :remote => true, :id => 'show_tile' %> <span style="color: <% if truck_tile.status == "Booked" || truck_tile.status == "Dispatched" %>
                                  #5b8200
                                <% elsif truck_tile.status == "To Be Dispatched" %>
                                  #b29a00
                                <% elsif truck_tile.status == "Hot" || truck_tile.status == "Urgent Priority to Cover" %>
                                  #b27a84
                                <% elsif truck_tile.status == "Potential Load" || truck_tile.status == "Truck based on conditions" %>
                                  #0666af
                                <% end %>
                                ">
                                  <%= truck_tile.status %></span></h2>

                                <h5>
                                  <% truck_tile.origin_to_array.each do |cr| %>
                                    <% if Carrier::LIGHT_BLUE.include?(cr) %>
                                      <span class="badge badge-primary"><%= cr %></span>
                                    <% elsif Carrier::DARK_BLUE.include?(cr) %>
                                      <span class="badge badge-drakblue"><%= cr %></span>
                                    <% elsif Carrier::BLUE.include?(cr) %>
                                      <span class="badge badge-info">
                                        <% if cr == "NY-Brooklyn" %>
                                          BKN
                                        <% elsif cr == "NY-Bronx" %>
                                          BXN
                                        <% else %>
                                          <%= cr %>
                                        <% end %>
                                      </span>
                                    <% elsif Carrier::RED.include?(cr) %>
                                    <span class="badge badge-danger"><%= cr %></span>
                                    <% elsif Carrier::BROWN.include?(cr) %>
                                      <span class="badge badge-brown">
                                        <% if cr == "TX-McAllen" %>
                                          MCT
                                        <% else %>
                                          <%= cr %>
                                        <% end %>
                                      </span>
                                    <% elsif Carrier::YELLOW.include?(cr) %>
                                      <span class="badge badge-yellow"><%= cr %></span>
                                    <% elsif Carrier::ORANGE.include?(cr) %>
                                      <span class="badge badge-warning">
                                        <% if cr == "CA-Fresno" %>
                                          FRC
                                        <% elsif cr == "CA-Bakersfield" %>
                                          BKC
                                        <% elsif cr == "AZ-Yuma" %>
                                          YUZ
                                        <% else %>
                                          <%= cr %>
                                        <% end %>
                                      </span>
                                    <% elsif Carrier::GREEN.include?(cr) %>
                                      <span class="badge badge-green"><%= cr %></span>
                                    <% end %>
                                  <% end %>
                                   ->
                                  <% truck_tile.destination_to_array.each do |cr| %>
                                   <% if Carrier::LIGHT_BLUE.include?(cr) %>
                                     <span class="badge badge-primary"><%= cr %></span>
                                   <% elsif Carrier::DARK_BLUE.include?(cr) %>
                                     <span class="badge badge-drakblue"><%= cr %></span>
                                   <% elsif Carrier::BLUE.include?(cr) %>
                                     <span class="badge badge-info">
                                       <% if cr == "NY-Brooklyn" %>
                                         BKN
                                       <% elsif cr == "NY-Bronx" %>
                                         BXN
                                       <% else %>
                                         <%= cr %>
                                       <% end %>
                                     </span>
                                   <% elsif Carrier::RED.include?(cr) %>
                                   <span class="badge badge-danger"><%= cr %></span>
                                   <% elsif Carrier::BROWN.include?(cr) %>
                                     <span class="badge badge-brown">
                                       <% if cr == "TX-McAllen" %>
                                         MCT
                                       <% else %>
                                         <%= cr %>
                                       <% end %>
                                     </span>
                                   <% elsif Carrier::YELLOW.include?(cr) %>
                                     <span class="badge badge-yellow"><%= cr %></span>
                                   <% elsif Carrier::ORANGE.include?(cr) %>
                                     <span class="badge badge-warning">
                                       <% if cr == "CA-Fresno" %>
                                         FRC
                                       <% elsif cr == "CA-Bakersfield" %>
                                         BKC
                                       <% elsif cr == "AZ-Yuma" %>
                                         YUZ
                                       <% else %>
                                         <%= cr %>
                                       <% end %>
                                     </span>
                                   <% elsif Carrier::GREEN.include?(cr) %>
                                     <span class="badge badge-green"><%= cr %></span>
                                   <% end %>
                                  <% end %>
                                </h5>
                                <p>
                                  <%= truck_tile.details %>
                                  <%= truck_tile.load_date %>
                                </p>
                                <p class="text-right">
                                  <%= link_to '<i class="far fa-edit fa-1-2x"></i>'.html_safe, edit_truck_tile_path(truck_tile), :remote => true, :id => 'edit_tile', :class => 'text-warning' %>
                                  <%= link_to '<i class="far fa-eye fa-1-2x"></i>'.html_safe, truck_tile, :remote => true, :id => 'show_tile', :class => 'text-success' %>
                                  <%= link_to '<i class="fas fa-trash-alt fa-1-2x"></i>'.html_safe, truck_tile, :remote => true, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'text-danger'%>
                                </p>
                            </div>
                        </div>
                    </article>
                  <% end %>

                </div>
                  <div id="LOAD-<%= index%>" data-index="<%= index %>"  class="col-6 kanban-centered">

                    <% LoadTile.where(:load_date => cdate ).each_with_index do |load_tile, index2|%>
                      <article class="kanban-entry grab" data-tile-type="LOAD" id="load<%= load_tile.id %>" data-id="<%= load_tile.id %>" draggable="true" >
                          <div class="kanban-entry-inner">
                              <div class="kanban-label"
                                  style="border: 5px solid
                                  <% if load_tile.status == "Booked" || load_tile.status == "Dispatched" %>
                                    #99da00
                                  <% elsif load_tile.status == "To Be Dispatched" %>
                                    #ffdc00
                                  <% elsif load_tile.status == "Hot" || load_tile.status == "Urgent Priority to Cover" %>
                                    #ffafbd
                                  <% elsif load_tile.status == "Potential Load" || load_tile.status == "Truck based on conditions" %>
                                    #0992fa
                                  <% else %>
                                    #ffffff
                                  <% end %>
                                  ">
                                  <h2><%= link_to load_tile.name, load_tile, :remote => true, :id => 'show_tile' %> <span style="color: <% if load_tile.status == "Booked" || load_tile.status == "Dispatched" %>
                                    #5b8200
                                  <% elsif load_tile.status == "To Be Dispatched" %>
                                    #b29a00
                                  <% elsif load_tile.status == "Hot" || load_tile.status == "Urgent Priority to Cover" %>
                                    #b27a84
                                  <% elsif load_tile.status == "Potential Load" || load_tile.status == "Truck based on conditions" %>
                                    #0666af
                                  <% end %>
                                  ">
                                    <%= load_tile.status %></span></h2>

                                  <h5>
                                    <% load_tile.origin_to_array.each do |cr| %>
                                      <% if Carrier::LIGHT_BLUE.include?(cr) %>
                                        <span class="badge badge-primary"><%= cr %></span>
                                      <% elsif Carrier::DARK_BLUE.include?(cr) %>
                                        <span class="badge badge-drakblue"><%= cr %></span>
                                      <% elsif Carrier::BLUE.include?(cr) %>
                                        <span class="badge badge-info">
                                          <% if cr == "NY-Brooklyn" %>
                                            BKN
                                          <% elsif cr == "NY-Bronx" %>
                                            BXN
                                          <% else %>
                                            <%= cr %>
                                          <% end %>
                                        </span>
                                      <% elsif Carrier::RED.include?(cr) %>
                                      <span class="badge badge-danger"><%= cr %></span>
                                      <% elsif Carrier::BROWN.include?(cr) %>
                                        <span class="badge badge-brown">
                                          <% if cr == "TX-McAllen" %>
                                            MCT
                                          <% else %>
                                            <%= cr %>
                                          <% end %>
                                        </span>
                                      <% elsif Carrier::YELLOW.include?(cr) %>
                                        <span class="badge badge-yellow"><%= cr %></span>
                                      <% elsif Carrier::ORANGE.include?(cr) %>
                                        <span class="badge badge-warning">
                                          <% if cr == "CA-Fresno" %>
                                            FRC
                                          <% elsif cr == "CA-Bakersfield" %>
                                            BKC
                                          <% elsif cr == "AZ-Yuma" %>
                                            YUZ
                                          <% else %>
                                            <%= cr %>
                                          <% end %>
                                        </span>
                                      <% elsif Carrier::GREEN.include?(cr) %>
                                        <span class="badge badge-green"><%= cr %></span>
                                      <% end %>
                                    <% end %>
                                     ->
                                    <% load_tile.destination_to_array.each do |cr| %>
                                     <% if Carrier::LIGHT_BLUE.include?(cr) %>
                                       <span class="badge badge-primary"><%= cr %></span>
                                     <% elsif Carrier::DARK_BLUE.include?(cr) %>
                                       <span class="badge badge-drakblue"><%= cr %></span>
                                     <% elsif Carrier::BLUE.include?(cr) %>
                                       <span class="badge badge-info">
                                         <% if cr == "NY-Brooklyn" %>
                                           BKN
                                         <% elsif cr == "NY-Bronx" %>
                                           BXN
                                         <% else %>
                                           <%= cr %>
                                         <% end %>
                                       </span>
                                     <% elsif Carrier::RED.include?(cr) %>
                                     <span class="badge badge-danger"><%= cr %></span>
                                     <% elsif Carrier::BROWN.include?(cr) %>
                                       <span class="badge badge-brown">
                                         <% if cr == "TX-McAllen" %>
                                           MCT
                                         <% else %>
                                           <%= cr %>
                                         <% end %>
                                       </span>
                                     <% elsif Carrier::YELLOW.include?(cr) %>
                                       <span class="badge badge-yellow"><%= cr %></span>
                                     <% elsif Carrier::ORANGE.include?(cr) %>
                                       <span class="badge badge-warning">
                                         <% if cr == "CA-Fresno" %>
                                           FRC
                                         <% elsif cr == "CA-Bakersfield" %>
                                           BKC
                                         <% elsif cr == "AZ-Yuma" %>
                                           YUZ
                                         <% else %>
                                           <%= cr %>
                                         <% end %>
                                       </span>
                                     <% elsif Carrier::GREEN.include?(cr) %>
                                       <span class="badge badge-green"><%= cr %></span>
                                     <% end %>
                                    <% end %>
                                  </h5>
                                  <p>
                                    <%= load_tile.details %>
                                    <%= load_tile.load_date %>
                                  </p>
                                  <p class="text-right">
                                    <%= link_to '<i class="far fa-edit fa-1-2x"></i>'.html_safe, edit_load_tile_path(load_tile), :remote => true, :id => 'edit_tile', :class => 'text-warning' %>
                                    <%= link_to '<i class="far fa-eye fa-1-2x"></i>'.html_safe, load_tile, :remote => true, :id => 'show_tile', :class => 'text-success' %>
                                    <%= link_to '<i class="fas fa-trash-alt fa-1-2x"></i>'.html_safe, load_tile, :remote => true, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'text-danger'%>
                                  </p>
                              </div>
                          </div>
                      </article>
                    <% end %>

                  </div>
              </div>
              <div class="panel-footer" style="border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;">
                <a onclick="addDateToForm('<%=cdate.strftime("%m/%d/%Y")%>');" style="cursor:pointer;">Add a card...</a>
              </div>
          </div>
          <!--sütun bitiş-->
          <% end %>
