
          <!--sütun başlangıç-->
          <% ((Date.today() - 2)..(Date.today() + 6)).to_a.each_with_index do |cdate, index|%>
          <div class="panel
            <% if cdate < Date.today %>
              panel-darkred
            <% elsif cdate == Date.today %>
              panel-green
            <% else %>
              panel-inverse
            <% end %>
            kanban-col" style="margin:2% auto; border: 2px solid
              <% if cdate < Date.today %>
                #500007;
              <% elsif cdate == Date.today %>
                #3d5700;
              <% else %>
                #242a30;
              <% end %>
              border-radius: 15px; position: relative; height: 100%;">
              <div class="panel-heading" style="border-top-right-radius: 10px; border-top-left-radius: 10px;z-index: -1;">
                  <%= date_to_words(cdate) %>
                  <button id="" class="btn btn-primary btn-xs pull-right"><i class="fas fa-envelope"></i></button>
                  <button id="" class="btn btn-green btn-xs pull-right" style="margin-right: 5px;"><i class="fas fa-comment-alt"></i></button>
              </div>
              <div class="panel-body row" data-date="<%= cdate %>" style="min-height: 150px;z-index: 100;margin-bottom: 30px;">
                <% ['Open', 'Covered', 'Priority', 'Stranded', 'Dropped', 'Dispatched', ''].each do |stat| %>

                  <% load_tiles = stat != '' ? LoadTile.where(:load_date => cdate, :status => stat) : LoadTile.where(:load_date => cdate).where("status is NULL OR status = ''") %>
                  <% truck_tiles = stat != '' ? TruckTile.where(:load_date => cdate, :status => stat) : TruckTile.where(:load_date => cdate).where("status is NULL OR status = ''") %>

                  <% if load_tiles.length > 0 || truck_tiles.length > 0 %>
                    <div id="LOAD-<%= index%>" data-index="<%= index %>"  class="col-6 kanban-centered sortable-load">
                      <% load_tiles.each_with_index do |load_tile, index2|%>
                        <a href="<%= load_tile_path(load_tile)%>" data-remote="true" style="border-radius: 10px;" class="kanban-entry grab" data-tile-type="LOAD" id="load<%= load_tile.id %>" data-id="<%= load_tile.id %>" draggable="true" >
                            <%= render 'load_tiles/card', tile: load_tile, tile_type: "load" %>
                        </a>
                      <% end %>
                    </div>
                    <div id="TRUCK-<%= index%>" data-index="<%= index %>" class="col-6 kanban-centered sortable-truck">
                      <% truck_tiles.each_with_index do |truck_tile, index2|%>
                        <a href="<%= truck_tile_path(truck_tile)%>" data-remote="true" style="border-radius: 10px;" class="kanban-entry grab" data-tile-type="TRUCK" id="truck<%= truck_tile.id %>" data-id="<%= truck_tile.id %>" draggable="true" >
                          <%= render 'load_tiles/card', tile: truck_tile, tile_type: "truck" %>
                        </a>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="panel-footer" style="border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;">
                <a onclick="addDateToLoadForm('<%=cdate.strftime("%m/%d/%Y")%>');" style="cursor:pointer;float:left;">Add a Load</a>
                <a onclick="addDateToTruckForm('<%=cdate.strftime("%m/%d/%Y")%>');" style="cursor:pointer;float:right;">Add a Truck</a>
              </div>
          </div>
          <!--sütun bitiş-->
          <% end %>
