
          <!--sütun başlangıç-->
          <% ((Date.today() - 2)..(Date.today() + 3)).to_a.each_with_index do |cdate, index|%>
          <div class="panel panel-primary kanban-col">
              <div class="panel-heading">
                  <%= date_to_words(cdate) %>
                  <a onclick="addDateToForm('<%=cdate.strftime("%m/%d/%Y")%>');"><i class="text-muted fa fa-2x fa-plus-circle pull-right"></i></a>
              </div>
              <div class="panel-body">
                  <div id="TODO-<%= index%>" class="kanban-centered">
                    <% LoadTile.where(:load_date => cdate.strftime("%m/%d/%Y") ).each_with_index do |load_tile, index2|%>
                      <article class="kanban-entry grab" id="item<%= index2 %>" draggable="true">
                          <div class="kanban-entry-inner">
                              <div class="kanban-label">
                                  <h2><a href="#"><%= load_tile.name %></a> <span><%= load_tile.status %></span></h2>
                                  <h5>
                                    <% load_tile.origin_to_array.each do |cr| %>
                                      <% if Carrier::LIGHT_BLUE.include?(cr) %>
                                        <span class="badge badge-primary"><%= cr %></span>
                                      <% elsif Carrier::DARK_BLUE.include?(cr) %>
                                        <span class="badge badge-drakblue"><%= cr %></span>
                                      <% elsif Carrier::BLUE.include?(cr) %>
                                        <span class="badge badge-info"><%= cr %></span>
                                      <% elsif Carrier::RED.include?(cr) %>
                                      <span class="badge badge-danger"><%= cr %></span>
                                      <% elsif Carrier::BROWN.include?(cr) %>
                                        <span class="badge badge-brown"><%= cr %></span>
                                      <% elsif Carrier::YELLOW.include?(cr) %>
                                        <span class="badge badge-yellow"><%= cr %></span>
                                      <% elsif Carrier::ORANGE.include?(cr) %>
                                        <span class="badge badge-warning"><%= cr %></span>
                                      <% elsif Carrier::GREEN.include?(cr) %>
                                        <span class="badge badge-green"><%= cr %></span>
                                      <% end %>
                                    <% end %>
                                     ->
                                     <% load_tile.destination_to_array.each do |cr| %>
                                       <% if Carrier::LIGHT_BLUE.include?(cr) %>
                                         <span class="badge badge-primary"><%= cr %></span>
                                       <% elsif Carrier::DARK_BLUE.include?(cr) %>
                                         <span class="badge badge-drakblue"><%= cr %></span>
                                       <% elsif Carrier::BLUE.include?(cr) %>
                                         <span class="badge badge-info"><%= cr %></span>
                                       <% elsif Carrier::RED.include?(cr) %>
                                       <span class="badge badge-danger"><%= cr %></span>
                                       <% elsif Carrier::BROWN.include?(cr) %>
                                         <span class="badge badge-brown"><%= cr %></span>
                                       <% elsif Carrier::YELLOW.include?(cr) %>
                                         <span class="badge badge-yellow"><%= cr %></span>
                                       <% elsif Carrier::ORANGE.include?(cr) %>
                                         <span class="badge badge-warning"><%= cr %></span>
                                       <% elsif Carrier::GREEN.include?(cr) %>
                                         <span class="badge badge-green"><%= cr %></span>
                                       <% end %>
                                     <% end %>
                                  </h5>
                                  <p>
                                    <%= load_tile.details %>
                                  </p>
                              </div>
                          </div>
                      </article>
                    <% end %>

                  </div>
              </div>
              <div class="panel-footer">
                  <a href="#" data-toggle="modal" data-target="#newLoadForm">Add a card...</a>
              </div>
          </div>
          <!--sütun bitiş-->
          <% end %>
