<table  class="table table-bordered table-responsive display nowrap">
  <thead>
    <tr>
      <th>Orig</th>
      <th>Dest</th>
      <th>Comm</th>
      <th>TPW</th>
      <th>Preferred Load Days</th>
      <th>Prefer Teams?</th>
    </tr>
  </thead>
  <tbody>
    <% if !lane_1.nil? %>
      <% lane_1.each do |shipper_lane| %>
        <tr class="lane-priority-<%= shipper_lane.lane_priority %>">
          <td>
            <% shipper_lane.lane_origin_to_array.each do |cr| %>
              <span class="badge badge-success"><%= cr %></span>
            <% end %>
          </td>
          <td>
            <% shipper_lane.lane_destination_to_array.each do |cr| %>
              <span class="badge badge-primary"><%= cr %></span>
            <% end %>
          </td>
          <td>
            <% shipper_lane.commodities_to_array.each do |cr| %>
              <span class="badge badge-inverse"><%= cr %></span>
            <% end %>
          </td>
          <td><%= shipper_lane.truck_per_week %></td>
          <td><%= shipper_lane.preferred_load_day_initials %></td>
          <td><%= shipper_lane.prefer_team ? "<b class='text-success'>Yes</b>".html_safe : "<i class='text-danger'>No</i>".html_safe %></td>
        </tr>
      <% end %>
    <% end %>
    <% if !lane_2.nil? %>
      <% lane_2.each do |shipper_lane| %>
        <tr class="lane-priority-<%= shipper_lane.lane_priority %>">
          <td>
            <% shipper_lane.lane_origin_to_array.each do |cr| %>
              <span class="badge badge-success"><%= cr %></span>
            <% end %>
          </td>
          <td>
            <% shipper_lane.lane_destination_to_array.each do |cr| %>
              <span class="badge badge-primary"><%= cr %></span>
            <% end %>
          </td>
          <td><%= shipper_lane.truck_per_week %></td>
          <td><%= shipper_lane.preferred_load_day_initials %></td>
          <td><%= shipper_lane.prefer_team ? "<b class='text-success'>Yes</b>".html_safe : "<i class='text-danger'>No</i>".html_safe %></td>
        </tr>
      <% end %>
    <% end %>
    <% if !lane_3.nil? %>
      <% lane_3.each do |shipper_lane| %>
        <tr class="lane-priority-<%= shipper_lane.lane_priority %>">
          <td>
            <% shipper_lane.lane_origin_to_array.each do |cr| %>
              <span class="badge badge-success"><%= cr %></span>
            <% end %>
          </td>
          <td>
            <% shipper_lane.lane_destination_to_array.each do |cr| %>
              <span class="badge badge-primary"><%= cr %></span>
            <% end %>
          </td>
          <td><%= shipper_lane.truck_per_week %></td>
          <td><%= shipper_lane.preferred_load_day_initials %></td>
          <td><%= shipper_lane.prefer_team ? "<b class='text-success'>Yes</b>".html_safe : "<i class='text-danger'>No</i>".html_safe %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
