<table class="table table-striped table-bordered data-table-buttons display nowrap" id="engagement_table">
  <thead>
    <tr class="odd gradeX">
      <th>Campaign</th>
      <th>Open Date</th>
      <th>Type</th>
      <th>Contact</th>
      <th>Steward</th>
      <th>Annual Value</th>
      <th>Status</th>
      <th>Date Opened</th>
      <th>Date Closed</th>
      <th data-orderable="false">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% shipper_activities.each do |shipper_activity| %>
      <tr>
        <td><%= shipper_activity.campaign_name %></td>
        <td><%= shipper_activity.date_stamp %></td>
        <td><%= shipper_activity.activity_type %></td>
        <td><%= shipper_activity.shipper_contact.nil? ? "" : (link_to "#{shipper_activity.shipper_contact.full_name}", edit_shipper_contact_path(shipper_activity.shipper_contact)) %></td>
        <td><%= shipper_activity.user.nil? ? "" : (link_to "#{shipper_activity.user.first_name} #{shipper_activity.user.last_name}", shipper_activity.user) %></td>
        <td><%= shipper_activity.annual_value %></td>
        <td><%= shipper_activity.status ? 'Open' : 'Closed' %></td>
        <td><%= convert_date(shipper_activity.date_opened) %></td>
        <td><%= convert_date(shipper_activity.date_closed) %></td>
        <td>
          <%= link_to '<i class="far fa-eye"></i>'.html_safe, shipper_activity_path(:id => shipper_activity.id, :previous_controller => params[:controller]), :class => 'btn btn-info btn-xs' %>
          <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_shipper_activity_path(:id => shipper_activity.id, :previous_controller => params[:controller]), :class => 'btn btn-warning btn-xs' %>
          <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, shipper_activity_path(:id => shipper_activity.id, :previous_controller => params[:controller]), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
