<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Signals', sub_header_title: 'Create/Edit/View'%>
<!-- end page-header -->
<!-- begin panel -->

<%= form_with(model: master_signal, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
<div class="row">

  <div class="col-lg-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn">
        </div>
        <h4 class="panel-title"> <%= params[:action] == 'new' ? 'Create New Signal' : "Edit Signal ##{generate_alphanumeric_id(rate.rate_type, rate.id)}"%></h4>
      </div>
      <div class="panel-body">
        <% if master_signal.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(master_signal.errors.count, "error") %> prohibited this master_signal from being saved:</h2>

            <ul>
            <% master_signal.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
                <div class="form-group row m-b-15">
                  <%= form.label :signal_type, 'Type *:', class: 'col-md-4 col-sm-4 col-form-label' %>
                  <div class="col-md-8 col-sm-8">
                  <%= form.select :signal_type, options_for_select(['Demand', 'Capacity'], master_signal.signal_type),{:include_blank => true}, class: 'form-control', 'data-parsley-required' => true %>
                  </div>
                </div>
                <div class="form-group row m-b-15">
                  <%= form.label :signal_date, 'Date:', class: 'col-md-4 col-sm-4 col-form-label' %>
                  <div class="col-md-8 col-sm-8">
                  <%= form.date_select :signal_date, class: 'form-control', order: [:month, :day, :year], use_short_month: true %>
                  </div>
                </div>
                <div class="form-group row m-b-15">
                  <%= form.label :client_id, 'Client *:', class: 'col-md-4 col-sm-4 col-form-label' %>
                  <div class="col-md-8 col-sm-8">
                  <%= form.select :client_id, Client.all.collect {|l| [l.company_name, l.id]},{:include_blank => true, :selected => master_signal.client_id}, class: 'form-control', id: 'client_id', 'data-parsley-required' => true %>
                  </div>
                </div>
                <div class="form-group row m-b-15">
                  <%= form.label :client_contact_id, 'Contact *:', class: 'col-md-4 col-sm-4 col-form-label' %>
                  <div class="col-md-8 col-sm-8">
                  <%= form.select :client_contact_id, ClientContact.all.collect {|l| ["#{l.first_name} #{l.last_name}", l.id, {'data-chained'=> "#{l.client_id}"}]},{:include_blank => true, :selected => master_signal.client_contact_id}, class: 'form-control', id: 'client_contact_id', 'data-parsley-required' => true %>
                  </div>
                </div>
                  <div class="form-group row m-b-15">
                    <%= form.label :rate_id, 'Rate:', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                    <%= form.select :rate_id, Rate.all.collect {|r| [ generate_alphanumeric_id(r.rate_type, r.id), r.id ] },{:include_blank => true, :selected => master_signal.rate_id}, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group row m-b-15">
                    <%= form.label :start_date, 'Start Date:', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                    <%= form.date_select :start_date, class: 'form-control', order: [:month, :day, :year], use_short_month: true %>
                    </div>
                  </div>
                  <div class="form-group row m-b-15">
                    <%= form.label :end_date, 'End Date:', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                    <%= form.date_select :end_date, class: 'form-control', order: [:month, :day, :year], use_short_month: true %>
                    </div>
                  </div>
                  <div class="form-group row m-b-15">
                    <%= form.label :duration, 'Duration:', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                    <%= form.select :duration, options_for_select(['Now', 'Temporary', 'Ongoing'], master_signal.duration),{:include_blank => true}, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group row m-b-15">
                    <%= form.label :volume, 'Volume:', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                    <%= form.number_field :volume, class: 'form-control'%>
                    </div>
                  </div>
                  <div class="form-group row m-b-15">
                    <%= form.label :uom, 'UOM:', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                    <%= form.select :uom, options_for_select(['LBS', 'Loads', 'Pallets'], master_signal.uom),{:include_blank => true}, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group row m-b-15">
                    <%= form.label :per, 'Per:', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                    <%= form.select :per, options_for_select(['Day', 'Week', 'Month', 'Year'], master_signal.per),{:include_blank => true}, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group row m-b-15">
                    <%= form.label :capacity_type, 'Capacity Type:', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                    <%= form.select :capacity_type, options_for_select(['Front Haul', 'Back Haul'], master_signal.per),{:include_blank => true}, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group row m-b-15">
                    <%= form.label :max_origin, 'Max Origin Diversion (in Miles):', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                    <%= form.select :max_origin, options_for_select(['0-50', '50-100', '100-250', '250-500', '>500'], master_signal.per),{:include_blank => true}, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group row m-b-15">
                    <%= form.label :max_destination, 'Max Destination Diversion (in Miles):', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                    <%= form.select :max_destination, options_for_select(['0-50', '50-100', '100-250', '250-500', '>500'], master_signal.per),{:include_blank => true}, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group row m-b-15">
                    <%= form.label :desired_rate, 'Surcharge Non Vault:', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                    <%= form.text_field :desired_rate, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group row m-b-15">
                    <%= form.label :desired_rate, 'Surcharge Non Vault:', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                    <%= form.text_field :desired_rate, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group row m-b-15">
                    <%= form.label :notes, 'Notes:', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                    <%= form.text_area(:notes, cols: 20, rows: 15,  class: 'tinymce')  %>
                    </div>
                  </div>

                </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn">
        </div>
        <h4 class="panel-title">Origin</h4>
      </div>
      <div class="panel-body">
                    <div class="form-group row m-b-15">
                      <%= form.label :origin_country, 'County:', class: 'col-md-4 col-sm-4 col-form-label' %>
                      <div class="col-md-8 col-sm-8">
                        <%= form.select :origin_country, options_for_select([]),{:include_blank => true}, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <%= form.label :origin_state, 'State:', class: 'col-md-4 col-sm-4 col-form-label' %>
                        <div class="col-md-8 col-sm-8">
                        <%= form.select :origin_state, options_for_select([]),{:include_blank => true}, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                      <%= form.label :origin_city, 'City:', class: 'col-md-4 col-sm-4 col-form-label' %>
                      <div class="col-md-8 col-sm-8">
                        <%= form.select :origin_city, Location.all.collect {|l| [l.name, l.name]},{:include_blank => true, :selected => master_signal.origin_city}, class: 'form-control'%>
                      </div>
                    </div>

                </div>
    </div>
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn">
        </div>
        <h4 class="panel-title">Destination</h4>
      </div>
      <div class="panel-body">
                  <div class="form-group row m-b-15">
                    <%= form.label :destination_country, 'County:', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                      <%= form.select :destination_country, options_for_select([]),{:include_blank => true}, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group row m-b-15">
                      <%= form.label :destination_state, 'State:', class: 'col-md-4 col-sm-4 col-form-label' %>
                      <div class="col-md-8 col-sm-8">
                      <%= form.select :destination_state, options_for_select([]),{:include_blank => true}, class: 'form-control' %>
                      </div>
                  </div>
                    <div class="form-group row m-b-15">
                      <%= form.label :destination_city, 'City:', class: 'col-md-4 col-sm-4 col-form-label' %>
                      <div class="col-md-8 col-sm-8">
                        <%= form.select :destination_city, Location.all.collect {|l| [l.name, l.name]},{:include_blank => true, :selected => master_signal.destination_city}, class: 'form-control'%>
                      </div>
                    </div>



                </div>
    </div>
    <div class="form-group row m-b-0 text-right">
      <label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
      <div class="col-md-8 col-sm-8">
        <%= form.submit 'Submit', :class => 'btn btn-primary' %>
        <% if params[:action] == 'edit' %>
          &nbsp;&nbsp;<%= link_to 'Show', master_signal, :class => 'btn btn-info' %>
        <% end %>
        <% if params[:action] == 'new' %>
          &nbsp;&nbsp;<%= link_to 'Back', master_signals_path, :class => 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% end %>
<!-- end panel -->
<%= tinymce %>
<script language="javascript">

  $("#client_contact_id").chained("#client_id");
	populateCountries("master_signal_origin_country", "master_signal_origin_state");
  <% if master_signal.origin_country.present? %>
    tiggerChangeOnSelectCountry('master_signal_origin_country', '<%= master_signal.origin_country %>')
  <% end %>
  <% if master_signal.origin_state.present? %>
    tiggerChangeOnSelectCountry('master_signal_origin_state', '<%= master_signal.origin_state %>')
  <% end %>
  populateCountries("master_signal_destination_country", "master_signal_destination_state");
  <% if master_signal.destination_country.present? %>
    tiggerChangeOnSelectCountry('master_signal_destination_country', '<%= master_signal.destination_country %>')
  <% end %>
  <% if master_signal.destination_state.present? %>
    tiggerChangeOnSelectCountry('master_signal_destination_state', '<%= master_signal.destination_state %>')
  <% end %>
</script>
