<style>
@media (max-width: 767px) {
  .text-right {
    text-align: left!important;
  }
}
</style>
<script language="javascript">
  var currentInvoiceStatus = '<%= master_invoice.own_status %>';
</script>
<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Invoices', sub_header_title: 'Create/Edit/View'%>
<!-- end page-header -->
<!-- begin panel -->
<%= form_with(model: master_invoice, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title"> <%= params[:action] == 'new' ? 'Create New Invoice' : "Edit Invoice ##{generate_two_alphanumeric_id((master_invoice.shipper.nil? ? '' : master_invoice.shipper.company_name), (master_invoice.carrier.nil? ? '' : master_invoice.carrier.company_name), master_invoice.id)}"%></h4>
  </div>
  <div class="panel-body">
  <% if master_invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(master_invoice.errors.count, "error") %> prohibited this master_invoice from being saved:</h2>

      <ul>
      <% master_invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <h4 class="text-inverse">Details</h4>
      <div class="form-group row m-b-15">
        <%= form.label :invoice_number, 'Invoice Number:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9  col-sm-8">
        <%= form.text_field :invoice_number, class: 'form-control' %>
        </div>
      </div>
        <div class="form-group row m-b-15">
          <%= form.label :shipment_type, 'Shipment Type*:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9  col-sm-8">
          <%= form.select :shipment_type, options_for_select(['Broker', 'Process', 'Audit'], master_invoice.shipment_type),{:include_blank => true}, class: 'form-control', 'data-parsley-required' => true %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :own_status, 'Shipment Status:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9  col-sm-8">
          <%= form.select :own_status, options_for_select(['Review', 'Approved', 'Dispute', 'Corrected', 'ReBill'], master_invoice.own_status),{}, class: 'form-control', :id => 'invoice_status' %>
          </div>
        </div>
        <div class="form-group row m-b-15 invoice-audit-comment">
          <%= form.label :invoice_audit_comment, 'Comment Notes:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.text_field :invoice_audit_comment, class: 'form-control', :id => 'invoice_audit_comment' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :shipper_id, 'Shipper *:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9  col-sm-8">
          <%= form.select :shipper_id, Client.where(:client_type => 'Shipper').collect {|l| [l.company_name, l.id]},{:include_blank => true, :selected => master_invoice.shipper_id}, class: 'form-control', 'data-parsley-required' => true %>
          </div>
        </div>

        <div class="form-group row m-b-15">
          <%= form.label :carrier_id, 'Carrier *:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9  col-sm-8">
          <%= form.select :carrier_id, Client.where(:client_type => 'Carrier').collect {|l| [l.company_name, l.id]},{:include_blank => true, :selected => master_invoice.carrier_id}, class: 'form-control', 'data-parsley-required' => true %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :master_account, 'Master Account *:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9  col-sm-8">
          <%= form.text_field :master_account, class: 'form-control', 'data-parsley-required' => true %>
          </div>
        </div>
        <div class="form-group row m-b-15 single-shipment">
          <%= form.label :single_invoice_date, 'Invoice Date:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9  col-sm-8">
            <%= form.text_field :single_invoice_date, class: 'form-control datepicker-autoClose', 'data-inputmask' => "'alias': 'mm/dd/yyyy'" %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :invoicing_period_start, 'Invoicing Period Start:', class: 'text-right col-md-2 col-sm-4 col-form-label', 'data-parsley-required' => true %>
          <div class="col-md-9  col-sm-8">
            <%= form.text_field :invoicing_period_start, class: 'form-control datepicker-autoClose', 'data-inputmask' => "'alias': 'mm/dd/yyyy'", 'data-parsley-required' => true %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :invoicing_period_end, 'Invoicing Period End:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9  col-sm-8">
            <%= form.text_field :invoicing_period_end, class: 'form-control datepicker-autoClose', 'data-inputmask' => "'alias': 'mm/dd/yyyy'", 'data-parsley-required' => true %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :total_charge, 'Total Charge:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9  col-sm-8">
          <%= form.text_field :total_charge, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :attachment_file, 'Attachment:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9  col-sm-8">
          <%= form.file_field :attachment_file, autocomplete: "attachment_file", placeholder: 'Attachment' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <label class="text-right col-md-2 col-sm-4 col-form-label"> Variance Approved?</label>
          <div class="col-md-9  col-sm-8">
            <input type="checkbox" name="variance_approved" data-render="switchery" data-theme="default" data-secondary-color="rgb(255, 91, 87)" <%= master_invoice.variance_approved ? 'checked' : '' %>/>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <label class="text-right col-md-2 col-sm-4 col-form-label"> Shipment Entry</label>
          <div class="col-md-9  col-sm-8">
              <%= form.radio_button :shipment_entry, "Single" %>&nbsp;Single<br/><br/>
              <%= form.radio_button :shipment_entry, "Multiple" %>&nbsp;Multiple
          </div>
        </div>
        <div class="shipment-fields">
        <%= render 'shipments/fields', shipment: (params[:action] == 'new' ? Shipment.new : (master_invoice.shipment.nil? ? Shipment.new : master_invoice.shipment)), form: form %>
        </div>

        <div class="form-group row m-b-15">
          <div class="col-md-2"></div>
            <div class="col-md-9 col-sm-12 d-flex justify-content-end">
              <%= form.submit 'Submit', :class => 'btn btn-primary' %>
              <% if params[:action] == 'edit' %>
                &nbsp;&nbsp;<%= link_to 'Show', master_invoice, :class => 'btn btn-info' %>
              <% end %>
              <% if params[:action] == 'new' %>
                &nbsp;&nbsp;<%= link_to 'Back', master_invoices_path, :class => 'btn btn-default' %>
              <% end %>
          </div>
        </div>
    </div>
</div>
<% end %>

<% if !master_invoice.shipment.nil? %>
  <script language="javascript">
    $(function(){
        $("#origin_location_id").val(<%= master_invoice.shipment.origin_location_id %>)
        $("#destination_location_id").val(<%= master_invoice.shipment.destination_location_id %>)
        locationDetailsOD(<%= master_invoice.shipment.origin_location_id %>, 'origin');
        locationDetailsOD(<%= master_invoice.shipment.destination_location_id %>, 'destination');
      });
  </script>
<% end %>
