<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Rates' %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    <%= link_to 'New Rate', new_shipper_rate_path, :class => 'btn btn-primary btn-xs' %>
    </div>
    <h4 class="panel-title">List of Rates</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered data-table-buttons display nowrap">
			<thead>
				<tr class="odd gradeX">
					<th>Shipper</th>
					<th>Level</th>
					<th>Steward</th>
					<th>Type</th>
					<th>Parent</th>
			    <th data-orderable="false">Actions</th>
				</tr>
			</thead>
			<tbody>
        <% @shipper_rates.each do |shipper_rate| %>
          <tr>
            <td><%= shipper_rate.shipper.nil? ? "" : (link_to shipper_rate.shipper.company_name, shipper_rate.shipper) %></td>
            <td><%= shipper_rate.rate_level %></td>
            <td><%= shipper_rate.rep.nil? ? "" : (link_to "#{shipper_rate.rep.first_name} #{shipper_rate.rep.last_name}", shipper_rate.rep) %></td>
            <td><%= shipper_rate.rate_type %></td>
            <td><%= shipper_rate.parent.nil? ? "" : (link_to shipper_rate.parent.rate_level, shipper_rate.parent) %></td>
            <td>
              <%= link_to '<i class="far fa-eye"></i>'.html_safe, shipper_rate, :class => 'btn btn-info btn-xs' %>
              <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_shipper_rate_path(shipper_rate), :class => 'btn btn-warning btn-xs' %>
              <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, shipper_rate, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs'%>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
<!-- end panel -->
