<style>
@media (max-width: 767px) {
  .text-right {
    text-align: left!important;
  }
}
</style>
<!-- begin page-header -->
<% if @client_type == "carrier" || @previous_controller == "carriers" %>
  <div class="header-scout">
    <h1 class="pull-left">
      <%= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Activity' : "Edit Activity - #{activity.carrier.nil? ? '' : link_to(activity.carrier.company_name,  activity.carrier)}" %>
    </h1>
  </div>
<% elsif @client_type == "carrier" || @previous_controller == "shippers" %>
  <div class="header-darkblue">
    <h1 class="pull-left">
      <%= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Activity' : "Edit Activity - #{activity.shipper.nil? ? '' : link_to(activity.shipper.company_name,  activity.shipper)}" %>
    </h1>
  </div>
<% else %>
  <div class="header-yelloworange">
    <h1 class="pull-left">
      <%= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Activity' : "Edit Activity" %>
    </h1>
  </div>
<% end %>
<!-- end page-header -->
<!-- begin panel -->
<%= form_with(model: activity, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
  <%= form.hidden_field :previous_params, value: @previous_controller %>
  <div class="panel panel-inverse">
    <div class="panel-heading">
      <div class="panel-heading-btn">
      </div>
      <h4 class="panel-title">Information<%= params[:action] == 'edit' ? (": " + generate_alphanumeric_id(activity.activity_type, activity.id) + " - " + activity.activity_type) : "" %></h4>
    </div>
    <div class="panel-body">
    <% if activity.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>
        <ul>
          <% activity.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <h4 class="text-inverse">Details</h4>
      <% if @previous_controller == "carriers" %>
        <%= form.hidden_field :carrier_id %>
      <% elsif @previous_controller == "shippers" %>
        <%= form.hidden_field :shipper_id %>
      <% else %>
        <% if @client_type == "carrier" %>
          <div class="form-group row m-b-15">
            <%= form.label :carrier_id, 'Carrier:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= collection_select :activity, :carrier_id, Carrier.all, :id, :company_name, {prompt: true}, {class: 'form-control'} %>
            </div>
          </div>
        <% elsif @client_type == "shipper" %>
          <div class="form-group row m-b-15">
            <%= form.label :shipper_id, 'Shipper:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= collection_select :activity, :shipper_id, Shipper.all, :id, :company_name, {prompt: true}, {class: 'form-control'} %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="form-group row m-b-15">
        <%= form.label :campaign_name, 'Campaign:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :campaign_name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :date_stamp, 'Open Date:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_field :date_stamp, class: 'form-control datepicker-autoClose', 'data-inputmask' => "'alias': 'mm/dd/yyyy'", value: (activity.date_stamp.nil? ? Time.now.strftime('%d/%m/%Y').to_s : activity.date_stamp.strftime('%d/%m/%Y').to_s), :id => "date_stamp"%>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :activity_type, 'Type:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :activity_type, options_for_select(['Initial Prospecting', 'Follow-up Prospecting', 'Initial Set-Up', 'Update Information', 'Courtesy', 'Schedule, Rates, Booking', 'RFP or Contacts', 'Proposal'], activity.activity_type), {:include_blank => false}, class: 'form-control', id: 'engagement_type' %>
        </div>
      </div>
      <div class="form-group row m-b-15 engagement-fields"  style="display: none;">
        <%= form.label :engagement_type, 'Engagement Type:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :engagement_type, options_for_select(['Phone', 'In-Person', 'E-mail'], activity.engagement_type),{:include_blank => true}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :user_id, 'Contact:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <% if @previous_controller == "carriers" ||  @client_type == "carrier" %>
            <%= collection_select :activity, :carrier_contact_id, CarrierContact.where(carrier_id: activity.carrier_id), :id, :full_name, {prompt: true}, {class: 'form-control'} %>
          <% end %>
          <% if @previous_controller == "shippers" ||  @client_type == "shipper" %>
            <%= collection_select :activity, :shipper_contact_id, ShipperContact.where(shipper_id: activity.shipper_id), :id, :full_name, {prompt: true}, {class: 'form-control'} %>
          <% end %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :annual_value, 'Annual Value:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :annual_value, options_for_select(['0-5M', '5-10M', '10-25M', '25-100M', '100M+'], activity.annual_value),{:include_blank => true}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :loads_per_week, 'Loads Per Week:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :loads_per_week, options_for_select(['1', '2-5', '6-10', '11-25', '26-50', '>50'], activity.loads_per_week),{:include_blank => true}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :proposal_pdf, 'Proposal PDF:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.file_field :proposal_pdf, multiple: true  %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :status, 'Status:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.select :status, options_for_select([['Open', true], ['Closed', false]], activity.status),{}, class: 'form-control', id: "engagement_status" %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :other_notes, 'Other Notes:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
        <div class="col-md-9 col-sm-8">
          <%= form.text_area(:other_notes, cols: 20, rows: 5,  class: 'tinymce notes')  %>
        </div>
      </div>
      <div class="outcome-fields" style="display: none;">
        <hr>
        <h4 class="text-inverse">Outcome</h4>
        <div class="form-group row m-b-15 proposal-fields"  style="display: none;">
          <%= form.label :outcome, 'Outcome:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.select :outcome, options_for_select(['Win', 'Win - Forfeit', 'Win - Customer Drop', 'Learn'], activity.outcome), {:include_blank => true}, class: 'form-control', id: "engagement_outcome"%>
          </div>
        </div>
        <div class="form-group row m-b-15 win-fields" style="display: none;">
          <%= form.label :credit_application, 'Complete Credit Application:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
          <%= form.file_field :credit_application, autocomplete: "credit_application", placeholder: 'Proposal PDF' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :reason, 'Reason:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.select :reason, options_for_select(['Price', 'Availability', 'Service', 'Relationship', 'Timing', 'Satisficed', 'Other'], activity.reason), {:include_blank => true}, class: 'form-control', id: 'engagement_reason' %>
            <%= form.text_field :reason_other, value: activity.reason_other, "data-depends-on" => "#engagement_reason", "data-depends-on-value" => "Other", class: 'form-control', placeholder: 'Please specify the reason...' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :notes, 'Notes:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.text_area(:notes, cols: 20, rows: 5,  class: 'tinymce', :value => activity.notes)  %>
          </div>
        </div>
      </div>
      <div class="win-fields">
        <hr>
        <h4 class="text-inverse ">Load Details</h4>
        <div class="form-group row m-b-15 win-fields">
          <%= form.label :load_numbers, 'Load Numbers:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
          <div class="col-md-9 col-sm-8">
            <%= form.number_field :load_numbers, class: 'form-control' %>
          </div>
        </div>
      </div>
      <% if params[:action] == 'edit' %>
        <hr>
        <h4 class="text-inverse">Rates</h4>
        <%= link_to 'New Rate', new_rate_path(:activity_id => activity.id, :previous_controller => params[:controller]), :class => 'btn btn-primary btn-xs new-rate-btn' %>
        <%= render 'rates/table', rates: Rate.where(:activity_id => activity.id), with_actions: true %>
      <% end %>
      <hr>
      <div class="form-group row m-b-15">
        <div class="col-md-2"></div>
          <div class="col-md-9 col-sm-12 d-flex justify-content-end">
          <%= form.submit 'Submit', :class => 'btn btn-primary' %>
          <% if params[:action] == 'edit' %>
            &nbsp;&nbsp;<%= link_to 'Show', activity, :class => 'btn btn-info' %>
          <% end %>
          <% if @previous_controller == "carriers" %>
            <% carrier = Carrier.find(activity.carrier_id)%>
            <% if params[:action] == 'new'  %>
              &nbsp;&nbsp;<%= link_to 'Back to Carrier', carrier, :class => 'btn btn-default' %>
            <% end %>
          <% elsif @previous_controller == "shippers" %>
            <% carrier = Shipper.find(activity.shipper_id)%>
            <% if params[:action] == 'new' %>
              &nbsp;&nbsp;<%= link_to 'Back to Shipper', carrier, :class => 'btn btn-default' %>
            <% end %>
          <% else %>
            <% if params[:action] == 'new' %>
              &nbsp;&nbsp;<%= link_to 'Back', activities_path, :class => 'btn btn-default' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- end panel -->
<%= tinymce %>
<!-- end panel -->

<% if @previous_controller == "activities" %>
<script language="javascript">
  $(document).ready(function() {
    <% if @client_type == "carrier"%>
      loadContacts('carrier', 'activity', "<%= activity.carrier_id%>", "<%= activity.carrier_contact_id%>")
      $("#activity_shipper_contact_id").hide();
      $("#activity_carrier_id").change(function() {
        loadContacts('carrier', 'activity', $(this).val(), "<%= activity.carrier_contact_id%>")
      });
    <% elsif @client_type == "shipper" %>
      loadContacts('shipper', 'activity', "<%= activity.shipper_id%>", "<%= activity.shipper_contact_id%>")
      $("#activity_carrier_contact_id").hide();
      $("#activity_shipper_id").change(function() {
        loadContacts('shipper', 'activity', $(this).val(), "<%= activity.shipper_contact_id%>")
      });
    <% end %>
    tinymce.init({
      console.log("hello")
      selector: 'textarea',  // change this value according to your HTML
      forced_root_block : ""
    });
  });
</script>
<% end %>
