<% if params[:controller] == "activities" %>
  <style>
    .tooltip-inner {
      background-color: #dd8b00!important;
    }
    .tooltip .arrow::before{
      border-right-color: #dd8b00!important;
    }
  </style>
<% end %>
<table class="table table-striped table-bordered display"  id="activities_table">
  <thead>
    <tr class="odd gradeX">
      <th data-orderable="false">Actions</th>
      <th>Owner</th>
      <th>Status</th>
      <th>Type</th>
      <th>LPW</th>
      <th>Annual</th>
      <th>Open</th>
      <th>Close</th>
      <th>Outcome</th>
      <th>Reason</th>
      <th>Learned</th>
      <% if show_carrier || show_shipper %>
        <% if show_carrier %>
          <th>Carrier</th>
        <% end %>
        <% if show_shipper %>
          <th>Shipper</th>
        <% end %>
        <th>Contact Activity</th>
        <th>Priority</th>
        <th>City</th>
        <th>State</th>
      <% end %>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th data-orderable="false">Actions</th>
      <th>Owner</th>
      <th>Status</th>
      <th>Type</th>
      <th>LPW</th>
      <th>Annual</th>
      <th>Open</th>
      <th>Close</th>
      <th>Outcome</th>
      <th>Reason</th>
      <th width="250px">Learned</th>
      <% if show_carrier || show_shipper %>
        <% if show_carrier %>
          <th>Carrier</th>
        <% end %>
        <% if show_shipper %>
          <th>Shipper</th>
        <% end %>
        <th width="150px">Contact Activity</th>
        <th>Priority</th>
        <th>City</th>
        <th>State</th>
      <% end %>
    </tr>
  </tfoot>
  <tbody class="spacer">
    <% if !activities.nil? %>
      <% activities.each do |activity| %>
        <tr>
          <td nowrap>
          <%= link_to '<i class="far fa-eye"></i>'.html_safe, activity_path(:id => activity.id, :previous_controller => current_controller), :class => 'btn btn-info btn-xs' %>
            <% if !activity.carrier.nil? %>
              <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_activity_path(:id => activity.id, :previous_controller => current_controller, :client_type => "carrier"), :class => 'btn btn-warning btn-xs' %>
            <% elsif !activity.shipper.nil? %>
              <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_activity_path(:id => activity.id, :previous_controller => current_controller, :client_type => "shipper"), :class => 'btn btn-warning btn-xs' %>
            <% end %>
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, activity_path(:id => activity.id, :previous_controller => current_controller), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs'%>
          </td>
          <td nowrap><%= activity.user.nil? ? "" : (link_to "#{activity.user.first_name} #{activity.user.last_name}", activity.user) %></td>
          <td><%= activity.status ? 'Open' : 'Closed' %></td>
          <td nowrap><%= activity.activity_type %></td>
          <td><%= activity.loads_per_week %></td>
          <td><%= activity.annual_value %></td>
          <td nowrap><%= convert_date(activity.date_opened) %></td>
          <td nowrap><%= convert_date(activity.date_closed) %></td>
          <td><%= activity.outcome %></td>
          <td><%= activity.reason %></td>
          <td><%= activity.notes.nil? ? "" : activity.notes.html_safe %></td>
          <% if show_carrier || show_shipper %>
            <% if show_carrier %>
            <td>
              <span
                data-toggle="tooltip"
                data-placement="right"
                data-html="true"
                title="
                  <b>Name</b>: <%= activity.carrier && (activity.carrier.company_name.blank? ? "(no name)" : activity.carrier.company_name) %><br>
                  <b>Ops Name</b>: <%= activity.carrier && (activity.carrier.poc.nil? ? '' : activity.carrier.poc.full_name) %><br>
                  <b>Ops Phone</b>: <%= activity.carrier && (activity.carrier.poc.nil? ? '' : ((!activity.carrier.poc.primary_phone.nil? && activity.carrier.poc.primary_phone != "") ? (activity.carrier.poc.primary_phone + " (#{activity.carrier.poc.primary_phone_type})") : "")) %><br>
                  <b>Ops Email</b>: <%= activity.carrier && (activity.carrier.poc.nil? ? '' : activity.carrier.poc.email) %><br>
                  <b>Class</b>: <%= activity.carrier && (activity.carrier.sales_priority) %><br>
                  <b>MC Number</b>: <%= activity.carrier && (activity.carrier.mc_number) %><br>
                  <b>Reefers Count</b>: <%= activity.carrier && activity.carrier.reefers %><br>
                  <b>Sate/Province</b>: <%= activity.carrier && (activity.carrier.location.nil? ? '' : activity.carrier.location.state) %><br>
                  <b>Last Contact Date</b>: <%= activity.carrier && (activity.carrier.last_contact_date.nil? || activity.carrier.last_contact_date.date_opened.nil? ? "" : activity.carrier.last_contact_date.date_opened.strftime('%d/%m/%Y').to_s) %><br>
                ">
                  <%= activity.carrier && link_to(activity.carrier.company_name.blank? ? "(no name)" : activity.carrier.company_name, activity.carrier) %>
              </span>
            </td>
            <% end %>
            <% if show_shipper %>
              <td>
                <span
                  data-toggle="tooltip"
                  data-placement="right"
                  data-html="true"
                  title="
                    <b>Name</b>: <%= activity.shipper && (activity.shipper.company_name.blank? ? "(no name)" : activity.shipper.company_name) %><br>
                    <b>DM Name</b>: <%= activity.shipper && (activity.shipper.pdm.nil? ? '' : activity.shipper.pdm.full_name) %><br>
                    <b>DM Phone</b>: <%= activity.shipper && (activity.shipper.pdm.nil? ? '' : ((!activity.shipper.pdm.primary_phone.nil? && activity.shipper.pdm.primary_phone != "") ? (activity.shipper.pdm.primary_phone + " (#{activity.shipper.pdm.primary_phone_type})") : "")) %><br>
                    <b>DM Email</b>: <%= activity.shipper && (activity.shipper.pdm.nil? ? '' : activity.shipper.pdm.email) %><br>
                    <b>Class</b>: <%= activity.shipper && (activity.shipper.sales_priority) %><br>
                    <b>City</b>: <%= activity.shipper && (activity.shipper.location.nil? ? '' : activity.shipper.location.city) %><br>
                    <b>Sate/Province</b>: <%= activity.shipper && (activity.shipper.location.nil? ? '' : activity.shipper.location.state) %><br>
                    <b>Last Contact Date</b>: <%= activity.shipper && (activity.shipper.last_contact_date.nil? || activity.shipper.last_contact_date.date_opened.nil? ? "" : activity.shipper.last_contact_date.date_opened.strftime('%d/%m/%Y').to_s) %><br>
                  ">
                    <%= activity.shipper && link_to(activity.shipper.company_name.blank? ? "(no name)" : activity.shipper.company_name, activity.shipper) %>
                </span>
              </td>
            <% end %>
            <% if show_carrier && !activity.carrier.nil? %>
              <td nowrap><%= activity.carrier_contact.nil? ? "" : (link_to "#{activity.carrier_contact.full_name}", edit_carrier_contact_path(activity.carrier_contact)) %></td>
              <td><%= activity.carrier.nil? || activity.carrier.sales_priority.blank? ? "" : activity.carrier.sales_priority %></td>
              <td><%= activity.carrier.nil? || activity.carrier.head_office_location.nil? ? "" : activity.carrier.head_office_location.city %></td>
              <td><%= activity.carrier.nil? || activity.carrier.head_office_location.nil? ? "" : activity.carrier.head_office_location.state %></td>
            <% elsif show_shipper && !activity.shipper.nil? %>
              <td nowrap><%= activity.shipper_contact.nil? ? "" : (link_to "#{activity.shipper_contact.full_name}", edit_shipper_contact_path(activity.shipper_contact)) %></td>
              <td><%= activity.shipper.nil? || activity.shipper.sales_priority.blank? ? "" : activity.shipper.sales_priority %></td>
              <td><%= activity.shipper.nil? || activity.shipper.head_office_location.nil? ? "" : activity.shipper.head_office_location.city %></td>
              <td><%= activity.shipper.nil? || activity.shipper.head_office_location.nil? ? "" : activity.shipper.head_office_location.state %></td>
            <% else %>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script language="javascript">
  $(document).ready(function() {
    filterTable("activities_table");
  });
</script>
