<!-- begin page-header -->
<%#= render 'layouts/static/header', header_title: 'Activities' %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel panel-yelloworange">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <% if !is_mobile %>
          <%= link_to 'New Carrier Activity', new_activity_path(:previous_controller => params[:controller], :client_type => "carrier"), :class => 'btn btn-warning btn-xs m-font' %>
          <%= link_to 'New Shipper Activity', new_activity_path(:previous_controller => params[:controller], :client_type => "shipper"), :class => 'btn btn-warning btn-xs m-font' %>
        <% else %>
          <div class="btn-group">
            <button class="btn btn-warning btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              New Activity
            </button>
            <div class="dropdown-menu">
              <%= link_to 'New Carrier Activity', new_activity_path(:previous_controller => params[:controller], :client_type => "carrier"), :class => 'dropdown-item' %>
              <%= link_to 'New Shipper Activity', new_activity_path(:previous_controller => params[:controller], :client_type => "shipper"), :class => 'dropdown-item' %>
            </div>
          </div>
        <% end %>
      </div>
      <h4 class="panel-title lp-header">Activities</h4>
    </div>
    <div class="panel-body">
      <!-- <%# if current_user.has_role?(:admin) %>
        <%#= render 'table', activities: @activities.order('date_closed DESC NULLS FIRST'), show_carrier: true, show_shipper: true, current_controller: params[:controller] %>
      <% else %> -->
        <%= render 'table', activities: Activity.where("user_id = ?", current_user.id).order('date_closed DESC NULLS FIRST'), show_carrier: true, show_shipper: true, current_controller: params[:controller] %>
      <%# end %>
    </div>
  </div>
</div>
<!-- end panel -->
