
<style>
@media (max-width: 767px) {
  label {
    text-align: left!important;
  }
}
label {
  text-align: right;
}
</style>
<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Activities', sub_header_title: 'Create/Edit/View'%>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <%= link_to 'Edit', edit_activity_path(@activity), :class => 'btn btn-warning btn-xs' %>&nbsp;&nbsp;
      <% if @previous_controller == "clients"%>
        <% client = Client.find(@activity.client_id)%>
        <%= link_to 'Back to Client', client, :class => 'btn btn-info' %>
    <% else %>
        <%= link_to 'Back', activities_path, :class => 'btn btn-default btn-xs' %>
    <% end %>
    </div>
    <h4 class="panel-title">  Activity #<%= generate_alphanumeric_id((@activity.client.nil? ? "" : "#{@activity.client.company_name}"), @activity.id) %></h4>
  </div>
  <div class="panel-body">
    <h4 class="text-inverse">Outcome</h4>
    <div class="form-group row m-b-15">
      <label class="col-md-2 col-form-label">ID:</label>
      <div class="col-md-9" style="padding-top:7px;">
        <%= generate_alphanumeric_id(@activity.activity_type, @activity.id) %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-2 col-form-label">Type:</label>
      <div class="col-md-9" style="padding-top:7px;">
        <%= @activity.activity_type %>
      </div>
    </div>
    <% if @activity.activity_type == "Engagement" %>
      <div class="form-group row m-b-15">
        <label class="col-md-2 col-form-label">Engagement Type:</label>
        <div class="col-md-9" style="padding-top:7px;">
          <%= @activity.engagement_type %>
        </div>
      </div>
    <% end %>
    <div class="form-group row m-b-15">
      <label class="col-md-2 col-form-label">Client:</label>
      <div class="col-md-9" style="padding-top:7px;">
      <%= @activity.client.nil? ? "" : "#{@activity.client.company_name}" %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-2 col-form-label">Rep:</label>
      <div class="col-md-9" style="padding-top:7px;">
      <%= @activity.rep.nil? ? "" : "#{@activity.rep.first_name} #{@activity.rep.last_name}" %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-2 col-form-label">Annual Value:</label>
      <div class="col-md-9" style="padding-top:7px;">
        <%= @activity.annual_value %>
      </div>
    </div>

    <div class="form-group row m-b-15">
      <label class="col-md-2 col-form-label">Status:</label>
      <div class="col-md-9" style="padding-top:7px;">
      <%= @activity.status ? 'Open' : 'Closed' %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-2 col-form-label">Date Opened:</label>
      <div class="col-md-9" style="padding-top:7px;">
        <%= convert_date(@activity.date_opened) %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-2 col-form-label">Date Closed:</label>
      <div class="col-md-9" style="padding-top:7px;">
        <%= convert_date(@activity.date_closed) %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-2 col-form-label">Other Notes:</label>
      <div class="col-md-9" style="padding-top:7px;">
        <%= @activity.other_notes.nil? ? "" : @activity.other_notes.html_safe %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-2 col-form-label">Complete Credit Application:</label>
      <div class="col-md-9" style="padding-top:7px;">
        <% if @activity.credit_application.attached? %>
          <%= link_to @activity.credit_application.filename, rails_blob_path(@activity.credit_application, disposition: 'attachment') %>
        <% end %>
      </div>
    </div>

    <% if !@activity.outcome_id.nil? %>
        <hr>
        <h4 class="text-inverse">Outcome</h4>
        <div class="form-group row m-b-15">
          <label class="col-md-2 col-form-label">ID:</label>
          <div class="col-md-9" style="padding-top:7px;">
            <%= generate_alphanumeric_id(@activity.activity_type, @activity.id) %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <label class="col-md-2 col-form-label">Outcome:</label>
          <div class="col-md-9" style="padding-top:7px;">
            <%= @activity.outcome.outcome %>
          </div>
        </div>
          <div class="form-group row m-b-15">
            <label class="col-md-2 col-form-label">Reason:</label>
            <div class="col-md-9" style="padding-top:7px;">
              <%= @activity.outcome.reason %>
            </div>
          </div>

        <div class="form-group row m-b-15">
          <label class="col-md-2 col-form-label">Notes:</label>
          <div class="col-md-9" style="padding-top:7px;">
            <%= @activity.outcome.notes.nil? ? "" : @activity.outcome.notes.html_safe %>
          </div>
        </div>
    <% end %>
    <hr>
    <h4 class="text-inverse">Proposed PDFs</h4>
    <table class="table table-striped table-bordered data-table-no-buttons">
      <thead>
        <tr class="odd gradeX">
          <th width="1%"></th>
          <th class="text-nowrap">Name</th>
          <th class="text-nowrap">Date</th>
          <th class="text-nowrap" data-orderable="false"></th>
        </tr>
      </thead>
      <tbody>
        <% @activity.proposal_pdf.each_with_index do |attachment_file, index| %>
        <tr>
          <td><%= attachment_file.id %></td>
          <td><%= attachment_file.filename %></td>
          <td><%= convert_date(attachment_file.created_at) %></td>
          <td>
            <%= link_to '<i class="fas fa-download"></i>'.html_safe, rails_blob_path(attachment_file, disposition: 'attachment'), :class => 'btn btn-primary' %>
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, remove_attachment_activities_path(:id => @activity.id, :attachment_id => attachment_file.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'%>
          </td>

        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<!-- end panel -->
