<% if params[:controller] != 'master_invoices'%>
  <div class="panel panel-inverse">
    <div class="panel-heading">
      <h4 class="panel-title">Shipment Form</h4>
    </div>
  <div class="panel-body">
<% end %>

<script language="javascript">
  var currentShipmentStatus = '<%= shipment.shipment_status %>';
</script>
<hr>
<h4 class="text-inverse">Basic Information</h4>
<div class="form-group row m-b-15">
  <%= form.label :account_number, 'Account Number:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :account_number, class: 'form-control', value: shipment.account_number  %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :shipment_status, 'Shipment Status:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.select :shipment_status, options_for_select(['Review', 'Approved', 'Dispute', 'Corrected', 'ReBill'], shipment.shipment_status),{}, class: 'form-control', :id => "shipment_status" %>
  </div>
</div>
<div class="form-group row m-b-15 shipment-audit-comment">
  <%= form.label :shipment_audit_comment, 'Comment Notes:', class: 'text-right col-md-2 col-sm-4 col-form-label', :id => 'shipment_audit_comment' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :shipment_audit_comment, class: 'form-control' %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :shipment_date, 'Shipment Date:', class: 'text-right col-md-2 col-sm-4 col-form -label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :shipment_date, class: 'form-control datepicker-autoClose', 'data-inputmask' => "'alias': 'mm/dd/yyyy'", value: shipment.shipment_date, :id => "shipment_date"%>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :received_date, 'Received Date:', class: 'text-right col-md-2 col-sm-4 col-form -label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :received_date, class: 'form-control datepicker-autoClose', 'data-inputmask' => "'alias': 'mm/dd/yyyy'", value: shipment.received_date, :id => "received_date"%>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :transit_time, 'Transit Time:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :transit_time, class: 'form-control', value: shipment.transit_time, :id => "transit_time", :readonly => true %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :own_type, 'Shipment Type:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.select :own_type, options_for_select(['Inbound', 'Outbound', 'Drop-Ship', 'Stock', 'Transfer', 'Customer Return', 'Supplier Return'], shipment.own_type),{:include_blank => true}, class: 'form-control' %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :client_reference, 'Client Reference:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :client_reference, class: 'form-control tags-input', 'data-role' => 'tagsinput', value: shipment.client_reference  %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :tracking_number, 'Tracking Number:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :tracking_number, class: 'form-control', value: shipment.tracking_number  %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :terms, 'Terms:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.select :terms, options_for_select(['Prepaid', 'Collect'], shipment.terms),{:include_blank => true}, class: 'form-control' %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :notes, 'Notes:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_area(:notes, cols: 20, rows: 15,  class: 'tinymce', :value => shipment.notes)  %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :shipment_attachment_file, 'Attachment:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.file_field :shipment_attachment_file  %>
  </div>
</div>
<hr>
<h4 class="text-inverse">Origin</h4>

<% shipper_locations = get_shipper_locations(shipment.header) %>
<%= render 'shipments/address_form', form: form, name: 'origin', locations: Location.where(:is_origin => true)  %>

<hr>
<h4 class="text-inverse">Destination</h4>
<%= render 'shipments/address_form', form: form, name: 'destination', locations: Location.where(:is_destination => true)  %>

<hr>
<h4 class="text-inverse">Map</h4>

<div class="form-group row m-b-15">
  <label class="text-right col-md-2 col-sm-4 col-form-label">Distance</label>
  <div class="col-md-9 col-sm-8">
    <input class="form-control" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '', 'placeholder': '0'" id="distance" type="text" readonly='readonly' value="<%= shipment.distance %>">
  </div>
</div>
<div class="form-group row m-b-15">
  <label class="text-right col-md-2 col-sm-4 col-form-label"></label>
  <div class="col-md-9 col-sm-8">
    <img id='map' src="https://maps.googleapis.com/maps/api/staticmap?size=512x512&maptype=roadmap\&markers=size:mid%7Ccolor:red%7C<%= shipment.origin_location.nil? ? "" : "#{shipment.origin_location.address} #{shipment.origin_location.state},#{shipment.origin_location.country}" %>%7C<%= shipment.destination_location.nil? ? "" : "#{shipment.destination_location.address} #{shipment.destination_location.state},#{shipment.destination_location.country}" %>&key=AIzaSyCbFFNkesD-8_F4lMdyihwqpARlDYmG6k0" />
  </div>
</div>


<h4>
<h4 class="text-inverse">Item Information</h4>
<div class="form-group row m-b-15">
  <%= form.label :pieces, 'Piece:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.number_field :pieces, class: 'form-control', value: shipment.pieces %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :pallets, 'Pallet:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.number_field :pallets, class: 'form-control', value: shipment.pallets %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :unit_of_weight, 'Unit of Weight:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.select :unit_of_weight, options_for_select(['kg', 'lb'], shipment.unit_of_weight),{:include_blank => true}, class: 'form-control' %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :declared_weight, 'Declared Weight:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :declared_weight, class: 'form-control', value: shipment.declared_weight, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '', 'placeholder': '0'" %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :billed_weight, 'Billed Weight:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :billed_weight, class: 'form-control', value: shipment.billed_weight, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '', 'placeholder': '0'"%>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :raw_weight, 'Reweigh Weight:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :raw_weight, class: 'form-control', 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '', 'placeholder': '0'", value: shipment.raw_weight %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :service_mode, 'Service Mode:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.select :service_mode, options_for_select(['TL', 'LTL', 'Partial TL', 'Intermodal', 'Courier - Ground', 'Courier - Air', '20 CTR', '40 CTR', 'Rail'], shipment.service_mode),{:include_blank => true}, class: 'form-control' %>
  </div>
</div>

<hr>
<h4 class="text-inverse">Bill & Surcharges</h4>
<div class="form-group row m-b-15">
  <%= form.label :money_currency, 'Currency:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.select :money_currency, options_for_select(['US', 'CDN'], "#{shipment.money_currency.present? ? shipment.money_currency : 'CDN'}"),{:include_blank => true}, class: 'form-control' %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :billed_rate, 'Billed Rate:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :billed_rate, class: 'form-control total_charge_fields total_charge_with_tax_fields', value: shipment.billed_rate, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :billed_rate_unit, 'Billed Rate Unit:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.select :billed_rate_unit, options_for_select(['Min Charge', 'Pallet', 'CWT', 'TL', 'Flat Fee', 'Base', '20 CTR', '40 CTR'], shipment.billed_rate_unit),{:include_blank => true}, class: 'form-control' %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :surcharge_ontario, 'Surcharge Ontario:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :surcharge_ontario, class: 'form-control total_charge_fields total_charge_with_tax_fields', value: shipment.surcharge_ontario, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :surcharge_non_conveyables, 'Surcharge Non Conveyables:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :surcharge_non_conveyables, class: 'form-control total_charge_fields total_charge_with_tax_fields', value: shipment.surcharge_non_conveyables, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :surcharge_non_vault, 'Surcharge Non Vault:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :surcharge_non_vault, class: 'form-control total_charge_fields total_charge_with_tax_fields', value: shipment.surcharge_non_vault, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :surchange_multi_piece, 'Surcharge Multi Piece:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :surchange_multi_piece, class: 'form-control total_charge_fields total_charge_with_tax_fields', value: shipment.surchange_multi_piece, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :surcharge_fuel, 'Surcharge Fuel:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :surcharge_fuel, class: 'form-control total_charge_fields total_charge_with_tax_fields', value: shipment.surcharge_fuel, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :surcharge_weight, 'Surcharge Weight:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :surcharge_weight, class: 'form-control total_charge_fields total_charge_with_tax_fields', value: shipment.surcharge_weight, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" %>
  </div>
</div>
<div class="form-group row m-b-15">
  <%= form.label :gst_hst_tax, 'GST/HST Tax:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :gst_hst_tax, class: 'form-control total_charge_with_tax_fields', value: shipment.gst_hst_tax, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" %>
  </div>
</div>
<% if params[:controller] != 'master_invoices'%>
  <div class="form-group row m-b-15">
    <%= form.label :total_charge, 'Total Charge:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= form.text_field :total_charge, class: 'form-control', value: shipment.total_charge, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'", :readonly => true %>
    </div>
  </div>
<% else %>
  <div class="form-group row m-b-15">
    <%= form.label :total_charge_shipment, 'Total Charge:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= form.text_field :total_charge_shipment, class: 'form-control', value: shipment.total_charge, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'", :readonly => true %>
    </div>
  </div>
<% end %>
<div class="form-group row m-b-15">
  <%= form.label :total_charge_with_tax, 'Total Charge with Tax:', class: 'text-right col-md-2 col-sm-4 col-form-label' %>
  <div class="col-md-9 col-sm-8">
    <%= form.text_field :total_charge_with_tax, class: 'form-control', value: shipment.total_charge_with_tax, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'", :readonly => true %>
  </div>
</div>

<% if params[:controller] != 'master_invoices'%>
  <div class="form-group row m-b-15">
    <div class="col-md-2"></div>
    <div class="col-md-9 col-sm-12 d-flex justify-content-end">
        <%= form.submit 'Submit', :class => 'btn btn-primary' %>
        <% if params[:action] == 'edit' %>
          &nbsp;&nbsp;<%= link_to 'Show', shipment, :class => 'btn btn-info' %>
        <% end %>
        <% if shipment.header.nil? %>
          &nbsp;&nbsp;<%= link_to 'Back', shipments_path, :class => 'btn btn-default' %>
        <% else %>
          &nbsp;&nbsp;<%= link_to 'Back to Invoice', master_invoice_path(:id => shipment.header), :class => 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= tinymce %>
