
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn">
        </div>
        <h4 class="panel-title">Basic Information</h4>
      </div>
      <div class="panel-body">
                  <div class="form-group row m-b-15">
                    <%= form.label :shipment_date, 'Shipment Date *:', class: 'col-md-4 col-sm-4 col-form-label' %>
                    <div class="col-md-8 col-sm-8">
                    <%= form.date_select :shipment_date, class: 'form-control', 'data-parsley-required' => true, order: [:month, :day, :year], use_short_month: true %>
                    </div>
                  </div>
                    <div class="form-group row m-b-15">
                      <%= form.label :tracking_number, 'Tracking Number *:', class: 'col-md-4 col-sm-4 col-form-label' %>
                      <div class="col-md-8 col-sm-8">
                      <%= form.text_field :tracking_number, class: 'form-control', 'data-parsley-required' => true %>
                      </div>
                    </div>
                    <div class="form-group row m-b-15">
                      <%= form.label :terms, 'Terms *:', class: 'col-md-4 col-sm-4 col-form-label' %>
                      <div class="col-md-8 col-sm-8">
                      <%= form.select :terms, options_for_select(['Prepaid', 'Collect', 'T????'], shipment.terms),{:include_blank => true}, class: 'form-control' %>
                      </div>
                    </div>

                </div>
    </div>
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn">
        </div>
        <h4 class="panel-title">Bill & Surcharges</h4>
      </div>
      <div class="panel-body">
        <div class="form-group row m-b-15">
          <%= form.label :billed_rate, 'Billed Rate:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :billed_rate, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :billed_rate_unit, 'Billed Rate Unit:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :billed_rate_unit, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :surcharge_ontario, 'Surcharge Ontario:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :surcharge_ontario, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :surcharge_non_conveyables, 'Surcharge Non Conveyables:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :surcharge_non_conveyables, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :surcharge_non_vault, 'Surcharge Non Vault:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :surcharge_non_vault, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :surchange_multi_piece, 'Surcharge Multi Piece:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :surchange_multi_piece, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :surcharge_fuel, 'Surcharge Ontario:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :surcharge_fuel, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :surcharge_weight, 'Surcharge Weight:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :surcharge_weight, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :gst_hst_tax, 'Gst Hst Tax:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :gst_hst_tax, class: 'form-control' %>
          </div>
        </div>
        <% if params[:controller] != 'master_invoices'%>
        <div class="form-group row m-b-15">
          <%= form.label :total_charge, 'Total Charge:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :total_charge, class: 'form-control' %>
          </div>
        </div>
        <% else %>
        <div class="form-group row m-b-15">
          <%= form.label :total_charge_shipment, 'Total Charge:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :total_charge_shipment, class: 'form-control', value: shipment.total_charge %>
          </div>
        </div>

        <% end %>
        <div class="form-group row m-b-15">
          <%= form.label :total_charge_with_tax, 'Total Charge with Tax:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :total_charge_with_tax, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn">
        </div>
        <h4 class="panel-title">Location</h4>
      </div>
      <div class="panel-body">
        <div class="form-group row m-b-15">
          <%= form.label :origin_id, 'Origin *:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.select :origin_id, Client.all.collect {|l| [l.company_name, l.id]},{:include_blank => true, :selected => shipment.origin_id}, class: 'form-control', 'data-parsley-required' => true %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :origin_location_id, 'Origin Location *:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.select :origin_location_id, ClientLocation.all.collect {|l| [l.name, l.id]},{:include_blank => true, :selected => shipment.origin_location_id}, class: 'form-control', 'data-parsley-required' => true %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :destination_id, 'Destination *:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.select :destination_id, Client.all.collect {|l| [l.company_name, l.id]},{:include_blank => true, :selected => shipment.destination_id}, class: 'form-control', 'data-parsley-required' => true %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :destination_location_id, 'Destination Location *:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.select :destination_location_id, ClientLocation.all.collect {|l| [l.name, l.id]},{:include_blank => true, :selected => shipment.destination_location_id}, class: 'form-control', 'data-parsley-required' => true %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :distance, 'Distance:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.text_field :distance, class: 'form-control' %>
          </div>
        </div>

                </div>
    </div>
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn">
        </div>
        <h4 class="panel-title">Item Information</h4>
      </div>
      <div class="panel-body">
        <div class="form-group row m-b-15">
          <%= form.label :pieces, 'Piece:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :pieces, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :pallets, 'Pallet:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :pallets, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :unit_of_weight, 'Unit of Weight:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.select :unit_of_weight, options_for_select(['kg', 'lb'], shipment.unit_of_weight),{:include_blank => true}, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :declared_weight, 'Declared Weight:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :declared_weight, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :billed_weight, 'Billed Weight:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :billed_weight, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :raw_weight, 'Raw Weight:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.number_field :raw_weight, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row m-b-15">
          <%= form.label :service_mode, 'Service Mode:', class: 'col-md-4 col-sm-4 col-form-label' %>
          <div class="col-md-8 col-sm-8">
          <%= form.select :service_mode, options_for_select(['Ground', 'Sea', 'Air'], shipment.service_mode),{:include_blank => true}, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <% if params[:controller] != 'master_invoices'%>
    <div class="form-group row text-right">
      <div class="col-md-12 col-sm-12">
        <%= form.submit 'Submit', :class => 'btn btn-primary' %>
        <% if params[:action] == 'edit' %>
          &nbsp;&nbsp;<%= link_to 'Show', shipment, :class => 'btn btn-info' %>
        <% end %>
        <% if params[:action] == 'new' %>
          &nbsp;&nbsp;<%= link_to 'Back', shipments_path, :class => 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>
