<!-- begin page-header -->
<% if @rate.activity %>
  <div class="<% if params[:action] != 'new' %><% if @rate.activity.carrier %> header-scout <% elsif @rate.activity.shipper  %> header-darkblue <% end %><% else %> header-yelloworange <% end %>">
    <h1 class="pull-left">
      <%= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Rate' : "Edit Rate " %>
    </h1>
  </div>
<% else %>
  <div class="<% if @client_type == 'carrier' || @previous_controller == "carriers" %> header-scout <% elsif @client_type == 'shipper' || @previous_controller == "shippers"  %> header-darkblue <% else %> header-emerald <% end %>">
    <h1 class="pull-left">
      <%= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Rate' : "Edit Rate " %>
    </h1>
  </div>
<% end %>
<!-- end page-header -->

<!-- begin panel -->
<%= form_with(model: rate, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
  <div class="panel panel-inverse">
    <div class="panel-heading">
      <div class="panel-heading-btn">
      </div>
      <% if @rate.activity %>
        <h4 class="panel-title">Information<%= params[:action] == 'edit' ? (": " + generate_alphanumeric_id(rate.activity.activity_type, rate.id) + " - #{rate.activity.activity_type}") : "" %></h4>
      <% else %>
        <h4 class="panel-title">Information</h4>
      <% end %>
    </div>
    <div class="panel-body">
      <% if rate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(rate.errors.count, "error") %> prohibited this rate from being saved:</h2>
          <ul>
            <% rate.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <hr>
      <h4 class="text-inverse">Origin</h4>
      <div class="form-group row m-b-15">
        <%= form.label :origin_city, 'City / Town:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.text_field :origin_city, class: 'form-control', :autocomplete => "none" %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :origin_state, 'Province / State:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.select :origin_state, options_for_select([]),{:include_blank => true}, class: 'form-control static-dropdown' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :origin_country, 'Country:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.select :origin_country, options_for_select([]), {}, class: 'form-control static-dropdown' %>
        </div>
      </div>
      <hr>
      <h4 class="text-inverse">Destination</h4>
      <div class="form-group row m-b-15">
        <%= form.label :destination_city, 'City / Town:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.text_field :destination_city, class: 'form-control', :autocomplete => "none" %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :destination_state, 'Province / State:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.select :destination_state, options_for_select([]),{:include_blank => true}, class: 'form-control static-dropdown' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :destination_country, 'Country:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.select :destination_country, options_for_select([]), {}, class: 'form-control static-dropdown' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :miles, 'Miles:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.text_field :miles, class: 'form-control', :readonly => true %>
        </div>
      </div>
      <h4 class="text-inverse">Details</h4>
      <% if @previous_controller == "carriers" %>
        <%= form.hidden_field :carrier_id %>
      <% elsif @previous_controller == "shippers" %>
        <%= form.hidden_field :shipper_id %>
      <% elsif @previous_controller == "activities" %>
        <%= form.hidden_field :activity_id %>
      <% elsif @previous_controller == "rates" %>
        <% if @client_type == "carrier"%>
          <div class="form-group row m-b-15">
            <%= form.label :carrier_id, 'Carrier:', class: 'text-right m-position-left col-md-2 col-form-label' %>
            <div class="col-md-9">
              <%= collection_select :rate, :carrier_id, Carrier.all.order("company_name ASC"), :id, :company_name, {prompt: true, :selected => @rate_carrier_id}, {class: 'form-control'} %>
            </div>
          </div>
        <% elsif @client_type == "shipper" %>
          <div class="form-group row m-b-15">
            <%= form.label :shipper_id, 'Shipper:', class: 'text-right m-position-left col-md-2 col-form-label' %>
            <div class="col-md-9">
              <%= collection_select :rate, :shipper_id, Shipper.all, :id, :company_name, {prompt: true, :selected => @rate_shipper_id}, {class: 'form-control'} %>
            </div>
          </div>
        <% end %>
        <div class="form-group row m-b-15">
          <%= form.label :activity_id, 'Activity:', class: 'text-right m-position-left col-md-2 col-form-label' %>
          <div class="col-md-9">
            <%= form.select :activity_id, options_for_select([]),{}, class: 'form-control' %>
          </div>
        </div>
      <% else %>
        <div class="form-group row m-b-15">
          <%= form.label :activity_id, 'Activity:', class: 'text-right m-position-left col-md-2 col-form-label' %>
          <div class="col-md-9">
            <%= collection_select :rate, :activity_id, @activities, :id, :display_select_name, {prompt: true}, {class: 'form-control'} %>
          </div>
        </div>
      <% end %>
      <% if @previous_controller != "activities" %>
        <div class="form-group row m-b-15">
          <%= form.label :contact, 'Contact:', class: 'text-right m-position-left col-md-2 col-form-label' %>
          <div class="col-md-9">
            <% if @previous_controller == "carriers" %>
              <%= collection_select :rate, :carrier_contact_id, CarrierContact.where(carrier_id: rate.carrier_id), :id, :full_name, {prompt: true}, {class: 'form-control'} %>
            <% end %>
            <% if @previous_controller == "shippers" %>
              <%= collection_select :rate, :shipper_contact_id, ShipperContact.where(shipper_id: rate.shipper_id), :id, :full_name, {prompt: true}, {class: 'form-control'} %>
            <% end %>
            <% if @previous_controller == "rates" %>
                <%= form.select :carrier_contact_id, options_for_select([]),{}, class: 'form-control' %>
                <%= form.select :shipper_contact_id, options_for_select([]),{}, class: 'form-control' %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="form-group row m-b-15">
        <%= form.label :rate_type, 'Type:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.select :rate_type, options_for_select(['Spot', 'Signal'], rate.rate_type),{:include_blank => true}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :picks, 'Picks:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.select :picks, options_for_select(['1', '2', '3', '4', '5'], rate.picks),{:include_blank => true}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :drops, 'Drops:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.select :drops, options_for_select(['1', '2', '3', '4', '5'], rate.drops),{:include_blank => true}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <label class="text-right m-position-left col-md-2 col-form-label">Team:</label>
        <div class="col-md-9">
          <%= form.select :team, options_for_select(['Yes', 'No'], rate.team),{:include_blank => true}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :commodities, 'Commodities:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.select :commodities, Shipper::COMMODITY.collect {|r| [ r, r ] },{:include_blank => false, :selected => rate.commodities}, class: 'form-control multiple-select2', multiple: true %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :bid, 'Bid:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.text_field :bid, class: 'form-control', value: rate.bid, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :ask, 'Ask:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.text_field :ask, class: 'form-control', value: rate.ask, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <label class="text-right m-position-left col-md-2 col-4 col-form-label">Accepted:</label>
        <div class="col-md-9 col-8">
          <%= form.check_box :accepted, data: { render: 'switchery', theme: 'default', 'secondary-color': 'rgb(255, 91, 87)' }, checked: rate.accepted %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :cost, 'Cost:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.text_field :cost, class: 'form-control', value: rate.cost, 'data-inputmask' => "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :money_currency, 'Currency:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.select :money_currency, options_for_select(['US', 'CDN'], "#{rate.money_currency.present? ? rate.money_currency : 'CDN'}"),{:include_blank => true}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :mc_number, 'MC Number:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.text_field :mc_number, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <%= form.label :notes, 'Notes:', class: 'text-right m-position-left col-md-2 col-form-label' %>
        <div class="col-md-9">
          <%= form.text_field :notes, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row m-b-15">
        <div class="col-md-2"></div>
          <div class="col-md-92 d-flex justify-content-end">
          <%= form.submit 'Submit', :class => 'btn btn-primary' %>
          <% if params[:action] == 'edit' %>
            &nbsp;&nbsp;<%= link_to 'Show', rate, :class => 'btn btn-info' %>
          <% end %>
          <% if @previous_controller == "activities" %>
            <% activity = Activity.find(rate.activity_id)%>
              &nbsp;&nbsp;<%= link_to 'Back to Activity', activity, :class => 'btn btn-default' %>
          <% elsif @previous_controller == "carriers" %>
            <% carrier = Carrier.find(rate.carrier_id)%>
              &nbsp;&nbsp;<%= link_to 'Back to Carrier', carrier, :class => 'btn btn-default' %>
          <% elsif @previous_controller == "shippers" %>
            <% shipper = Shipper.find(rate.shipper_id)%>
              &nbsp;&nbsp;<%= link_to 'Back to Shipper', shipper, :class => 'btn btn-default' %>
          <% else %>
              &nbsp;&nbsp;<%= link_to 'Back', rates_path, :class => 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%#= tinymce %>
<!-- end panel -->
<script language="javascript">

  $("#rate_commodities").val(<%= raw rate.commodities_to_array %>);
    $(function(){
  populateCountries("rate_origin_country", "rate_origin_state");
  populateCountries("rate_destination_country", "rate_destination_state");
  <% if rate.origin_country.present? %>
    tiggerChangeOnSelectCountry('rate_origin_country', '<%= rate.origin_country %>')
  <% end %>
  <% if rate.destination_country.present? %>
    tiggerChangeOnSelectCountry('rate_destination_country', '<%= rate.destination_country %>')
  <% end %>
  <% if rate.origin_state.present? %>
    tiggerChangeOnSelectCountry('rate_origin_state', '<%= rate.origin_state.upcase %>')
  <% end %>
  <% if rate.destination_state.present? %>
    tiggerChangeOnSelectCountry('rate_destination_state', '<%= rate.destination_state.upcase %>')
  <% end %>
  });
</script>

<% if @previous_controller == "rates" %>
<script language="javascript">
  $(document).ready(function() {
    <% if @client_type == "carrier"%>
      loadActivities('carrier', "<%= @rate_carrier_id %>", "<%= rate.activity_id%>")
      $("#rate_carrier_id").change(function() {
        loadActivities('carrier', $(this).val(), "<%= rate.activity_id%>")
      });
      loadContacts('carrier', 'rate', "<%= rate.carrier_id%>", "<%= rate.carrier_contact_id%>")
      $("#rate_shipper_contact_id").hide();
      $("#rate_carrier_id").change(function() {
        loadContacts('carrier', 'rate', $(this).val(), "<%= rate.carrier_contact_id%>")
      });
    <% elsif @client_type == "shipper" %>
      loadActivities('shipper', "<%= @rate_shipper_id %>", "<%= rate.activity_id%>")
      $("#rate_shipper_id").change(function() {
        loadActivities('shipper', $(this).val(), "<%= rate.activity_id%>")
      });
      loadContacts('shipper', 'rate', "<%= rate.shipper_id%>", "<%= rate.shipper_contact_id%>")
      $("#rate_carrier_contact_id").hide();
      $("#rate_shipper_id").change(function() {
        loadContacts('shipper', 'rate', $(this).val(), "<%= rate.shipper_contact_id%>")
      });
    <% end %>
  });
</script>
<% end %>
