<% if params[:controller] == "rates" %>
  <style>
    .tooltip-inner {
      background-color: #033309!important;
    }
    .tooltip .arrow::before{
      border-right-color: #033309!important;
    }
    td.link a:visited {
      color: #033309!important;
    }
  </style>
<% elsif params[:controller] == "carriers" %>
  <style>
    td.link a:visited {
      color: #6f060b!important;
    }
  </style>
<% elsif params[:controller] == "shippers" %>
  <style>
    td.link a:visited {
      color: #013a38!important;
    }
  </style>
<% elsif params[:controller] == "activities" %>
  <style>
    td.link a:visited {
      color: #dd8b00!important;
    }
  </style>
<% end %>
<table table class="table table-striped table-bordered display nowrap"  id="rates_table">
  <thead>
    <tr class="odd gradeX">
      <th>Origin City</th>
      <th>Origin ST/PV</th>
      <th>Destination City</th>
      <th>Destination ST/PV</th>
      <th>Miles</th>
      <th>Type</th>
      <th>Picks</th>
      <th>Drops</th>
      <th>Team</th>
      <th>Commodities</th>
      <th>Bid</th>
      <th>Ask</th>
      <th>Accepted</th>
      <th>Cost</th>
      <th>Currency</th>
      <th>MC #</th>
      <th>Notes</th>
      <th>Date Created</th>
      <th>Carrier</th>
      <th>Shipper</th>
      <% if with_actions %>
        <th data-orderable="false">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Origin City</th>
      <th>Origin ST/PV</th>
      <th>Destination City</th>
      <th>Destination ST/PV</th>
      <th>Miles</th>
      <th>Type</th>
      <th>Picks</th>
      <th>Drops</th>
      <th>Team</th>
      <th>Commodities</th>
      <th>Bid</th>
      <th>Ask</th>
      <th>Accepted</th>
      <th>Cost</th>
      <th>Currency</th>
      <th>MC #</th>
      <th>Notes</th>
      <th>Date Created</th>
      <th>Carrier</th>
      <th>Shipper</th>
      <% if with_actions %>
        <th data-orderable="false">Actions</th>
      <% end %>
    </tr>
  </tfoot>
  <tbody class="spacer">
    <% rates.each do |rate| %>
      <tr>
        <td><%= rate.origin_city %></td>
        <td><%= rate.origin_state %></td>
        <td><%= rate.destination_city %></td>
        <td><%= rate.destination_state %></td>
        <td><%= rate.miles %></td>
        <td><%= rate.rate_type %></td>
        <td><%= rate.picks %></td>
        <td><%= rate.drops %></td>
        <td>
          <% if rate.team == "Yes" %>
            <b class="text-success"><%= rate.team %></b>
          <% else %>
            <b class="text-danger"><%= rate.team %></b>
          <% end %>
        </td>
        <td>
          <% rate.commodities_to_array.each do |cr| %>
            <span class="badge badge-inverse"><%= cr %></span>
          <% end %>
        </td>
        <td><%= rate.bid %></td>
        <td><%= rate.ask %></td>
        <td><%= rate.accepted ? "<b class='text-success'>Yes</b>".html_safe : "<i class='text-danger'>No</i>".html_safe %></td>
        <td><%= rate.cost %></td>
        <td><%= rate.money_currency %></td>
        <td><%= rate.mc_number %></td>
        <td><%= rate.notes %></td>
        <td><%= rate.created_at %></td>
        <td class="link">
          <% carrier = rate.carrier ? rate.carrier : (rate.activity ? rate.activity.carrier : nil) %>
          <span
            data-toggle="tooltip"
            data-placement="right"
            data-html="true"
            title="
              <b>Name</b>: <%= carrier && (carrier.company_name.blank? ? "(no name)" : carrier.company_name) %><br>
              <b>Ops Name</b>: <%= carrier && (carrier.poc.nil? ? '' : carrier.poc.full_name) %><br>
              <b>Ops Phone</b>: <%= carrier && (carrier.poc.nil? ? '' : ((!carrier.poc.primary_phone.nil? && carrier.poc.primary_phone != "") ? (carrier.poc.primary_phone + " (#{carrier.poc.primary_phone_type})") : "")) %><br>
              <b>Ops Email</b>: <%= carrier && (carrier.poc.nil? ? '' : carrier.poc.email) %><br>
              <b>Class</b>: <%= carrier && (carrier.sales_priority) %><br>
              <b>MC Number</b>: <%= carrier && (carrier.mc_number) %><br>
              <b>Reefers Count</b>: <%= carrier && carrier.reefers %><br>
              <b>Sate/Province</b>: <%= carrier && (carrier.location.nil? ? '' : carrier.location.state) %><br>
              <b>Last Contact Date</b>: <%= carrier && (carrier.last_contact_date.nil? || carrier.last_contact_date.date_opened.nil? ? "" : carrier.last_contact_date.date_opened.strftime('%d/%m/%Y').to_s) %><br>
            ">
          <%= carrier && link_to(carrier.company_name.blank? ? "(no name)" : carrier.company_name, carrier) %>
          </span>
        </td>
        <td class="link">
          <% shipper = rate.shipper ? rate.shipper : (rate.activity ? rate.activity.shipper : nil) %>
          <span
            data-toggle="tooltip"
            data-placement="right"
            data-html="true"
            title="
              <b>Name</b>: <%= shipper && (shipper.company_name.blank? ? "(no name)" : shipper.company_name) %><br>
              <b>DM Name</b>: <%= shipper && (shipper.pdm.nil? ? '' : shipper.pdm.full_name) %><br>
              <b>DM Phone</b>: <%= shipper && (shipper.pdm.nil? ? '' : ((!shipper.pdm.primary_phone.nil? && shipper.pdm.primary_phone != "") ? (shipper.pdm.primary_phone + " (#{shipper.pdm.primary_phone_type})") : "")) %><br>
              <b>DM Email</b>: <%= shipper && (shipper.pdm.nil? ? '' : shipper.pdm.email) %><br>
              <b>Class</b>: <%= shipper && (shipper.sales_priority) %><br>
              <b>City</b>: <%= shipper && (shipper.location.nil? ? '' : shipper.location.city) %><br>
              <b>Sate/Province</b>: <%= shipper && (shipper.location.nil? ? '' : shipper.location.state) %><br>
              <b>Last Contact Date</b>: <%= shipper && (shipper.last_contact_date.nil? || shipper.last_contact_date.date_opened.nil? ? "" : shipper.last_contact_date.date_opened.strftime('%d/%m/%Y').to_s) %><br>
            ">
          <%= shipper && link_to(shipper.company_name.blank? ? "(no name)" : shipper.company_name, shipper) %>
          </span>
        </td>
        <% if with_actions %>
          <td>
            <%= link_to '<i class="far fa-eye"></i>'.html_safe, rate_path(:id => rate.id, :previous_controller => params[:controller]), :class => 'btn btn-info btn-xs' %>
            <% if carrier %>
              <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_rate_path(rate, :previous_controller => params[:controller], :client_type => "carrier", :carrier_id => carrier.id), :class => 'btn btn-warning btn-xs' %>
            <% elsif shipper %>
              <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_rate_path(rate, :previous_controller => params[:controller], :client_type => "shipper", :shipper_id => shipper.id), :class => 'btn btn-warning btn-xs' %>
            <% end %>
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, rate_path(:id => rate.id, :previous_controller => params[:controller]), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs'%>
          </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script language="javascript">
  $(document).ready(function() {
    filterTable("rates_table");
  });
</script>
