<!-- begin page-header -->
<%#= render 'layouts/static/header', header_title: 'Rates' %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel panel-emerald">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <% if !is_mobile %>
          <%= link_to 'New Carrier Rate', new_rate_path(:previous_controller => params[:controller], :client_type => "carrier"), :class => 'btn btn-green btn-xs' %>
          <%= link_to 'New Shipper Rate', new_rate_path(:previous_controller => params[:controller], :client_type => "shipper"), :class => 'btn btn-green btn-xs' %>
        <% else %>
        <div class="btn-group">
          <button class="btn btn-green btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            New Rate
          </button>
          <div class="dropdown-menu">
            <%= link_to 'New Carrier Rate', new_rate_path(:previous_controller => params[:controller], :client_type => "carrier"), :class => 'dropdown-item' %>
            <%= link_to 'New Shipper Rate', new_rate_path(:previous_controller => params[:controller], :client_type => "shipper"), :class => 'dropdown-item' %>
          </div>
        </div>
        <% end %>
      </div>
      <h4 class="panel-title lp-header">Rates</h4>
    </div>
    <div class="panel-body">
        <%= render 'table', rates: Rate.all, with_actions: true %>
    </div>
  </div>
</div>
<!-- end panel -->
