<div class="row">
  <label class="col-4 col-form-label">Address:</label>
  <div class="col-8 lbl-padding-t">
    <%= location.address %>
  </div>
</div>
<div class="row">
  <label class="col-4 col-form-label">City / Town:</label>
  <div class="col-8 lbl-padding-t">
    <%= location.city %>
  </div>
</div>
<div class="row">
  <label class="col-4 col-form-label">Province / State:</label>
  <div class="col-8 lbl-padding-t">
    <%= generate_abv(location.state).upcase %>
  </div>
</div>
<div class="row">
  <label class="col-4 col-form-label">Postal / Zip:</label>
  <div class="col-8 lbl-padding-t">
    <%= location.postal %>
  </div>
</div>
<div class="row">
  <label class="col-4 col-form-label">Country:</label>
  <div class="col-8 lbl-padding-t">
    <%= location.country %>
  </div>
</div>
