<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Locations', sub_header_title: 'Create/Edit/View'%>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title"> <%= params[:action] == 'new' ? 'Create New Location' : "Edit Location - #{location.name}"%></h4>
  </div>
  <div class="panel-body">
  <%= form_with(model: location, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
  <%= form.hidden_field :client_id %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'fields', location: location, form: form %>
                <div class="form-group row m-b-0">
                  <label class="text-right col-md-2 col-sm-4 col-form-label">&nbsp;</label>
                  <div class="col-md-8 col-sm-8">
                    <%= form.submit 'Submit', :class => 'btn btn-primary' %>
                    <% client = Client.find(location.client_id)%>
                    <% if params[:action] == 'edit' %>
                      &nbsp;&nbsp;<%= link_to 'Show', client, :class => 'btn btn-info' %>
                    <% end %>
                    <% if params[:action] == 'new' %>
                      &nbsp;&nbsp;<%= link_to 'Back', client, :class => 'btn btn-default' %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
</div>
<!-- end panel -->
