<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Locations', sub_header_title: 'Create/Edit/View'%>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title"> <%= params[:action] == 'new' ? 'Create New Location' : "Edit Location ##{generate_alphanumeric_id(location.name, location.id)}"%></h4>
  </div>
  <div class="panel-body">
  <%= form_with(model: location, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

                <div class="form-group row m-b-15">
                  <%= form.label :name, 'Name *:', class: 'col-md-4 col-sm-4 col-form-label' %>
                  <div class="col-md-8 col-sm-8">
                  <%= form.text_field :name, class: 'form-control', 'data-parsley-required' => true %>
                  </div>
                </div>

                <div class="form-group row m-b-0">
                  <label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
                  <div class="col-md-8 col-sm-8">
                    <%= form.submit 'Submit', :class => 'btn btn-primary' %>
                    <% if params[:action] == 'new' %>
                      &nbsp;&nbsp;<%= link_to 'Back', locations_path, :class => 'btn btn-default' %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
</div>
<!-- end panel -->
