<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Locations', sub_header_title: 'Create/Edit/View'%>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title"> <%= params[:action] == 'new' ? 'Create New Location' : "Edit Location ##{generate_alphanumeric_id(location.name, location.id)}"%></h4>
  </div>
  <div class="panel-body">
  <%= form_with(model: location, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
              <div class="form-group row m-b-15 address-fields">
                <%= form.label :name, 'Name:', class: 'col-md-4 col-sm-4 col-form-label' %>
                <div class="col-md-8 col-sm-8">
                <%= form.text_field :name, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group row m-b-15 address-fields">
                <%= form.label :address, 'Address:', class: 'col-md-4 col-sm-4 col-form-label' %>
                <div class="col-md-8 col-sm-8">
                <%= form.text_field :address, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group row m-b-15 address-fields">
                <%= form.label :city, 'City / Town:', class: 'col-md-4 col-sm-4 col-form-label' %>
                <div class="col-md-8 col-sm-8">
                  <%= form.text_field :city, class: 'form-control'%>
                </div>
              </div>
              <div class="form-group row m-b-15 address-fields">
                <%= form.label :state, 'Province / State:', class: 'col-md-4 col-sm-4 col-form-label' %>
                <div class="col-md-8 col-sm-8">
                <%= form.select :state, options_for_select([]),{:include_blank => true}, class: 'form-control static-dropdown' %>
                </div>
              </div>
              <div class="form-group row m-b-15 address-fields">
                <%= form.label :postal, 'Postal / Zip:', class: 'col-md-4 col-sm-4 col-form-label' %>
                <div class="col-md-8 col-sm-8">
                <%= form.text_field :postal, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group row m-b-15 address-fields">
                <%= form.label :country, 'Country:', class: 'col-md-4 col-sm-4 col-form-label' %>
                <div class="col-md-8 col-sm-8">
                <%= form.select :country, options_for_select([]),{:include_blank => true}, class: 'form-control static-dropdown' %>
                </div>
              </div>

                <div class="form-group row m-b-0">
                  <label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
                  <div class="col-md-8 col-sm-8">
                    <%= form.submit 'Submit', :class => 'btn btn-primary' %>
                    <% if params[:action] == 'new' %>
                      &nbsp;&nbsp;<%= link_to 'Back', locations_path, :class => 'btn btn-default' %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
</div>
<!-- end panel -->

<script language="javascript">
	populateCountries("location_country", "location_state");
  setFieldMask('location_country', 'location_postal');

  $(function(){
    $("#location_country").change(function(){
      setFieldMask('location_country', 'location_postal');
    });
  });
  $("#location_country").val('Canada').change();

  <% if location.country.present? %>
    tiggerChangeOnSelectCountry('location_country', '<%= location.country %>')
  <% end %>
  <% if location.state.present? %>
    tiggerChangeOnSelectCountry('location_state', '<%= location.state %>')
  <% end %>
</script>
