
<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Locations', sub_header_title: 'Create/Edit/View'%>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
    </div>
    <h4 class="panel-title"><%= @location.name %></h4>
  </div>
  <div class="panel-body">
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">ID:</label>
      <div class="col-md-7">
        <%= @location.location_id %>
      </div>
    </div>
      <div class="form-group row m-b-15">
        <label class="col-md-3 col-form-label">Client ID:</label>
        <div class="col-md-7">
          <%= link_to @location.client_id, client_path(:id => Client.where(:client_id => @location.client_id).first.id) %>
        </div>
      </div>
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">Type:</label>
      <div class="col-md-7">
        <%= @location.loc_type %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">Address:</label>
      <div class="col-md-7">
        <%= @location.address %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">City:</label>
      <div class="col-md-7">
        <%= @location.city %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">State:</label>
      <div class="col-md-7">
        <%= @location.state %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">Postal:</label>
      <div class="col-md-7">
        <%= @location.postal %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">Country:</label>
      <div class="col-md-7">
        <%= @location.country %>
      </div>
    </div>
    <div class="form-group row m-b-15">
      <label class="col-md-3 col-form-label">Phone:</label>
      <div class="col-md-7">
        <%= @location.phone %>
      </div>
    </div>
    <%= link_to 'Edit', edit_location_path(@location), :class => 'btn btn-warning' %>&nbsp;&nbsp;
    <%= link_to 'Back', locations_path, :class => 'btn btn-info' %>
  </div>
</div>
<!-- end panel -->
