<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
  	<title>Piggyback</title>
  	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  	<meta content="" name="description" />
  	<meta content="" name="author" />
    <%= favicon_link_tag %>
    <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= user_signed_in? ? '' : 'pace-top bg-white'%>">
    <!-- begin #page-loader -->
    <%= render 'layouts/static/loader'%>
    	<!-- end #page-loader -->
    	<!-- begin #page-container -->
    	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    		<!-- begin #header -->
        <%= render 'layouts/static/navigations/upper_navigation'%>
    		<!-- end #header -->
    		<!-- begin #sidebar -->
        <%= render 'layouts/static/navigations/sidebar'%>
    		<!-- end #sidebar -->
    		<!-- begin #content -->
    		<div id="content" class="content">
            <%= yield %>
    		</div>
    		<!-- end #content -->
    <script>
      $(document).ready(function() {
        App.init();
        <%= (params[:action] == 'index' && params[:controller] != 'dashboards') ? 'TableManageButtons.init();' : ''%>
        <%= ((params[:action] == 'new' || params[:action] == 'edit') && params[:controller] != 'dashboards') ? 'Highlight.init();' : ''%>
        <% if flash[:error] %>
        $.gritter.add({
            title: 'ERROR',
            text: '<%= flash[:error] %>',
            sticky: false,
            time: 8000,
            class_name: 'my-sticky-class'
  });
  return false;
        <% end %>
        <% if flash[:notice] %>
        $.gritter.add({
            title: 'NOTICE',
            text: '<%= flash[:notice] %>',
            sticky: false,
            time: 8000,
            class_name: 'my-sticky-class'
  });
  return false;
        <% end %>
      });
    </script>
  </body>
</html>
